dd.not-set {
  font-style: italic;
}

.table-chrome {
    td {
        word-wrap: break-word;
    }
}

.main-section {
    .entities-grid {
        .col-actions {
            width: 225px;
        }
    }

    td.cell-actions {
        .dropdown-menu {
            a {
                margin-right: 0px;
            }
        }
    }
}
