.wizard-header-container {
  border-bottom: 1px solid $grayLightMedium;

  .wizard-title {
    float: left;
    font-size: 24px;
    font-weight: 300;
    margin-left: 20px;
    margin-top: 30px;
  }
}