.main-section .entities-grid .shared-alertcontrols-editmenu .dropdown-menu a {
	margin-right: 0;
}

.cell-actions,
.shared-basemanager-statuscell {
  white-space: nowrap;
}

.cell-actions {
  .shared-reportcontrols-editmenu {
  	display: inline-block;
  }

  .shared-alertcontrols-editmenu {
  	display: inline-block;
  }
}