.instance-header {
  height: 128px;
}

.app-header {
  height: 62px;
}

.server-class-header {
  height: 62px;
}

.all-forwarders-header {
  height: 74px;
}

.status-dialog-header {
  background-color: $grayLighter;
  padding: 20px;
  border-bottom: 1px solid $grayLightMedium;
  overflow: hidden;

  .section-header {
    padding-top: 0;

    h2.section-title {
      margin-bottom: 10px;
      word-break: break-all;
    }

    .details-header {
      dl {
        margin-bottom: 0;
      }

      dd, dt {
        line-height: 18px;
      }
    }
  }
}