.deploy-status-dialog-table {
  min-height: 250px;
  text-align: center;
}

.deploy-status-table {
  tr a {
    text-decoration: none;
  }

  td.cell {
    word-break: normal;
  }
}

.deploy-status-table-control {
  .table-caption {
    margin-bottom: 0;

    .shared-tablecaption-input {
      float: left;
    }
  }
}


.alert-info.msg {
  margin-top: 43px;

  .icon-alert {
    font-size: 200%;
    margin-right: 10px;
    vertical-align: middle;
  }
}