/*  Splunk: Live Tail */
/*  ==================== */
/*  Live Tail layout and overrides */

/* Theme Colors */
$classic-theme-color: $white;
$classic-theme-bg-color: $black;
$green-theme-color: #00CC00;
$green-theme-bg-color: $black;
$basic-theme-color: $black;
$basic-theme-bg-color: $white;


/* Livetail */
.livetail {
    color: $classic-theme-color;
    background: $classic-theme-bg-color;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;


    /* Themes */
    &.green-theme-main {
        background: $green-theme-bg-color;
        color: $green-theme-color;
        .blinker img {
            background: $green-theme-color;
        }
        .livetail-settings-icons a {
            color: $green-theme-color;
            svg polygon,
            svg path {
                fill: $green-theme-color;
            }
        }
        .livetail-search-container .search {
            border-color: $green-theme-color;
            color: $green-theme-color;
        }
        .livetail-keyword-bar {
            background: $green-theme-bg-color;
            .keyword-count,
            .timestamp {
                color: $green-theme-color;
            }
        }
    }
    &.basic-theme-main {
        background: $basic-theme-bg-color;
        color: $basic-theme-color;
        .blinker img {
            background: $basic-theme-color;
        }
        .livetail-settings-icons a {
            color: $basic-theme-color;
            svg polygon,
            svg path {
                fill: $basic-theme-color;
            }
        }
        .livetail-search-container .search {
            border-color: $basic-theme-color;
            color: $basic-theme-color;
        }
        .livetail-keyword-bar {
            background: $basic-theme-bg-color;
            .keyword-count,
            .timestamp {
                color: $basic-theme-color;
            }
        }
        .lite-bar {
            color: $basic-theme-color;
        }
    }
    input.search {
        border: 1px solid $classic-theme-color;
    }
}
.livetail-search-container {
    padding: 0 20px;
    height: 60px;
    line-height: 30px;
    .search {
        font-family: $monoFontFamily;
        padding: 8px;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        background: none;
        color: $classic-theme-color;
        transition: none;
    }
}


/* Settings icons */
.livetail-settings-icons {
    padding: 6px 22px;
    text-align: right;
    position: absolute;
    top: 0;
    right: 0;
    a {
        color: $white;
        font-size: 15px;
        line-height: 18px;
        vertical-align: middle;
        display: inline-block;
        margin-left: 20px;
        svg {
            padding: 3px 0 0 2px;
        }
    }
    .header-settings-open {
        font-size: 18px;
    }
    .header-play {
        display: none;
    }
}


/* Results */
.livetail-results-container {
    position: absolute;
    top: 80px;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px 20px 0;
    margin-bottom: 65px;
    overflow: auto;
    white-space: nowrap;
    font-family: $monoFontFamily;
    &.wrap-results {
        white-space: normal;
    }
    &.font-8, &.font-8 li {
        font-size: 8px;
    }
    &.font-10, &.font-10 li {
        font-size: 10px;
    }
    &.font-12, &.font-12 li {
        font-size: 12px;
    }
    &.font-14, &.font-14 li {
        font-size: 14px;
    }
    &.font-16, &.font-16 li {
        font-size: 16px;
    }
    &.font-18, &.font-18 li {
        font-size: 18px;
    }
    &.font-20, &.font-20 li {
        font-size: 20px;
    }
    &.font-22, &.font-22 li {
        font-size: 22px;
    }
    &.font-24, &.font-24 li {
        font-size: 24px;
    }
}
.livetail-results-list {
    list-style: none;
    margin: 0;
    li {
        padding: 0;
        word-break: break-word;
        line-height: 1.5em;
        position: relative;
    }
    .blinker img {
        margin-top: -2px;
    }
    span.highlighted-keyword {
        padding: 3px 4px 1px;
        margin: 0 -4px;
        line-height: 1.5em;
        border-radius: 8px;
    }
    .raw-result {
        position: relative;
        z-index: 5;
    }
    .keyword-match {
        position: absolute;
        top: 0;
        left: 0;
    }
}
.livetail-focus {
    opacity: 0;
    height: 50px;
}


/* Keyword bar */
.livetail-keyword-bar {
    font-size: 12px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 90;
    width: 100%;
    border-top: 1px solid $grayLight;
    background: $classic-theme-bg-color;
    color: $classic-theme-color;
    min-height: 40px;
}
.livetail-keywords-container {
    padding: 9px 0;
    margin-right: 140px;
    overflow-x: auto;
    overflow-y: hidden;
    line-height: 16px;
    white-space: nowrap;
}
.timestamp {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 10px;
    padding: 16px;
    opacity: .75;
}
.livetail-keyword {
    display: inline-block;
    margin-left: 14px;
    position: relative;
}
.keyword-name {
    vertical-align: middle;
    display: inline-block;
    padding: 4px 8px 2px;
    border-radius: 30px;
    margin-right: -3px;
}
.keyword-count {
    vertical-align: middle;
    display: inline-block;
    margin-top: 5px;
}


/* Side Nav */
.livetail-keyword-highlighting {
    position: fixed;
    top: 0;
    bottom: 0;
    right: -301px;
    width: 300px;
    background: $white;
    color: $grayDark;
    transition: right .5s;
    z-index: 100;
    border-left: 1px solid $grayLightMedium;
    overflow: auto;
    &.open {
        right: 0;
    }
}
.sidebar-header {
    font-weight: bold;
    padding: 0 0 0 14px;
    margin: 0;
    line-height: 27px;
    .close {
        &:before {
            color: $grayLightMedium;
        }
        &:hover {
            background: none;
        }
    }
}
.sidebar-body {
    padding: 14px;
}


/* Settings Popdown */
.livetail-header-settings {
    padding: 20px;
    width: 240px;
    .settings-checkbox {
        .control-label {
            position: absolute;
            margin-left: 111px;
        }
        label.checkbox {
            padding: 0;
            margin: 0 0 0 82px;
        }
    }
}
.settings-default {
    .control-label {
        margin: 0;
        text-align: right;
        width: 60px;
        vertical-align: middle;
        display: inline-block;
    }
    .controls {
        vertical-align: middle;
        display: inline-block;
        margin-left: 20px;
    }
}
.section-label {
    display: inline-block;
    padding-top: 15px;
    width: 60px;
    text-align: right;
}
.settings-section {
    margin-bottom: 10px;
}
.livetail-themes {
    margin-left: 13px;
    display: inline-block;
    vertical-align: top;
    label {
        display: inline-block;
        padding: 15px;
        vertical-align: middle;
        cursor: pointer;
        border: 1px solid $black;
        width: 90px;
        text-align: center;
    }
    input, label {
        margin: 0 0 10px 8px;
    }
    .classic-theme {
        background: $classic-theme-bg-color;
        color: $classic-theme-color;
    }
    .green-theme {
        background: $green-theme-bg-color;
        color: $green-theme-color;
    }
    .basic-theme{
        background: $basic-theme-bg-color;
        color: $basic-theme-color;
    }
}


/* Keyword Menu */
.livetail-keyword-container {
    padding: 16px 8px;

    /* Color Picker */
    .color-square {
        display: block;
        width: 25px;
        height: 25px;
    }
}
.keyword-input-container {
    width: 175px;
    margin: 0 0 0 15px;
    float: left;
    position: relative;
    .keyword-input {
        width: 150px;
        margin: 0;
        border-radius:0 !important;
    }
}
.keyword-error {
    position: absolute;
    color: $red;
    top: 30px;
}
.keywords-list {
    width: 100%;
}
.livetail-keyword-row {
    clear: both;
    white-space: nowrap;
}
.shared-controls-colorpickercontrol,
.livetail-keyword-container .close {
    display: inline-block;
    vertical-align: middle;
}
.enabled-checkbox {
    float: left;
    label.checkbox {
        padding: 0 0 0 22px;
    }
}
.remove-keyword {
    line-height: 26px;
    font-size: 14px;
    margin-left: 5px;
    color: $grayLightMedium;
    display: inline-block;
    vertical-align: middle;
}
.livetail-alarms-container {
    position: relative;
    margin-left: 24px;
    clear: both;
    width: 250px;
    .collapsible-toggle {
        position: absolute;
        top: -22px;
        &:focus {
            box-shadow: none;
            background: none;
        }
    }
}
.livetail-alarms {
    position: relative;
    padding: 16px 8px 8px;
    .threshold-container {
        width: 43px;
        display: inline-block;
        vertical-align: middle;
        input {
            width: 28px;
            padding: 4px 6px;
        }
    }
}
.control label.checkbox {
    padding: 0px 0 0px 22px;
    margin: 6px 0;
}
.screen-flash-container .control-label {
    position: absolute;
    margin-left: 25px;
}
.play-sound {
    display: inline-block;
    vertical-align: middle;
}
.sound {
    display: inline-block;
    vertical-align: middle;
    .control-label,
    .controls {
        display: inline-block;
        vertical-align: middle;
        margin: 0 5px;
    }
}
.threshold-text {
    margin-left: -8px;
}

/* Body & preload */
body {
    min-width: 0;
    background: $black;
}
.preload.blank {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $black;
}


/* Screen Flash */
.screen-flash {
    position: fixed;
    background: $white;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 5000;
}
div#screen{
    font-size: 24px;
    line-height: 24px;
}
