.dmc-context-group {
  &.filter {
    .control-group {
      float: left;
      margin: 0 10px;
    }
    .control-group:first-child {
      margin: 0px;
    }
  }
  &.filter:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
  }

  &.selector {
    .secondary {
      display: block;
      margin-left: 180px;
    }
  }
}