*                                                   @artemrys
/splunk_add_on_ucc_framework/schema/schema.json     @splunk/ucc-developers

/ui/                                                @splunk/ucc-ui-developers
*.ts                                                @splunk/ucc-ui-developers
*.tsx                                               @splunk/ucc-ui-developers

*.py                                                @splunk/ucc-be-developers
/tests @splunk/ucc-be-developers                    @splunk/ucc-be-developers
/splunk_add_on_ucc_framework @ucc-be-developers     @splunk/ucc-be-developers

