table {
  word-wrap: break-word;
}

.tab-content {
  overflow: visible;
}

.section-controls {
  padding-left: 20px;
  padding-right: 20px;
}

.shared-tablecaption-input {
  display: inline-block;
}

.message {
  padding-left: 10px;
}

.index-dropdown {
  padding-top: 10px;
  padding-bottom: 10px;
}

.index-dropdown-label {
  font-weight: bold;
}

.section-header {
  padding-bottom: 10px;
}

.clustering-master-bucketdetails-allbuckets, .clustering-master-bucketdetails-fixupbuckets, .clustering-master-bucketdetails-excessbuckets {
  background-color: $white;
}