.review-main {
  padding: 30px;
  min-height: 200px;
}

.review-title {
  font-weight: 200;
  font-size: 24px;
}

.review-subheader {
  margin-bottom: 40px;
  margin-top: 20px;
  clear: both;
}

.review-row {
  margin-bottom: 20px;
  min-width: 540px;
}

.review-row dt {
  float: left;
  text-align: right;
  margin-right: 40px;
  width:200px;
  text-overflow:ellipsis;
  font-weight: normal;
}

.review-row dd {
  margin-left: 240px;
  width: 300px;
  text-overflow: ellipsis;
  font-weight: bold;
}

.review-label {
  text-align: right;
}
.review-value {
  width: 500px;
  padding-left: 30px;
  height: 25px;
}

.wizardAlert {
  font-size: 12px;
}

.icon-alert {
  color: #D85D3C;
  font-size: 150%;
  margin-right: 10px;
}
