.login-background {
    .editFormWrapper {
        padding: 0px;
        position: relative;
        padding-top: 10px;
        min-width: 500px;
        max-width: 940px;
        background: #ffffff;
        border: 1px solid #cccccc;
        margin: 20px auto 20px auto;
        border-radius: 2px;

        .formWrapper {
            padding-bottom: 5px;
            padding-left: 10px;
            padding-right: 10px;

            .splBorder.splBorder-nsew.splBackground-primary.btn {
                border-radius: 4px;
            }
            .preview-tip {
                padding-top: 10px;
            }
            .img-requirements {
                padding-top: 5px;
            }

            .preview-container {
                border: 1px solid #333;
                border-radius: 10px;
                overflow: hidden;
                height: 200px;
                width: 300px;
                position: relative;
                background: #444;
                -webkit-transition: all 0.3s ease;
                -moz-transition: all 0.3s ease;
                -o-transition: all 0.3s ease;
                -ms-transition: all 0.3s ease;
                transition: all 0.3s ease;
                z-index:1;

                &:hover {
                    cursor: pointer;
                }
            }
            .preview-tile {
                background-image: none;
                background-size: cover;
                background-position: 50% 50%;
                background-color: #222;
                background-repeat: no-repeat;
                position: relative;
                height: 100%;
                width: 100%;
            }
            .body-default-enterprise {
                background-image: url("../account/login_bg_enterprise.jpg");
            }
            .body-default-lite {
                background-image: url("../account/litebackground.jpg");
            }
            .login-form-se {
                background-image: url("../account/login-form-enteprise.png");
            }
            .login-form-sl {
                background-image: url("../account/login-form-lite.png");
            }
            .login-form-sc {
                background-image: url("../account/login-form-cloud.png");
            }
            .bg-radio-btn {
                margin-top: 0;
            }
            .bg-label {
                display: inline-block;
                margin: 4px 15px 10px 10px;
            }
            .upload-file-btn {
                display: inline;
                margin: 0 10px;
            }
            .upload-message{
                padding:10px 0;
            }
            .login-form-preview {
                position: absolute;
                background-size: cover;
                background-position: 50% 50%;
                background-repeat: no-repeat;
                margin: auto;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                height: 50px;
                width: 171px;
            }
            .preview-close {
                color: white;
                position: absolute;
                top: 20px;
                right: 45px;
                font-size: 60px;
            }
            .preview-close:hover {
                color: lightgrey;
                text-decoration: none;
            }
        }

        .jmFormActions {
            border-top: 1px solid #cccccc;
            height: 35px;
            padding: 10px 10px 0 10px;

            .cancel-button{
                float: left;
            }
        
            .save-button {
                float: right;
            }
        }
    }
}
