### Files for Python Tempory Output
*.pyc
*.pyo

###Files for Pycharm
package/.idea
.idea/

### Files for C/Golang Temporary Output
*.o
*.a
*.obj

### Files for Tags
TAGS

### Files for OPC UA SDK Build Output
opcua/opcua_ansic/bin
opcua/opcua_ansic/lib
opcua/opcua_ansic/Stack/linux
opcua/opcua_ansic/Stack/win32
opcua/opcua_ansic/AnsiCSample/linux
opcua/opcua_ansic/AnsiCSample/win32

### Files for Add-on local data
package/local
package/metadata/local.meta

###3rd libs
package/bin/splunk_ta_crowdstrike/httplib2/
package/bin/splunk_ta_crowdstrike/remote_pdb.py
package/bin/splunk_ta_crowdstrike/solnlib/
package/bin/splunk_ta_crowdstrike/splunklib/

### Files for Temporary Output
package/linux_x86
package/linux_x86_64
package/windows_x86
package/windows_x86_64
cached_build_info.properties
bower_components
node_modules
npm-debug.log
pypi_modules
stage
*.spl
