### Files for Python Tempory Output
*.pyc
*.pyo
*.bak
### Files for Pycharm
package/.idea
.idea/
*.log
splunk_add_on_ucc_framework/UCC-UI-lib/node_modules/*
splunk_add_on_ucc_framework/UCC-UI-lib/bower_components/SplunkWebCore/node_modules/*
splunk_add_on_ucc_framework/UCC-UI-lib/bower_components/lodash/*
splunk_add_on_ucc_framework/UCC-UI-lib/build/*
dist/*

*.egg-info
output
splunk_add_on_ucc_framework/UCC-UI-lib/bower_components/SplunkWebCore/npm-shrinkwrap.json
tests/.DS_Store
pip-wheel-metadata/UNKNOWN.dist-info/top_level.txt
pip-wheel-metadata/UNKNOWN.dist-info/METADATA
.vscode/settings.json
.DS_Store
