site_name: Splunk Add-on UCC Framework
site_author: Splunk
site_url: "https://splunk.github.io/addonfactory-ucc-generator/"
edit_uri: "tree/main/docs/"
remote_branch: gh-pages

repo_name: Splunk Add-on UCC Framework
repo_url: "https://github.com/splunk/addonfactory-ucc-generator"

markdown_extensions:
  - toc:
      permalink: True
  - smarty
  - fenced_code
  - sane_lists
  - codehilite

theme:
  name: "material"
  palette:
    primary: "black"
    accent: "orange"

nav:
  - Home: "index.md"
  - How to use: "how_to_use.md"
  - Components: "components.md"
  - Example: "example.md"
  - Tabs: "tabs.md"
  - Custom UI Extensions:
    - Custom Hook: "custom_ui_extensions/custom_hook.md"
    - Custom Control: "custom_ui_extensions/custom_control.md"
    - Custom Row: "custom_ui_extensions/custom_row.md"
    - Custom Cell: "custom_ui_extensions/custom_cell.md"
    - Custom Menu: "custom_ui_extensions/custom_menu.md"
  - Advanced:
    - Custom Mapping: "advanced/custom_mapping.md"
    - Dependent Dropdown: "advanced/dependent_dropdown.md"
    - OAuth Support: "advanced/oAuth_support.md"
    - Custom REST Handler: "advanced/custom_rest_handler.md"
  - Troubleshooting: "troubleshooting.md"
  - Contributing: "contributing.md"
