site_name: UCC Framework
site_author: Splunk
site_url: "https://splunk.github.io/addonfactory-ucc-generator/"
edit_uri: "tree/main/docs/"
remote_branch: gh-pages

repo_name: Splunk Add-on UCC Framework
repo_url: "https://github.com/splunk/addonfactory-ucc-generator"

markdown_extensions:
  - toc:
      permalink: True
  - smarty
  - fenced_code
  - sane_lists
  - codehilite

theme:
  name: "material"
  palette:
    primary: "black"
    accent: "orange"
  features:
    - content.code.copy
    - navigation.indexes

extra_css:
    - css/extra.css

nav:
  - Home: "index.md"
  - Quickstart: "quickstart.md"
  - ".conf files": "dot_conf_files.md"
  - Example: "example.md"
  - Inputs:
    - "inputs/index.md"
    - Introduction: "inputs/index.md"
    - Tabs: "inputs/tabs.md"
    - Multi-level Menu: "inputs/multilevel_menu.md"
  - Configuration: "configurations.md"
  - Entity:
    - "entity/index.md"
    - Introduction: "entity/index.md"
    - Components: "entity/components.md"
    - Validators: "entity/validators.md"
  - Table: "table.md"
  - Additional packaging: "additional_packaging.md"
  - OpenAPI: "openapi.md"
  - UCC-related libraries: "ucc_related_libraries.md"
  - Custom UI Extensions:
    - Custom Hook: "custom_ui_extensions/custom_hook.md"
    - Custom Control: "custom_ui_extensions/custom_control.md"
    - Custom Row: "custom_ui_extensions/custom_row.md"
    - Custom Cell: "custom_ui_extensions/custom_cell.md"
    - Custom Menu: "custom_ui_extensions/custom_menu.md"
    - Custom Tab: "custom_ui_extensions/custom_tab.md"
  - Advanced:
    - Custom Mapping: "advanced/custom_mapping.md"
    - Dependent Dropdown: "advanced/dependent_dropdown.md"
    - OAuth Support: "advanced/oauth_support.md"
    - Custom REST Handler: "advanced/custom_rest_handler.md"
    - Groups Feature: "advanced/groups_feature.md"
    - Save Validator: "advanced/save_validator.md"
  - Troubleshooting: "troubleshooting.md"
  - Contributing: "contributing.md"
  - Changelog: "CHANGELOG.md"
