site_name: UCC Framework
site_author: Splunk
site_url: "https://splunk.github.io/addonfactory-ucc-generator/"
edit_uri: "tree/main/docs/"
remote_branch: gh-pages

repo_name: Splunk Add-on UCC Framework
repo_url: "https://github.com/splunk/addonfactory-ucc-generator"

markdown_extensions:
  - toc:
      permalink: True
  - smarty
  - fenced_code
  - sane_lists
  - codehilite
  - pymdownx.superfences
  - pymdownx.snippets
  - admonition
  - pymdownx.details

theme:
  name: "material"
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: black
      accent: orange
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: orange
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - content.code.copy
    - navigation.indexes

extra_css:
  - css/extra.css

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          options:
            show_if_no_docstring: true
            filters: ["!^_"]
            show_source: true

nav:
  - About UCC: "index.md"
  - Getting started: "quickstart.md"
  - Commands: "commands.md"
  - ".conf files": "dot_conf_files.md"
  - Generated files: "generated_files.md"
  - Inputs:
      - "inputs/index.md"
      - Introduction: "inputs/index.md"
      - Tabs: "inputs/tabs.md"
      - Multi-level menu: "inputs/multilevel_menu.md"
      - Helper module: "inputs/helper.md"
  - Configuration:
      - "configurations/index.md"
      - Introduction: "configurations/index.md"
      - Logging: "configurations/logging.md"
      - Proxy: "configurations/proxy.md"
  - Dashboard: "dashboard.md"
  - Alert actions:
      - "alert_actions/index.md"
      - Alert action scripts: "alert_actions/alert_scripts.md"
      - Adaptive response: "alert_actions/adaptive_response.md"
  - Entity:
      - "entity/index.md"
      - Introduction: "entity/index.md"
      - Components: "entity/components.md"
      - Validators: "entity/validators.md"
      - Modify fields On change: "entity/modifyFieldsOnValue.md"

  - Table: "table.md"
  - Additional packaging: "additional_packaging.md"
  - UCC ignore: "uccignore.md"
  - OpenAPI: "openapi.md"
  - UCC-related libraries: "ucc_related_libraries.md"
  - Custom UI extensions:
      - Overview: "custom_ui_extensions/overview.md"
      - Custom hook: "custom_ui_extensions/custom_hook.md"
      - Custom control: "custom_ui_extensions/custom_control.md"
      - Custom row: "custom_ui_extensions/custom_row.md"
      - Custom cell: "custom_ui_extensions/custom_cell.md"
      - Custom menu: "custom_ui_extensions/custom_menu.md"
      - Custom tab: "custom_ui_extensions/custom_tab.md"
  - Advanced:
      - Custom mapping: "advanced/custom_mapping.md"
      - Dependent dropdown: "advanced/dependent_dropdown.md"
      - OAuth support: "advanced/oauth_support.md"
      - Custom REST handler: "advanced/custom_rest_handler.md"
      - Groups feature: "advanced/groups_feature.md"
      - Save validator: "advanced/save_validator.md"
      - OS-dependent libraries: "advanced/os-dependent_libraries.md"
      - Sub description: "advanced/sub_description.md"
      - Custom warning: "advanced/custom_warning.md"
  - Troubleshooting: "troubleshooting.md"
  - Contributing: "contributing.md"
  - Changelog: "CHANGELOG.md"
  - Metadata: "metadata.md"
  - Storybook: "storybook/index.html"
  - UI Tests:
      - Configuration Page:
          - General: "ui_tests_config_page_general.md"
          - Account: "ui_tests_config_page_account.md"
          - Custom: "ui_tests_config_page_custom.md"
          - Logging: "ui_tests_config_page_logging.md"
          - Proxy: "ui_tests_config_page_proxy.md"
      - Alert Action Page: "ui_tests_alert_actions_page.md"
      - Input Page: "ui_tests_inputs_page.md"