#
# Copyright 2021 Splunk Inc.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

[tool.poetry]
name = "splunk_add_on_ucc_framework"
version = "0.0.0"
description = "Splunk Add-on SDK formerly UCC is a build and code generation framework"
authors = ["rfaircloth-splunk <rfaircloth@splunk.com>"]
include = [
"splunk_add_on_ucc_framework/schema",
"splunk_add_on_ucc_framework/THIRDPARTY.npm",
"splunk_add_on_ucc_framework/package",
"splunk_add_on_ucc_framework/package/locale",
"splunk_add_on_ucc_framework/package/locale/zh_CN",
"splunk_add_on_ucc_framework/package/locale/zh_CN/LC_MESSAGES",
"splunk_add_on_ucc_framework/package/default",
"splunk_add_on_ucc_framework/package/default/data",
"splunk_add_on_ucc_framework/package/default/data/ui",
"splunk_add_on_ucc_framework/package/default/data/ui/nav",
"splunk_add_on_ucc_framework/package/default/data/ui/views",
"splunk_add_on_ucc_framework/package/appserver",
"splunk_add_on_ucc_framework/package/appserver/static",
"splunk_add_on_ucc_framework/package/appserver/static/css",
"splunk_add_on_ucc_framework/package/appserver/static/js",
"splunk_add_on_ucc_framework/package/appserver/static/js/build",
"splunk_add_on_ucc_framework/package/appserver/static/styles",
"splunk_add_on_ucc_framework/package/appserver/templates",
"splunk_add_on_ucc_framework/requirements_py2.txt",
"splunk_add_on_ucc_framework/requirements_py3.txt",
"splunk_add_on_ucc_framework/requirements.txt",
    ]

readme = 'README.md'  # Markdown files are supported

repository = "https://github.com/splunk/splunk-add-on-sdk-python/"
homepage = "https://github.com/splunk/splunk-add-on-sdk-python/"

keywords = ['splunk']

[tool.poetry.dependencies]
python = "^3.7"
solnlib = '^3'
jinja2 = "^2"
mako= "^1"
munch= "^2"
lxml = "^4.3"
future = "^0"
splunktaucclib = "4.2.0"
wheel = "*"
dunamai = "*"
reuse = "*"
#black = [
#    { version = "20.8b1" , python = "^3.7" }
#]

Sphinx = "^4.0.2"
sphinx-rtd-theme = "^0.5.2"
defusedxml = "^0.7.1"
jsonschema = "^3.2.0"
[tool.poetry.dev-dependencies]
pytest = "^6.2"
pytest-splunk-addon = { version = "^1.6", extras = [ "docker" ] }
poetry-dynamic-versioning = "^0.13"
pytest-cov = "^2.12.1"
coverage = "^5.5"

[tool.poetry-dynamic-versioning]
enable = true
format-jinja = "{% if stage == none %}{{ base }}{% else %}{{ base }}.{{ stage[0:3] }}{{ revision }}{% endif %}"

[tool.poetry.scripts]
ucc-gen="splunk_add_on_ucc_framework:main"
install-libs="splunk_add_on_ucc_framework:install_requirements"

[build-system]
requires = ["poetry>=1.0.2"]
build-backend = "poetry.masonry.api"