/*  Splunk: Component: Infosharing */
/*  =============================== */
/*  infosharing modal dialog */

.modal-info-delivery {
    width: 600px;
    margin-left: -300px;

    .modal-btn-close, .modal-btn-cancel {
        margin-right: 10px;
    }

    .checkbox-info-delivery {
        display: inline-block;

        /* Fixes some improper handling of inline blocks by Firefox */
        display: -moz-inline-stack;
        margin-right: 15px;
        .checkbox {
            display: inline;
        }
    }

    .tooltip-inner {
        max-width: 350px;
    }

    .tooltip.in {
        opacity: 1;
    }

    .info-delivery-img-gallery {
        text-align: justify;

        .img-container {
            width: 260px;
            display: inline-block;
            margin: 10px 5px 10px 5px;
            p {
                text-align: center;
                font-weight: bold;
            }
        }
    }
    .info-delivery-img-gallery:after {
        content: '';
        width: 100%;
        display: inline-block;
    }

}

.modal-info-delivery.modal-configure {
    .danger {
        color: #d6563c;
        font-weight: bold;
    }
}

