/*  make sure there is no extra cruft */
body {
    min-width: 960px;
}
body,
td {
    font-family: $baseFontFamily;
}

.message-list li{
    font-weight: normal; /* overrides a bold */
}

/*   Account bar Fixes */
.AccountBar {
    padding: 0;
    margin: 0;
    font-size: $baseFontSize !important;
}

body > .layout > .appHeaderWrapper > .appHeader {
    margin: 0 !important;
    padding: 0 !important;
}

.appHeaderWrapper .brand {
    font-size: 17px !important;
}

.appHeaderWrapper .navbar .nav > li > a,
.appHeaderWrapper .navbar .menu > li > a,
.appHeader .navbar .dropdown-menu,
.splunk-components .navbar
{
    font-size: $baseFontSize !important;
}

.splunk-components dl {
    margin-bottom:  $baseFontSize ;
}

/*  App Bar Fixes */
.AppBar {
    padding: 0;
    margin: 0;
    position: relative;
    z-index: 100;
}
body > .layout > .appHeaderWrapper > .navigationHeader {
    margin: 0 !important;
    padding: 0 !important;
}
.appHeaderWrapper .app-bar .app-name .app-label,
.appHeaderWrapper .lite-bar .app-name .app-label {
    font-size: 18px !important;
}
.appHeaderWrapper .app-bar .nav-pills,
.appHeaderWrapper .lite-bar .nav-pills {
    font-size: $baseFontSize !important;
}
#loadingMessage,
#loading {
    background: $splunkGreen;
    @if $theme == lite {
    	background: $splunkLiteBlack;
	}
}
.navigationHeader {
    border-top: none !important;
}

/* Since bootstrap attachs this to the body, must include the styles here manually. */

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: $black;

    &.fade {
        opacity: 0.0;
        transition: opacity 0.15s linear;
    }
    &.fade.in {
        opacity: 0.40;
    }
}

@if $theme == lite {
    div.message_block_success {
        color: $splunkLiteBlack;
    }
    .appHeaderWrapper {
        height: $navbarHeight;
        background: $splunkLiteBlack;
        .appHeader {
            background: none;
        }
    }
    body {
        font-size: 12px;
        line-height: 16px;
        transition:.5s margin;
        &.open {
            margin-left:$sideNavWidth;
            margin-right:-$sideNavWidth;
        }
    }
}
