.fwd-setup-dialog {
	.fwd-setup-item {
		margin-top: 15px;
   		margin-bottom: 10px;
	}

	.fwd-setup-location {
    	color: $grayDarker;
    	background-color: $offWhite;
    	padding: 1px 2px;
    	border: 1px solid $grayLightMedium;
    	border-radius: 4px;
	}

	.fwd-setup-stanza {
		padding: 9.5px;
		margin-top: 10px;
		color: $grayDarker;
		background-color: $offWhite;
		border: 1px solid $grayLightMedium;
		border-radius: 4px;
		
		pre {
		    padding: 0;
		    margin: 0;
		    border: 0;
		    border-radius: 0;
		    word-wrap: normal;
	    }		
	}
}

.text-bold {
    font-weight:bold;
}