.shared-reportcontrols-dialogs-createreport-create {
    .search-input {
        .search-label {
            float: left;
            width: 160px;
            padding-bottom: 5px;
            padding-top: 5px;
            text-align: right;
        }

        .shared-searchbarinput {
            padding-bottom: 10px;
            margin-left: 180px;
            margin-right: 0px;
        }
    }
}