.table-caption .btn-group {
    margin: 5px 20px 0 20px;
    text-align: left;
}

td.cell-name {
    width: 150px;
}

td.cell-actions {
    width: 175px;
}

.extra-padding-left {
    padding-left: 40px;
}

.dmc-no-results {
    text-align: center;
    padding-top: 50px;
    clear: both;

    .icon-info-circle {
        font-size: 200%;
        color: $splunkGreen;
        vertical-align: middle;
        margin-right: 10px;
    }
}

.more-info {
    .wide-list {
        dt {
            width: 300px;

            &:after {
                content: "....................................................................................................................................";
            }
        }
        dd {
            margin-left: 305px;
        }
    }
}

.file-name {
  font-weight: bold;
}

.scroll-y {
  overflow-y: auto;
}

.section-body {
  border-top: 1px solid $grayLightMedium;
  background-color: $white;
  position: relative;
}

.content-body {
  padding-left: 15px;
}

.table-caption {
    margin-bottom: 5px;
    clear: both;

    .shared-collectioncount {
        min-width: 0px;
        margin-right: 10px;
    }

    .shared-controls-syntheticselectcontrol {
        margin-left: 0px;
        margin-right: 10px;
    }

    .search-query {
        margin-left: 10px;
        float: left;
    }
}