.modal.edit-search-string { 
    .content-wrapper {
        width: 800px;
    }
    .slide-area {
      width: 1440px;
    }
    .control-group.hide-time-range-picker {
        margin-bottom: 0px;
    }
}

.dropdown-toggle,
.btn.timerange-control,
.shared-controls-textcontrol {
    .modal.edit-search-string .controls & {
        width: 50%;
    }
}