/*  Splunk: Component: time range picker btn */
/*  =================================== */

/*  SPL-66485 - ellipsis for time picker button */
.shared-timerangepicker .btn {
  max-width: 99%;
  /*  box-sizing: border-box; */
  .time-label {
    display: inline-block;
    vertical-align: middle;
    max-width: 99%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
