/*  Global settings */
.settingsform_wrapper {
  padding-top: 20px;
  width: 500px;
  min-height: 300px;
}


/*  Edit dialog */
.inputs-http-editdialog .modal-body {
  height: 450px;
  max-height: 425px;
  overflow: hidden;
}
.inputs-http-editdialog .form {
  width: 600px;
}
.input-container .shared-findinput {
    text-align: center;
    margin: 5px;
    .search-query {
        width: 190px;
    }
}

/*  token highlight */
.token-highlight {
  cursor: default !important;
  width: 240px;
}
