.install-app-main-header {
  padding: 0 20px 0 20px;

  .install-app-section-title {
    float: left;
    margin: 20px 5px 20px 5px;
  }
}

.add-app-body {
  height: 800px;
}

.layout-col {
  position: absolute;
  top: 0;
}

.add-app-section {
  padding: 0px 10px 5px 10px;
}

.done-section {
  width: 600px;
  margin: 20px;

  .icon {
    float: left;
    width: 40px;
    font-size: 34px;

    &.icon-check {
      color: $splunkGreen;
    }

    &.icon-error {
      color: $red;
    }
  }
}

.flashmessages-placeholder {
  .alert {
    margin-bottom: 0;
  }
}