.installation-type-list {
  width: 300px;
}

.select-app-main-body {
  border-left: 1px solid $grayLightMedium;
  left: 300px;
  bottom: 0;
  right: 0;
}

.app-browser-side-bar {
  left: -1px;
  top: 0;
  position: absolute;
  display: inline-block;
  border-left: 1px solid $grayLightMedium;

  .tab {
    position: absolute;
    transform: translateX(-30%) translateY(76%) rotate(-90deg);
    padding: 0 20px 0 20px;
    line-height: 27px;
    border-left: 1px solid $grayLightMedium;
    text-decoration: none;
    font-weight: bold;

    &:hover {
       background-color: $grayLighter;
     }

    &.selected {
       background-color: $grayLighter;
    }
  }
}

.app-browser-main-section {
  position: absolute;
  right: 0;
  left: 27px;
  border-left: 1px solid $grayLightMedium;

  &.error {
     left: 0;
     border-left: none;
   }

  .browse-app-header {
    padding-left: 15px;
  }
}

.app-browser-filterbar {
  float: left;
  top: 0;
  border-right: 1px solid $grayLightMedium;
  min-height: 770px;
  padding: 15px;
  max-height: 770px;
  overflow-y: scroll;
}

.appsremote-filterbar {
  min-height: initial !important;
}

.app-results-container {
  height: 800px;
  overflow-y: scroll;

  .results-body {
    .results-control-bar {
      margin-left: 0;

      .results-control-bar-inner {
        border-left: none;
      }
    }

      .results {
         margin-left: 0;
       }
    }
}

.shared-waitspinner {
  left: 49%;

  &.no-left-margin {
     margin-left: 0;
  }
}