/*  Splunk: Component: Panel Footer */
/*  =============================== */
/*   */

.shared-poptart.panel-export {
    min-width: 0px;
    width: auto;

    li>a {
        padding: 5px 20px;
    }
}

.menus .search-stopped-indicator {
  font-size: 11px;
  color: $textGray;
  cursor: default;
  padding: 0 10px;
  margin: 0;
  z-index: 10;
}