@import "../variables.pcss";

.table-commandeditor {
    @mixin display-flex column;
    width: 100%;
    flex: 0 0 $commandEditorWidth;
    border-top: 1px solid $borderColor;
    border-right: 1px solid $borderDarkColor;
    background-color: $white;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    display: none;

    .commandeditor-expand {
        opacity: 0;
    }

    &.collapsed {
        flex: 0 0 30px;
        cursor: pointer;
        background-color: $grayLight;

        h3,
        .commandeditor-collapse,
        .commandeditor-form,
        .commandeditor-apply,
        .commandeditor-cancel,
        .commandeditor-edit,
        .shared-flashmessages {
            opacity: 0;
        }
        .commandeditor-collapse {
            background: none; /* remove focus & hover */
        }

        .commandeditor-expand {
            opacity: 1;
        }

        &:hover {
            background: color($grayLight blend($white 10%));
        }
    }

    &:not(.collapsed) .commandeditor-expand {
        display: none;
    }

    &.collapsed {
        h3,
        .commandeditor-collapse,
        .commandeditor-form,
        .commandeditor-apply,
        .commandeditor-cancel,
        .commandeditor-edit,
        .shared-flashmessages {
            display: none;
        }
    }
}

.commandeditor-collapse, .commandeditor-expand {
    position: absolute;
    line-height: 40px;
    text-align: center;
    text-decoration: none;

    top: 0;
    right:0;

    &:focus {
        @mixin focus-pill;
    }
}

.commandeditor-collapse {
    color: $textColor;
    width: 40px;

    &:hover {
        background-color: $pillBackgroundColorHover;
    }

    &:hover, &:focus {
        color: $textColor;
        text-decoration: none;
    }

    &:focus {
        @mixin focus-pill;
    }
}

.commandeditor-expand {
    color: $white;
    width: 30px;
    opacity: 0;
    font-size: 15px;

    &:hover, &:focus {
        color: $white;
        text-decoration: none;
    }

    &:focus {
        @mixin focus-pill;
    }
}

.commandeditor-prompt-for-input {
    animation: commandeditor-pop 700ms;
    background: $white;
}

$commandEditorPopScale: calc((240 + 20) / 240);
@keyframes commandeditor-pop {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale($commandEditorPopScale,$commandEditorPopScale);
    }

    100% {
        transform: scale(1, 1);
    }
}

/*  Header */

.commandeditor-header {
    h3 {
        margin: 0;
        white-space: nowrap;

        box-sizing: border-box;
        width: $commandEditorWidth;
        padding: 10px 50px 10px 10px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    > .alerts {
        padding: 10px;
        box-sizing: border-box;
        width: $commandEditorWidth;
    }

    .alert {
        padding-right: 10px;
        margin-bottom: 0;
    }
}

/*  Form */

.commandeditor-form {
    @mixin display-flex column;
    flex: 1 0 0px;
    min-height: 0;

    a.disabled {
        color: $textDisabledColor;
        cursor: not-allowed;
        pointer-events: none;
    }

    box-sizing: border-box;
    width: $commandEditorWidth;

    border-top: 1px solid $borderColor;

    .list-picker-scroll {
        flex: 0 1 auto;
    }

    .shared-controls-textareacontrol,
    .shared-controls-textcontrol {
        display: flex;
    }

    textarea,
    .shared-controls-textcontrol:not(.range-upper-limit-input):only-child input[type="text"],
    .uneditable-input {
        flex: 1 0 0px;
        width: auto;
    }

    textarea {
        min-height: 150px;
    }

    .input-prepend, .input-append { /*  when IE9 support is officially dropped, forms.less should use these. */
        display: flex;

    	.btn-group,
    	.btn-combo {
            flex: 0 1 auto;
    		box-sizing: border-box;
            max-width: 60%;

            >.btn {
        		box-sizing: border-box;
                max-width: 50%;
            }
    	}

    	> .btn {
            flex: 0 1 auto;
    		box-sizing: border-box;
            max-width: 50%;
    	}

    	.shared-controls-syntheticselectcontrol .btn {
    		box-sizing: border-box;
            max-width: 100%;
            min-height: 22px;
            text-overflow: ellipsis;
            overflow: hidden;
    	}

    	.shared-controls-textcontrol {
            flex: 1 0 0px;

            > input, > .uneditable-input {
        		box-sizing: border-box;
                width: 100%;
                min-height: 22px;
            }
    	}
    }

    .input-prepend .shared-controls-textcontrol {
        margin-left: -1px;
    }

}


/* Sections */

@define-mixin commandeditor-section {
    border-bottom: 1px solid $borderColor;
    flex: 0 0 auto;
}
@define-mixin commandeditor-scroll {
    border-bottom: 1px solid $borderColor;
    @mixin flex-fit-or-fill;
    overflow-x: hidden;
    overflow-y: auto;

    border-top: 1px solid $borderColor;
    margin-top: -1px;

    > .commandeditor-section-padded:last-child {
        border: none;
    }
}

.commandeditor-section {
    @mixin commandeditor-section;
}

.commandeditor-section-padded {
    @mixin commandeditor-section;
    padding: 10px;
}

.advanced-editor-link, .advanced-editor-return-link {
    text-align: center;
}

.commandeditor-section-loading {
    @mixin commandeditor-section;
}

.commandeditor-section-scrolling {
    @mixin commandeditor-scroll;
}

.commandeditor-section-padded-scrolling {
    @mixin commandeditor-scroll;
    padding: 10px;
}

.commandeditor-section-sortable {
    .ui-sortable-helper {
        border-bottom: 1px solid $borderColor;
        background-color: $white;
    }
}


/*  Groups */

.commandeditor-group, .commandeditor-group-sortable {
    position: relative;
    padding: 10px;

    + .commandeditor-group, + .commandeditor-group-sortable {
        border-top: 1px solid $borderColor;
    }

    .control-group:last-child {
        margin-bottom: 0;
    }
}

.commandeditor-group-sortable:not(:only-child) {
    background-image: repeating-linear-gradient($white 0, $white 1px,  $borderColor 1px,  $borderColor 2px);
    background-repeat: no-repeat;
    background-size: 4px calc(100% - 6px);
    background-position: 3px 3px;
    cursor: row-resize;
}

.commandeditor-group-remove {
    position: absolute;
    right: 0;
    top: 0;
    padding: 6px 10px;
    line-height: 1;

    &:hover {
        background-color: $pillBackgroundColorHover;
    }

}

.commandeditor-group-label {
    width: calc(100% - 20px);

    .link-label {
        max-width: calc(100% - 15px);
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        vertical-align: middle;
        text-decoration: inherit;
        margin-right: 3px;
    }

    .icon-chevron-right {
        text-decoration: none;
    }
}


/* Buttons */
.commandeditor-buttons {
    @mixin display-flex row

}

.commandeditor-apply, .commandeditor-cancel {
    flex: 1 0 30px;
}

.commandeditor-apply, .commandeditor-cancel, .commandeditor-edit {
    display: block;
}

.commandeditor-apply, .commandeditor-cancel {
    margin: 10px;
}

.commandeditor-edit {
    margin: 10px 70px;
}

.commandeditor-help-link {
    text-align: center;
    display: inline-block;
}

@define-mixin btn-overlay-toggle {
    border: 1px solid $borderColor;
    display: block;
    line-height: 22px;
    border-radius: 4px;
    position: relative;
    padding-left: 8px;
    padding-right: 14px;
    margin-bottom: 10px;
    word-wrap: break-word;

    .icon-chevron-right, .icon-x {
        position: absolute;
        right: 8px;
        top: 0px;
    }

    &:hover {
        text-decoration: none;
        background-color: $pillBackgroundColorHover;
    }

    &:focus {
    	background: $white;
        text-decoration:none;
        @mixin focus-button;
    }

    .placeholder {
        position: relative;
        top: 0px;
        left: 0px;
    }
}



.commandeditor-join-field-pairs {
    margin: 0 -10px 5px -10px;
    border-top: 1px solid $borderColor;
}

.table-commandeditor-editorforms-join-fieldpair {
    padding: 0;
    &:last-child {
        border-bottom: 1px solid $borderColor;
    }
}

.commandeditor-join-field-pair-modify {
    padding: 5px 10px;
    display: block;
}

.commandeditor-join-add-container {
    margin-bottom: 10px;
}

.btn-overlay-toggle {
    @mixin btn-overlay-toggle;
}


/*  Extract Date Time */
.commandeditor-form-custom-help {
    margin-top: 20px;
}

/*  Map Ranges*/
.rangemap-ranges .controls{
    display: flex;
}

.range-upper-limit {
    display: flex;
    flex: 0 1 52%;
    margin-left: 4px;
    .control-label {
        padding-right: 4px;
        padding-top: 4px;
    }
}

.range-text {
    .uneditable-input {
        background-color: $grayLighter;
    }
}

.range-lower-limit, .range-upper-limit-input {
    > input {
        width: 100%
    }
}

.range-text, .range-lower-limit {
    display: flex;
    flex: 0 1 45%;
}

/*  Search */

.commandeditor-form-search {
    .search-help {
        margin: 0 10px 8px 25px;
    }
}

/*  Concatenate */
.commandeditor-form-concatenate {
    .concatenate-string input {
        width: 160px;
        margin-bottom: 0px;
    }
}

/* Calculate Fields */
.commandeditor-form-calculate-field {
    .commandeditor-section-padded {
        padding: 10px 10px 0 10px;
    }
}
.calculated-field-add {
    @mixin display-flex column;
    padding: 10px 0 10px 10px;
}

.calculated-field-add:nth-child(2) {
    padding-top: 0;
}

.arithmetic-controls-radio {
    @mixin display-flex column;
    padding-left: 10px;
}

.calculated-field-spinner {
    @mixin display-flex column;
    .shared-controls-spinnercontrol input[type="text"] {
        flex: 1 0 0px;
    }

    .increment-down, .increment-up {
        display: none;
    }
}

/*  Initial Data */
.commandeditor-form-initial-data {
    .indexes-and-sourcetypes-list-group {
        margin-bottom: 13px;
    }

    .indexes-and-sourcetypes-header {
        margin-bottom: 5px;
        color: #999999;
    }

    .index-and-sourcetypes-item {
        display: flex;
        flex: 1 0 0px;
        min-height: 16px;
        background-color: $offWhite;
        color: $textGray;
        cursor: not-allowed;
        padding: 2px 6px;
        margin-bottom: 8px;

        border: 1px solid $borderColor;
        border-radius: 4px;
    }
}

/* Stats */
.commandeditor-form-stats {
    .commandeditor-section-scrolling {
        border-bottom: none;
        .commandeditor-help-link {
            margin: 5px;
        }
    }

    .aggregate-control {
        position: relative;
    }

    .functions-control {
        margin-left: 20px;
    }

    .function, .row-count-field {
        padding: 2px 14px 2px 8px;
        border: 1px solid $borderColor;
        border-radius: 4px;
    }

    .function {
        margin-top: 10px;
    }

    .change-functions-container {
        margin-top: 10px;
    }

    .row-count-container {
        position: relative;
    }

    .row-count-field {
        margin: 5px 0px 0px 20px;
    }

    .split-label, .split-by-control {
        position: relative;
        top: -5px;
    }

    .split-by-row {
        height: 20px;

        &:last-child {
            border-bottom: 1px solid $borderColor;
        }
    }
}

/* Advanced+Filter Rex */
.commandeditor-form-advanced-rex, .commandeditor-form-filter-regex {
    .regex-box textarea {
        font-size: 11px;
    }

    dl > dt {
        float: left;
        font-weight: normal;
        width: 20px;
        margin-bottom: 5px;
    }

    dl > dd {
        margin-left: 30px;
        margin-bottom: 5px;
    }
}

/* Split Fields */
.split-new-field-row {
    position: relative;

    .commandeditor-group-remove {
        padding: 6px;
    }

    .shared-controls-textcontrol {
        width: 90%;
    }
}

.split-field-rows-label {
    padding-bottom: 5px;
}

/* Filter Values */
.filter-value-match-type-label {
    text-align: center;
}

.table-commandeditor-acceleratedwarning {
    .alert {
        margin-bottom: 0px;
    }
}
