.embed {
    background-color: $white;
    min-width: 0;
}
.embed .highcharts-container {
    line-height: 0px;
}
.embed footer div {
    color: $textGrayDark;
    float: right;
    padding: 10px 20px 10px;
}
.shared-jobdispatchstate, .alerts,
.lazy-view-container.loading,
.shared-reportvisualizer .visualization-message {
    position: absolute;
    left: 0;
    top: 50%;
    right: 0;
    height: 45px;
    text-align:center;
}   
.shared-jobdispatchstate .alert,
.alert-error,
.lazy-view-container.loading .alert,
.shared-reportvisualizer .visualization-message .alert {
    color: $textGray;
    display:inline-block;
    margin-top:-20px;
}