
.color-range-control-row {
    .color-picker-add-on {
        cursor: pointer;
        display: inline-block;
        height: 16px;
        padding: 4px 4px 4px 0px;
        float: left;
        .color-square {
            margin-top: -2px;
        }
    }
}