.initial-data {
    @mixin display-flex;
    flex: 1 0 0px;
    position: absolute;
    top: 104px;
    bottom: 0;
    width: 100%;
    font-size: 11px;
    border-right: 1px solid $borderColor;
    display: none;

    td {
        border-top: none;
    }

    .search-bar-wrapper {
        @mixin display-flex column;
        padding: 20px;
        border-bottom: 1px solid $borderColor;
        max-height: 230px;
    }
}

.initial-data-cancel {
    position: absolute;
    right: 20px;
    top: -33px;
    font-size: 12px;
}

.initial-data-vertical-flex-container {
    @mixin display-flex column;
    width: 100%;
}

.initial-data-horizontal-flex-container {
    @mixin display-flex;
    flex: 1 0 0px;
    min-height: 170px;
}

.select-method {
    min-width: 200px;
}

.method-picker {
    @mixin display-flex row;
    background-color: #eee;
    border-top: 1px solid $borderColor;
    border-bottom: 1px solid $borderColor;
    min-height: 75px;
    width: 100%;
    min-width: 75px;
    padding: 10px 8px 5px 8px;
    text-decoration: none;

    h3 {
        margin: 5px 0 10px 11px;
        color: $black;
        font-size: 16px;
    }
}

.method-options {
    width: 100%;
    min-width: 700px;
}

.method-option {
    color: $black;
    font-size: 14px;
    float: left;
    width: 33%;

    svg {
        fill: #7D7D7D;
        vertical-align: middle;
        padding-right: 5px;
        height: 58px;
    }

    &.active {
        svg {
            fill: rgb(101, 166, 55);
        }
    }

    &:hover {
        text-decoration: none;
    }
}

.initial-data-sidebar {
    @mixin display-flex;
    flex: 0 0 420px;
    border-right: 1px solid $borderColor;
}

.dataset-content, .indexes-and-sourcetypes-content, .search-content {
    position: relative;
    overflow: hidden;
    @mixin display-flex column;
    flex: 1 0 0px;
}

.dataset-label {
    padding-bottom: 10px;
}

.dataset-picker {
    border: 1px solid $borderColor;
    display: block;
    line-height: 22px;
    border-radius: 4px;
    position: relative;
    padding-left: 8px;
    padding-right: 14px;
    margin-bottom: 10px;
    word-wrap: break-word;

    .icon-chevron-right {
        position: absolute;
        right: 8px;
        top: 0px;
    }

    &:hover {
        text-decoration: none;
        background-color: $pillBackgroundColorHover;
    }

    &:focus {
        background: $white;
        text-decoration:none;
        @mixin focus-button;
    }

    .placeholder {
        position: relative;
        top: 0px;
        left: 0px;
    }
}

.index-and-sourcetypes-rows {
    overflow-y: auto;
    max-height: 32%;
}

.chosen-dataset, .add-index-and-sourcetypes {
    border-bottom: 1px solid $borderColor;
    padding: 10px;
}

.add-index-and-sourcetypes {
    border-top: 1px solid $borderColor;
}

.chosen-dataset {
    flex: 0 0 auto;
}

.fields-picker-container {
    padding-top: 10px;
    @mixin display-flex column;
    flex: 1 0 0px;

    .fields-picker {
        flex: 1 0 0px;
        border-bottom: 1px solid $borderColor;
    }

    .empty-fields, .loading-fields {
        padding: 10px;
        border-top: 1px solid $borderColor;
    }
}

.fields-picker-header {
    font-size: 16px;
    padding: 10px 8px 5px 8px;
}

.initial-data-fieldinfo, .initial-data-datasetinfo {
    background-color: white;

    p {
        line-height: 20px;
    }

    table.table-condensed {
        margin: 13px -20px -5px -20px;
    }

    td.value {
        max-width: 200px;
        text-overflow: ellipsis;
        overflow-x: hidden;
        white-space: nowrap;
        padding-left:20px;
    }

    th.value {
        padding-left:20px;
    }

    .popdown-dialog-body {
        padding: 0 20px 20px 20px;
    }

    .shared-datasetcontrols-details {
        margin: 0 20px 0 20px;
        white-space: normal;
        word-break: break-all;
    }

    h2 {
        margin: -1px -21px 10px -21px;
        line-height: 40px;
        font-size: $baseFontSizeLarge;
        font-weight: normal;
        color: $textColor;
        padding: 0 20px;
        border-bottom: 1px solid $borderColor;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .fields-type-icon {
        font-size: 16px;
        color: $grayLight;
        padding-right: 5px;
    }

    .close {
        top: 7px;
        right: 7px;
        position: absolute;
    }
}

.initial-data-fieldinfo {
    width: 300px;
}

.initial-data-datasetinfo {
    width: 400px;
}

.index-and-sourcetypes-row {
    font-size: 11px;
    position: relative;
    padding: 10px;

    &:not(:last-child) {
        border-bottom: 1px solid $borderColor;
    }

    .property {
        color: #999;
    }

    .index-and-sourcetypes-row-remove {
        position: absolute;
        right: 0;
        top: 0;
        padding: 6px 10px;
        line-height: 1;

        &
        :hover {
            background-color: $pillBackgroundColorHover;
        }
    }

    .index-and-sourcetypes-all {
        @mixin display-flex row;
    }

    .index-and-sourcetypes-block {
        @mixin display-flex column;
    }
}

.initial-data-results-container {
    @mixin display-flex column;
    flex: 1 0 0px;

    svg.search, svg.indexes-sourcetypes, svg.dataset {
        opacity: 0.5;
    }
}

.initial-data-job-status {
    position: relative;
    flex: 0 0 auto;
    background-color: $white;
    border-bottom: 1px solid $borderColor;

    .job-status-alert {
        margin: 0 10px;
    }

    .table-count {
        margin-right: 5px;
    }

    .dataset-diversity {
        display: inline-block;
    }

    .status, .table-count {
        line-height: 27px;
        padding-left: 10px;
        float: left;

        .icon-warning-paused {
            color: $yellow;
            font-size: 200%;
            display: inline-block;
            margin-right: 3px;
            vertical-align: middle;
            line-height: 16px;
        }

        .icon-check {
            color: $splunkGreen;
        }
    }
}

.initial-data-done {
    margin: 10px 160px;
}

.empty-indexes-and-sourcetypes, .empty-datasets, .empty-search, .empty-field {
    align-self: center;
    text-align: center;
    padding-top: 200px;

    i[class^='icon'],i[class*='icon-'] {
        color: #EEEEEE;
        font-size: 100px;
        padding-bottom: 20px;
    }
}

.shared-flashmessages {
    padding: 20px;

    .alert {
        margin-bottom: 0px;
    }
}

.extend-clone-radio-wrapper {
    @mixin display-flex column;

    > label {
        padding: 20px 0 0 20px;
    }
}

.extend-clone-radio {
    padding-top: 10px;
    width: 100%;

    > div.control {
        @mixin display-flex row;
        justify-content: space-around;
    }
}