.modal-medium {
  width: 600px;
  margin-left: -300px;
}
.table {
  table-layout:fixed;
  width: 100%;

  td {
    word-break: break-all;
  }
}
.modal-with-spinner {
  .shared-waitspinner {
    margin-top: 5px;
    float: right;
  }
}
