/*  Splunk: Component: Permissions Dialog */
/*  ============================ */

/*
	markup missing ...
*/
/*  TODO: need a namespace or wrapper here */
td.role-name {
    padding-left: 20px;
}

td > .control > label.checkbox {
    padding: 0;
    margin-bottom: 0;
}
/*  TODO: need a shorter classname here, also remove important */
.shared-documentcontrols-dialogs-permissionsdialog-acl a.role.btn.disabled > .icon-check{
    display: inline-block !important;
}

.table .perms-read,
.table .perms-write
{
	width: 30px;
	text-align: center;
}
