.jobmanager {
    
    .jobmanager-tablecontrols {
        height: 87px
    }
    /* filter row */
    .filters-container {
        &.affix-top {
            position: fixed;
            top: 0px;
            left: 0px;
            right: 0px;
            z-index: 407;
            background: $bodyBackgroundColor;
        }
        padding: 10px 20px 0px;
        @mixin clearfix;
        .shared-collectioncount {
            margin-right: 10px;
        }
        .shared-controls-textcontrol {
            margin-left: 10px;
            display: inline-block;
        }
        .count-per-page {
            float: right;
        }
        .app-filter, .owner-filter {
            min-width: 70px;
            max-width: calc((100vw - 700px) / 2);
            > .dropdown-toggle {
                display: block;
                > .link-label {
                    display: inline-block;
                    vertical-align: middle;
                    max-width: calc(100% - 13px);
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
    }

    /* selected and paginator row */
    .selected-container {
        height: 30px;
        &.affix-top {
            position: fixed;
            top: 37px;
            left: 0px;
            right: 0px;
            z-index: 406;
            background: $bodyBackgroundColor;
        }
        padding: 10px 20px;
        @mixin clearfix;
        .selected-count {
            float: left;
            padding: 4px 10px 0px 10px;
        }
    }

    /* table */
    .jobmanager-table {
        table {
            width: auto;
            margin-bottom: -1px;

            tbody > tr:nth-child(4n+1) > td {
                background-color: $white;
            }

            tbody > tr:nth-child(4n+2) > td {
                background-color: $white;
                border-top: 0px;
            }

            tbody > tr:nth-child(4n+3) > td {
                background-color: $tableBackgroundAccent;
            }

            tbody > tr:nth-child(4n+4) > td {
                background-color: $tableBackgroundAccent;
                border-top: 0px;
            }
            
            .col-owner, .col-application {
                word-wrap: break-word;
                word-break: break-all;
            }

            .col-text {
                padding-top: 10px;
            }

            .col-actions {
                width: 205px;
            }

            .col-select-all {
                width: 20px;
            }

            .expands {
                width: 15px;
            }

            th.expands {
                padding-left: 8px;
            }

            td.expands > a, td.expands > span {
                padding-top: 10px;
            }

            .details {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                padding-left: 8px;
                &.expanded {
                    word-break: break-all;
                }
                &.expanded > a {
                    white-space: pre-wrap;
                    word-break: break-word;
                }
                a.saved-search {
                    font-weight: bold;
                }
            }
            .jobmanager-table-emptytablerow > td > div {
                @mixin clearfix;

                background-color: $white;
                min-height: 406px;
                text-align: center;
                margin-top: 10%;

                h2 {
                    font-weight: 200;
                    font-size: 24px;
                    div.shared-waitspinner {
                        display: inline-block;
                        margin-right: 5px;
                    }
                }
                
                a {
                    margin-top: 20px;
                }

                .reload-report {
                    margin-right: 20px;
                }
            }
        }
    }
}