{% for alert in mod_alerts %}
    {% if alert.get("active_response") and alert.active_response.get("sourcetype") %}
[{{ alert.short_name }}_modaction_result]
search = {{ 'sourcetype="' + alert.active_response.sourcetype + '"' }}
    {% endif %}
{% endfor %}

