.managementconsole-apps-createappdialog {
    .control-label {
        float: left;
        padding-top: 5px;
        text-align: right;
        width: 80px;
    }

    .controls {
        margin-left: 100px;

        input {
            width: 250px;
        }

        textarea {
            width: 270px;
        }
    }
}