/*  Splunk: Pages: Virtual Indexes */
/*  ============================== */


/*   table content */
.virtualindexes-providersgrid,
.virtualindexes-indexesgrid,
.virtualindexes-archivegrid
{
	clear: both;
	padding-top: 10px;
}

/*  TODO: why isn't this common? */
.message-single {
	margin: 20px;
}

/*  TODO: why is this set? */
.tab-content {
	overflow: visible;

	.tab-pane {
		min-height: 416px;
	}
}

/*  TODO: this could be common */
.section-padded .divider {
	clear: both;
	margin: 10px -20px;
}

.tab-pane {
	min-height: 420px;
}

.col-flex {
	/*  width: auto; */
}
.col-slim {
	width: 140px;
}
.col-100 {
	width: 100px;
}

td a + a {
	margin-left: 10px;
}
td span + a {
  margin-left: 10px;
}
.enableAction {
    margin-left: 10px;
}
.disableAction {
  margin-left: 13px;
}
.virtualindexes-userimpersonationtab .uneditable-input {
  width: 600px;
  padding-left: 0px;
  padding-right: 0px;
}
.virtualindexes-archivegrid {
    .expanded-info {
        padding-top: 1em;
    }

  .col-info {
    width: 1em;
  }

  .col-selected {
    width: 1em;
  }

  .checkbox {
    padding: 0px 0px 0px 0px;
  }

  .bandwidth-header {
    white-space: nowrap;
  }

}
.virtualindexes-archivegridrow {
  .checkbox {
    margin-top: -5px;
  }
  .list-dotted dt {
    width: 140px;
  }
}
.unified-search-placeholder{
  display: inline-block;
  .control-group {
    .control-label {
      margin-right: 3px;
    }
    .controls {
      margin-left: 170px;
      margin-right: 2px;
    }
  }
}