/*  Splunk: Buttons */
/*  =============== */


/*  Base styles & overrides */
/*  -------------------------------------------------- */

/* standard button class for use on a, button

        <a class="btn">Button</a>
        <a class="btn :hover">Button</a>
        <a class="btn active">Button</a>
        <button class="btn">Button</button>
*/

.btn {
    display: inline-block;
    padding: 4px 12px;
    margin-bottom: 0; /*  For input.btn */
    font-size: $baseFontSize;
    line-height: $baseLineHeight;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;

    @mixin interactive; /*  this breaks some bootstrap styles */

    &:hover {
        @mixin interactive-hover;
    }

    &.disabled,
    &[disabled],
    &.disabled:hover,
    &[disabled]:hover,
    &.disabled:focus,
    &[disabled]:focus {
        background: $interactiveDisabledBackgroundColor;
        filter: none;
        border-color: $borderColor;
        border-top-color: $borderColor;
        border-bottom-color: $borderColor;
        cursor: not-allowed;
        color: $textGray;
        text-shadow: none;
        opacity: 0.65;
        box-shadow: none;
    }
    &.active {
        @mixin interactive-hover;
        filter: none;
        color: $textColor;
    }
    &:focus {
        @mixin focus-button;
    }
    border-radius: $interactiveBorderRadius;
}

/*  Primary */
/*  ------------------- */

/* Provides extra visual weight and identifies the primary action in a set of buttons.

        <a class="btn btn-primary">Primary</a>
        <a class="btn btn-primary :hover">Primary</a>
        <a class="btn btn-primary active">Primary</a>
        <button class="btn btn-primary">Primary</button>
*/
.btn-primary {
    @mixin interactive-primary;
    &:hover {
        @mixin interactive-primary-hover;
    }

    &.active {
        @mixin interactive-primary-hover;
        filter: none;
        color: $white;
    }
    &:focus {
        @mixin focus-button;

        @if $theme == lite {
        	background: $splunkLiteBlack;
        }
    }
}


/*  Other buttons */
/*  ------------------------- */

/*  Danger and error appear as red */
.btn-danger {
  @mixin buttonBackground $btnDangerBackground, $btnDangerBackgroundHighlight;
}
/*  Success appears as green */
.btn-success {
  @mixin buttonBackground $btnSuccessBackground, $btnSuccessBackgroundHighlight;
}


/*  Links */
/*  ------------------------- */

/* pager style button pill
    Note: this does not inherit or extend btn base styles and is meant for links only

        <a href="#" class="btn-pill">Pill</a>
        <a href="#" class="btn-pill :hover">Pill</a>
        <a href="#" class="btn-pill :hover :active">Pill</a>
        <a href="#" class="btn-pill active">Pill</a>
*/
.btn-pill {
    display: inline-block;
    padding: 0 10px; /*  note the vertical padding will be funky unless it's block, inline-block, or floated */
    line-height: 27px;

    box-shadow: none !important;
    /*  states */
    &:hover,
    &.active,
    &:focus
    {
        background-color: $pillBackgroundColorHover;
        text-decoration: none;
        border-radius: $interactiveBorderRadius;
    }

    &.active
    {
		color: $textGray;
    }

    &:focus {
        @mixin focus-pill;
    }

    &.disabled,
    &.disabled:hover {
        color: $textDisabledColor;
        background: transparent;
        cursor: default;
    }

    &.btn-square {
        padding: 0;
        height: 27px;
        width: 27px;
        text-align: center;
    }
}


/*  Link buttons */
/*  -------------------------------------------------- */

/*  Make a button look and behave like a link */
.btn-link,
.btn-link:active,
.btn-link[disabled] {
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
.btn-link {
  border-color: transparent;
  cursor: pointer;
  color: $linkColor;
  border-radius: 0;
}
.btn-link:hover,
.btn-link:focus {
  color: $linkColorHover;
  text-decoration: underline;
  background-color: transparent;
}
.btn-link[disabled]:hover,
.btn-link[disabled]:focus {
  color: $grayDark;
  text-decoration: none;
}


/*  Block button */
/*  ------------------------- */

.btn-block {
  display: block;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  box-sizing: border-box;
}

/*  Vertically space out multiple block buttons */
.btn-block + .btn-block {
  margin-top: 5px;
}

/*  Specificity overrides */
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.btn-block {
    width: 100%;
  }
}



/*  Draggable */
/*  ------------------------- */

/* draggable button styles

        <a class="btn btn-draggable">Draggable</a>
        <button class="btn btn-draggable">Draggable</button>
        <div class="btn-combo">
                <div class="btn btn-draggable">Combo</div>
                <div class="btn"><i class="icon-pencil"></i></div>
        </div>

*/
.btn-draggable {
    cursor:move;
    padding-left:15px;
    width: 113px; /*  160px - padding, border, etc */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align:left;
    position: relative;
    /*  generated handle */
    &:before, .before {
        content: "";
        position: absolute;
        height: 18px;
        width: 7px;
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAG0lEQVQIW2M0Njb+f/bsWUYYzciABuAyOFUAAKKMEAXhn6ySAAAAAElFTkSuQmCC) repeat;
        top: 3px;
        left: 4px;
        opacity: 0.50;
    }

    /*  sizes */
    &.btn-small:before{
        height: 14px;
    }
    &.btn-mini:before{
        height: 12px;
    }
}



/*  Button Sizes */
/*  -------------------------------------------------- */

/*  Large */
.btn-large {
  padding: $paddingLarge;
  font-size: $fontSizeLarge;
  border-radius: $borderRadiusLarge;
}
.btn-large [class^="icon-"],
.btn-large [class*=" icon-"] {
  margin-top: 4px;
}

/*  Small */
.btn-small {
  padding: $paddingSmall;
  font-size: $fontSizeSmall;
  border-radius: $borderRadiusSmall;
}
.btn-small [class^="icon-"],
.btn-small [class*=" icon-"] {
  margin-top: 0;
}
.btn-mini [class^="icon-"],
.btn-mini [class*=" icon-"] {
  margin-top: -1px;
}

/*  Mini */
.btn-mini {
  padding: $paddingMini;
  border-radius: $borderRadiusSmall;
}

.btn-mini,
.btn-group > .btn-mini {
  font-size: 11px;
    line-height: 18px;
}

/*  Print */
/*  -------------------------------------------------- */
@media print {

    .btn {
        @mixin print-no-background;
        border: none !important;
        padding: 0 !important;
        color: $textColor !important;
        text-shadow: none !important;
        box-shadow: none !important;
    }
    .caret {
        @mixin print-hide;
    }
}
