/*  Splunk: Progress Bars */
/*  ================ */


/*  ANIMATIONS */
/*  ---------- */

@keyframes progress-bar-stripes {
  from  { background-position: 40px 0; }
  to    { background-position: 0 0; }
}



/*  Spinners */
/*  ---------------------------- */

.spinner-small-gray {
	background-image: url("$(staticImagePath)/skins/default/loading_small_gray.png");
	background-position: left top;
	width: 14px;
	height: 14px;
	background-size: 112px 14px;
}



.spinner-medium-green {
	background-image: url("$(staticImagePath)/skins/default/loading_medium_green.png");
	background-position: left top;
	width: 19px;
	height: 19px;
	background-size: 152px 19px;
}


@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
	.spinner-small-gray {
		background-image: url("$(staticImagePath)/skins/default/loading_small_gray_2x.png");
	}

	.spinner-medium-green {
		background-image: url("$(staticImagePath)/skins/default/loading_medium_green_2x.png");
	}
}


/*  Progress */
/*  ---------------------------- */
/* This is suppose to match Bootstrap, but it doesn't. */
.progress {
    overflow: hidden;
    height: $baseLineHeight;
    margin-bottom: $baseLineHeight;
    @mixin gradient-vertical #f5f5f5, #f9f9f9;
	box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
	background-color: $offWhite;
	border-radius: $interactiveBorderRadius;

    /* Bootstrap uses the .bar class, but our standard components use .progress-bar */
    .bar,
    .progress-bar {
        width: 0%;
        height: 100%;
        color: $white;
        float: left;
        font-size: 12px;
        text-align: center;
        transition: width .6s ease;
    }

    .bar {
        @mixin gradient-vertical $blue, color($blue l(+5%));
        box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
        box-sizing: border-box;
    }

    .bar + .bar {
        box-shadow: inset 1px 0 0 rgba(0,0,0,.15), inset 0 -1px 0 rgba(0,0,0,.15);
    }

	.progress-bar {
		line-height: $baseLineHeight;
        background-color: $splunkGreen;
	}

    .progress-striped.progress-bar {
        @mixin gradient-striped $splunkGreen;
        background-size: 40px 40px;
    }

    @if $theme == lite {
    	.progress-bar {
    		background-color: $splunkLiteOrange;
    	}

    	&.progress-striped .progress-bar {
    		@mixin gradient-striped $splunkLiteOrange;
    		background-size: 40px 40px;
        }
    }
}

/*  Striped bars */
.progress-striped .bar {
    @mixin gradient-striped $blue;
    background-size: 40px 40px;
}

/*  Call animation for the active one */
.progress.active .bar,
.active.progress-bar {
    animation: progress-bar-stripes 2s linear infinite;
}

/*  PROGRESS STATES */
/*  --------------- */
/*  These have been inherited from Bootstrap and are not used on Core. */

/*  Danger (red) */
.progress-danger .bar, .progress .bar-danger {
    @mixin gradient-vertical #ee5f5b, #c43c35;
}
.progress-danger.progress-striped .bar, .progress-striped .bar-danger {
    @mixin gradient-striped #ee5f5b;
}

/*  Success (green) */
.progress-success .bar, .progress .bar-success {
    @mixin gradient-vertical #62c462, #57a957;
}
.progress-success.progress-striped .bar, .progress-striped .bar-success {
    @mixin gradient-striped #62c462;
}

/*  Info (teal) */
.progress-info .bar, .progress .bar-info {
    @mixin gradient-vertical #5bc0de, #339bb9;
}
.progress-info.progress-striped .bar, .progress-striped .bar-info {
    @mixin gradient-striped #5bc0de;
}

/*  Warning (orange) */
.progress-warning .bar, .progress .bar-warning {
    @mixin gradient-vertical color($orange l(+15%)), $orange;
}
.progress-warning.progress-striped .bar, .progress-striped .bar-warning {
    @mixin gradient-striped color($orange l(+15%));
}
