/*  Splunk: scaffolding */
/*  =================== */


/*  Default & Structure */
/*  ----------------------------- */

/*  basic color & size */

body {
    margin: 0;
    background: $bodyBackgroundColor;
    color: $textColor;
    min-width: 960px;
    font-family: $baseFontFamily;
    font-size: $baseFontSize;
    line-height: $baseLineHeight;
}


/*  SPL-76040 - turn off roboto for bad windows GDI rendering */
.tr-gdi body {
    font-family: Arial, Helvetica, sans-serif;
}


/*  Links */
/*  ------------------------- */

a {
  @mixin link;
}


/*  Images */
/*  ------------------------- */

/*  Rounded corners */
.img-rounded {
  border-radius: 6px;
}

/*  Add polaroid-esque trim */
.img-polaroid {
  padding: 4px;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.2);
  box-shadow: 0 1px 3px rgba(0,0,0,.1);
}

/*  Perfect circle */
.img-circle {
  border-radius: 500px; /*  crank the border-radius so it works with most reasonably sized images */
}



/*  Sections */
/*  ================= */

/* add padding to a section

    <div class="section-padded">
        padded content
    </div>

*/
.section-padded {
    padding:20px;
}
/*  section-header extends section-padded */
.section-header {
    padding-top:10px;
    position: relative;
    .section-title {
        margin: 0;
        font-size: 24px;
        font-weight: 200;
    }
}


/*  default container */
.main-section-body {
    color:$textColor;
    min-height: 500px;
    /*  using three color so we can set color stop even though its only 2 colors */

    h2 i[class^="icon-"],
    h2 i[class*=" icon-"]  {
        color: $textGray;
    }

    /*  huh? */
    .nav-tabs {
        margin-bottom:0;
    }

    .divider {
        border-top: 1px solid $borderColor;
        margin: 0;
    }

    /*  huh? */
    > .pull-right {
        margin-right: 20px;
    }

    .loading-message {
        padding-top: 100px;
        min-height: 400px;
        text-align: center;
    }
}


/*  Utility Classes */
/*  --------------- */

/* for full width unpadded content
    TODO: this should probably also remove width and margin: auto

    <div class="container container-full-width">
        content here ...
    </div>

*/
.container-full-width {
    padding:0;
}

/* force full width even in padded container

    <div class="container section-padded">
        padded content here ...
        <div class="push-margins">
            expanded content here ...
        </div>
    </div>

*/
.push-margins {
    margin-left:-20px;
    margin-right: -20px;
}

/* new image replacement

    <span class="hide-text">hidden</span>

*/
.hide-text {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

/*  Panels */
/*  ======= */

/* panels for dashboards?

    <div class="panel">
        panel content ...
    </div>
    <div class="panel">
        panel content ...
    </div>
    <div class="panel">
        panel content ...
    </div>
*/

.panel {
    position: relative;
    border: 1px solid $borderColor;
    background-color: $white;
    padding: 20px;
    margin-right:20px;
    border-radius: $containerBorderRadius;
    /* box-shadow: 0 1px 1px rgba(0,0,0,0.08); */
}

.panel:last-child {
    margin-right:0;
}

/* panel rows?

    <div class="panel-row">
        <div class="panel">
            panel content ...
        </div>
        <div class="panel">
            panel content ...
        </div>
    </div>
    <div class="panel-row">
        <div class="panel">
            panel content ...
        </div>
        <div class="panel">
            panel content ...
        </div>
    </div>

*/
.panel-row {
    padding: 0 20px;
    margin-bottom:20px
}

/*  Simple Layout Columns */
/*  --------------- */
.section-content {
    background-color: $white;
    min-height: 400px;
    border-top: 1px solid $borderColor;
}

.column {
    position: relative;
    padding: 20px;
    margin-right:20px;
}


/*  Links */
/*  ---------------- */

/* external link style

    <a href="http://example.com/" class="external">external</a>
*/
a.external {
    &:after {
        font-family: "Splunk Icons";
        content: "\EC13";
        display: inline-block;
        padding-left: 0.5em;
    }
}


/*  508 accessability */
/*  ----------------- */
.navSkip {
    position: absolute;
    top:0;
    left:-1000px;
}

/*  Paywall */
/*  ------------------- */
.shared-paywall {
    padding-top: 30px;
}

/*  Definition Lists */
/*  ------------- */
.list-dotted {
    line-height: 20px;
    margin-top: 0;
    dt {
        float: left;
        width: 120px;
        overflow: hidden;
        white-space: nowrap;
        margin-right: 5px;
        font-weight: normal;
        line-height: 20px;
        /*  SPL-69719 - fix IE10 when in dropdown */
        word-wrap: normal;
    }
    dd {
        line-height: 20px;
        margin-left: 125px;
    }
    dt:after {
        content: " ............................................";
    }

}

/*  Page Load Placeholder */
/*  ---------------------- */

#placeholder-splunk-bar {
    padding: 0 ;
    background-color: $grayDarker;

    .brand, .brand:hover {
        font-family: "Splunk Icons";
        font-weight: normal;
        color: $white;
        padding: 0 20px;
        height: $navbarHeight;
        font-size: 17px;
        line-height: $navbarHeight;
        text-shadow: none;
        text-decoration: none;
        margin-left: 0;
    }
    .brand strong {
        color: $splunkGray;
        font-weight: normal;
        /*  reg symbol */
        &:after {
            content: '\00AE';
            color: $splunkGray;
            font-weight: normal;
        }
    }
}

#placeholder-app-bar {
    color: $white;
    background-color: color($grayLight l(-8%));
    @mixin gradient-vertical  color($grayLight l(-2%)), color($grayLight l(-8%));
    height:40px;
}

#placeholder-main-section-body {
    color:$textColor;
    padding-top: 100px;
    min-height: 400px;
    text-align: center;
}





/*  Lite */
/*  -------------------------------------------------- */
@if $theme == lite {
    #placeholder-app-bar {
        background: $splunkLiteBlack;
    }

    #placeholder-main-section-body {
        color: $splunkLiteBlack;
    }
}


/*  Lite UI */
/*  -------------------------------------------------- */
@if $theme == lite {
    body {
        font-family: $baseFontFamily;
    }

    .section-content   {
        border-top-color: $borderColor;
    }
}


/*  Print */
/*  -------------------------------------------------- */
@media print {
    body,
    .main-section-body {
        @mixin print-no-background;
    }

    @page {
        margin: 1.27cm;
    }
}
