/*  Splunk: Table Captions */
/*  =================== */
/*  The count, filters and pagination that appear above a listing. */


.table-caption,
.table-caption-inner {
    min-height: 36px;
    text-align: center;}

.table-caption-inner.affix-top {
    left: 0;
    top: 0;
    right: 0;
    background-color: $grayLighter;
    z-index: $zindexHeaderTable;
    position: fixed;
}

.table-caption h3 {
    font-size: $baseFontSize;
    font-weight: normal;
    float: left;
    padding-left: 20px;
    line-height: 36px;
    margin: 0;
    min-width: 140px;
    text-align: left;
}


.table-caption .shared-waitspinner {
    float: left;
    width: 14px;
    height: 14px;
    margin: 10px 2px 2px 2px;
}

.table-caption div.shared-controls-controlgroup {
    display: inline-block;
    margin: 0px 10px 0px 0;
}

.table-caption .pagination {
    min-width: 150px;
    margin: 5px 20px 0 20px;
}


/*  filter forms */
/*  ------------ */
.shared-tablecaption-input {
	position: relative;
}

/*  Lite UI */
/*  -------------------------------------------------- */
@if $theme == lite {
	.table-caption {
	    margin-bottom: 10px;
	}
}

