/*  Splunk: Variables */
/*  ================================================== */
/*  Variables to customize the look and feel of Bootstrap (splunk version) */

$theme: enterprise;


/*  STATIC PATHS */
/*  ------------------------- */
$staticPath:        /static;
$staticImagePath:   /static/img;
$staticFontPath:    /static/fonts;


/*  COLOR PALETTE */
/*  ------------------------- */

/*  Enterprise */
$splunkGray: 	         #97999B;
$splunkGreen:            #65A637;

/*  Light */
$splunkLiteOrange:       #F58220;
$splunkLiteBlack:        #333;

/*  Grayscale - DO NOT USE DIRECTLY WHENEVER POSSIBLE!!! Use text, border or table variables instead. */
$black:                 #000;
$grayDarker:            #222;
$grayDark:              #333;
$gray:                  #555;
$grayLight:             #999;
$grayLightMedium:       #ccc;
$grayLighter:           #eee;
$offWhite:              #f5f5f5;
$white:                 #fff;

/*  Accent colors */
$blue:                  #1e93c6; /* sky */
$blueDark:              #3863a0;
$green:                 #a2cc3e;
$red:                   #d6563c;
$yellow:                #f2b827;
$yellowLight:           color($yellow l(+28%));
$yellowLighter:         color($yellow l(+38%));
$orange:                #ed8440;
$pink:                  #cc5068;
$purple:                #6a5c9e;
$teal:                  #11a88b;

$focusColor:            #52A8EC;


/*  TYPOGRAPHY */
/*  ------------------------- */


$baseFontSizeLarge:     16px;
$baseFontSize:          12px;
$baseFontSizeSmall:     11px;
$baseLineHeight:        16px; /*  18px; */

$fontSizeLarge:         calc($baseFontSize * 1.25);
$fontSizeSmall:         calc($baseFontSize * 0.85);
$fontSizeMini:          calc($baseFontSize * 0.75);

$serifFontFamily:       Georgia, "Times New Roman", Times, serif;
$sansFontFamily:        "Roboto", "Droid", "Helvetica Neue", Helvetica, Arial, sans-serif;
$monoFontFamily:        'Droid Sans Mono', 'Consolas', 'Monaco', 'Courier New', Courier, monospace;
$baseFontFamily:        $sansFontFamily;

$textColor:             #333;
$textGrayDark:          #666;
$textGray:              #999;
$textDisabledColor:     #bbb;
$placeholderText:       $textGray;

$textTileColor:     	#ccc; /*  Lite listing pages */

$headingsFontFamily:    inherit; /*  empty to use BS default, $baseFontFamily */
$headingsFontWeight:    bold;    /*  instead of browser default, bold */
$headingsColor:         inherit; /*  empty to use BS default, $textColor */

$linkColor:             $blue ; /*  #08c; */
$linkColorHover:        $blueDark;


/*  SCAFFOLDING */
/*  ------------------------- */
$borderDarkColor: 		#999;
$borderColor: 			#ccc;
$borderLightColor: 	    #d5d5d5; /*  aliases: $tableBorderColor $tableBorderColorVertical */
/*  also see: $interactiveBorderColor */

$baseBorderRadius:           4px;
$containerBorderRadius:      2px;      /* For containers without a wrapper */
$containerOuterBorderRadius: 3px;  /* For for containers with a wrapper, like popdown */
$containerInnerBorderRadius: 3px;
$borderRadiusLarge:          6px;
$borderRadiusSmall:          3px;

$bodyBackgroundColor:              #eee;
$containerBackgroundColor:         $offWhite;
$containerBackgroundGradientStart: #e0e0e0;

$sideNavWidth:          300px;

$paddingLarge:          11px 19px; /*  44px */
$paddingSmall:          2px 10px;  /*  26px  */
$paddingMini:           0 6px;   /*  22px */

$hrBorder:              $grayLighter;


/*  Horizontal forms & lists */
/*  ------------------------- */
$horizontalComponentOffset:       180px;


/*  Z-INDEX */
/*  ------------------------- */
/*  If a variable does not suit your purpose, set a value relatively such as, $zindexModal +1 */
$zindexHeaderTable:       406;
$zindexDropdown:          1000;
$zindexPopover:           1010;
$zindexTooltip:           1020;
$zindexFixedNavbar:       1030;
$zindexSideNavBackdrop:   1032; /*  Splunk Lite */
$zindexSideNav:           1034; /*  Splunk Lite */
$zindexSideBarBackdrop:   1036; /*  Sidebar Component */
$zindexSideBar:           1038; /*  Sidebar Component */
$zindexModalBackdrop:     1040;
$zindexModal:             1050;
$zindexPopdown:           1060; /*  timerange popdown needs to be above modal + backdrop */
$zindexTooltip:           1070; /*  top interactive element */
$zindexDatePicker:        1070; /*  top interactive element */
$zindexModalNoConnection: 1080; /*  top uninteractive */
$zindexModalDisconnect:   1090; /*  top uninteractive */


/*  TABLES */
/*  ------------------------- */

$tableBackground:                   transparent; /*  overall background-color */
$tableBackgroundHover:              #e4e4e4; /*  for hover */
$tableBackgroundAccent:             #f5f5f5; /*  for striping */
$tableBackgroundAccentHover:        #ebebeb; /*  for striping */
$tableBackgroundFocus:              color($focusColor a(12%) s(100%));
$tableBorder:                       $borderLightColor; /*  table and cell border */
$tableBorderVertical:               $borderLightColor; /*  table and cell border */
$tableSortIconColor:                #bbb; /*  table and cell border */
$tableTextDisabledColor:            #7C7C7C;




/*  FORMS */
/*  ------------------------- */
$inputHeight:                   calc($baseLineHeight + 10px); /*  base line-height + 8px vertical padding + 2px top/bottom border */
$inputBackground:               $white;
$inputBorder:                   $borderColor;
$inputBorderRadius:             $baseBorderRadius; /*  This is generally overridden. */
$inputDisabledBackground:       $grayLighter;

$formActionsBackground:         $offWhite;

$warningText:             		color($yellow l(-10%));
$warningBackground:       		$yellowLighter;
$warningBorder:           		color($yellow l(-10%));

$errorText:               		$red;
$errorBackground:         		color($red l(+40%));
$errorBorder:             		$red;

$successText:             		$green;
$successBackground:       		color($green l(+40%));
$successBorder:           		$green;

$infoText:                		#3a87ad;
$infoBackground:          		#d9edf7;
$infoBorder:              		color($infoBackground h(-10) l(+7%));

/*  BASE INTERACTIVE */
/*  -------------------------- */
/*  text */
$interactiveColor:                  #eee;
/*  background */
$interactiveBackgroundColor:        $interactiveColor;
$interactiveDisabledBackgroundColor:#e6e6e6;
$interactiveGradientStartColor:     color($interactiveBackgroundColor l(+4%));
$interactiveGradientEndColor:       $interactiveBackgroundColor;
$interactiveBackgroundColorHover:   #f8f8f8;
$interactiveGradientStartColorHover:$interactiveBackgroundColorHover;
$interactiveGradientEndColorHover:  $interactiveBackgroundColorHover;
/*  borders */
$interactiveBorderColor:            #bfbfbf;
$interactiveBorderTopColor:         $interactiveBorderColor;
$interactiveBorderBottomColor:      $interactiveBorderColor;
$interactiveBorderColorHover:       color($interactiveBorderColor l(+3%));
$interactiveBorderTopColorHover:    $interactiveBorderColorHover;
$interactiveBorderBottomColorHover: $interactiveBorderColorHover;
$interactiveBorderRadius:           $baseBorderRadius;
/*  shadow */
$interactiveBoxShadow:              inset 0px 1px 0 color($interactiveGradientStartColor l(+2%));
$interactiveBoxShadowHover:         0px 1px 1px rgba(0,0,0,0.08);
$interactiveBoxShadowActive:        inset 0px 2px 2px rgba(0, 0, 0, 0.125);

$btnBoxShadowFocus:					0 0 8px color($focusColor a(60%)); /*  Active state in Radio Button Control */


/*  BASE INTERACTIVE ERROR */
/*  -------------------------- */
/*  text */
$interactiveErrorTextColor:              $errorText;
/*  background */
$interactiveErrorBackgroundColor:        color($errorBackground blend($red 20%));
$interactiveErrorGradientStartColor:     $interactiveErrorBackgroundColor;
$interactiveErrorGradientEndColor:       color($errorBackground blend($red 40%));
$interactiveErrorBackgroundColorHover:   color($errorBackground blend($red 10%));
$interactiveErrorGradientStartColorHover:$interactiveErrorBackgroundColorHover;
$interactiveErrorGradientEndColorHover:  color($errorBackground blend($red 30%));
/*  borders */
$interactiveErrorBorderColor:            color($errorBackground blend($red 80%) s(-30%));
$interactiveErrorBorderTopColor:         $interactiveErrorBorderColor;
$interactiveErrorBorderBottomColor:      $interactiveErrorBorderColor;
$interactiveErrorBorderColorHover:       color($errorBackground blend($red 75%) s(-30%));
$interactiveErrorBorderTopColorHover:    $interactiveErrorBorderColorHover;
$interactiveErrorBorderBottomColorHover: $interactiveErrorBorderColorHover;


/*  PRIMARY BUTTONS */
/*  -------------------------- */
/*  text */
$primaryTextColor:                  $white;
/*  background */
$primaryBackgroundColor:            $splunkGreen;
$primaryGradientStartColor:         $splunkGreen;
$primaryGradientEndColor:           color($splunkGreen l(-4%));
$primaryBackgroundColorHover:       color($splunkGreen l(+10%));
$primaryGradientStartColorHover:    color($splunkGreen l(+5%) h(-5));
$primaryGradientEndColorHover:      $splunkGreen;
/*  borders */
$primaryBorderColor:                color($splunkGreen l(-10%));
$primaryBorderTopColor:             color($splunkGreen l(-10%));
$primaryBorderBottomColor:          color($splunkGreen l(-10%));
$primaryBorderColorHover:           color($splunkGreen l(-10%) h(-5));
$primaryBorderTopColorHover:        color($splunkGreen l(-10%) h(-5));
$primaryBorderBottomColorHover:     color($splunkGreen l(-10%) h(-5));
/*  shadow */
$primaryBoxShadow:              inset 0px 1px 0 color($primaryGradientStartColor l(+2%));
$primaryBoxShadowHover:         $interactiveBoxShadowHover;
$primaryBoxShadowActive:        inset 0px 2px 2px rgba(0, 0, 0, 0.125);


/*  PILL BUTTONS */
/*  -------------------------- */
/*  text */
$pillTextColor:                     $linkColor;
$pillTextColorHover:                $linkColorHover;
/*  background */
$pillBackgroundColorHover:          color($black a(5%));
$pillBackgroundColorFocus:          color($focusColor a(12%) s(100%));



/*  BUTTONS */
/*  ------------------------- */
/*  Used in non-standard buttons - Legacy Bootstrap classes only */
$btnSuccessBackground:              #62c462;
$btnSuccessBackgroundHighlight:     #51a351;

$btnDangerBackground:               #ee5f5b;
$btnDangerBackgroundHighlight:      #bd362f;



/*  COMPONENT VARIABLES */
/*  -------------------------------------------------- */


/*  Navbar */
/*  ------------------------- */
$navbarCollapseWidth:             979px;
$navbarCollapseDesktopWidth:      calc($navbarCollapseWidth + 1px);

$navbarHeight:                    25px;
$navbarHeightLite:                40px; /* Fixes issue for escaped Dashboards. */
$navbarBackgroundHighlight:       #ffffff;
$navbarBackground:                $black;;
$navbarBorder:                    color($navbarBackground l(-12%));

$navbarText:                      #777;
$navbarLinkColor:                 #777;
$navbarLinkColorHover:            $grayDark;
$navbarLinkColorActive:           $gray;
$navbarLinkBackgroundHover:       transparent;
$navbarLinkBackgroundActive:      color($navbarBackground l(-5%));

$navbarBrandColor:                $navbarLinkColor;

/*  Inverted navbar */
$navbarInverseBackground:                #111111;
$navbarInverseBackgroundHighlight:       #222222;
$navbarInverseBorder:                    #252525;

$navbarInverseText:                      $grayLight;
$navbarInverseLinkColor:                 $grayLight;
$navbarInverseLinkColorHover:            $white;
$navbarInverseLinkColorActive:           $navbarInverseLinkColorHover;
$navbarInverseLinkBackgroundHover:       transparent;
$navbarInverseLinkBackgroundActive:      $navbarInverseBackground;

$navbarInverseSearchBackground:          color($navbarInverseBackground l(+25%));
$navbarInverseSearchBackgroundFocus:     $white;
$navbarInverseSearchBorder:              $navbarInverseBackground;
$navbarInverseSearchPlaceholderColor:    #ccc;

$navbarInverseBrandColor:                $navbarInverseLinkColor;


/*  Tooltips and popovers */
/*  ------------------------- */
$tooltipColor:            #fff;
$tooltipBackground:       #000;
$tooltipArrowWidth:       5px;
$tooltipArrowColor:       $tooltipBackground;

/*  GRID */
/*  -------------------------- */
/*  Default 940px grid */
$gridColumns:             12;
$gridColumnWidth:         60px;
$gridGutterWidth:         20px;
$gridRowWidth:            calc(($gridColumns * $gridColumnWidth) + ($gridGutterWidth * ($gridColumns - 1)));

/*  1200px min */
$gridColumnWidth1200:     70px;
$gridGutterWidth1200:     30px;
$gridRowWidth1200:        calc(($gridColumns * $gridColumnWidth1200) + ($gridGutterWidth1200 * ($gridColumns - 1)));

/*  768px-979px */
$gridColumnWidth768:      42px;
$gridGutterWidth768:      20px;
$gridRowWidth768:         calc(($gridColumns * $gridColumnWidth768) + ($gridGutterWidth768 * ($gridColumns - 1)));


/*  Fluid grid */
/*  ------------------------- */
$fluidGridColumnWidth:    6.382978723%;
$fluidGridGutterWidth:    2.127659574%;

/*  1200px min */
$fluidGridColumnWidth1200:     calc(100% * $gridColumnWidth1200 / $gridRowWidth1200);
$fluidGridGutterWidth1200:     calc(100% * $gridGutterWidth1200 / $gridRowWidth1200);

/*  768px-979px */
$fluidGridColumnWidth768:      calc(100% * $gridColumnWidth768 / $gridRowWidth768);
$fluidGridGutterWidth768:      calc(100% * $gridGutterWidth768 / $gridRowWidth768);


/*  Responsive Variables */
$responsive-screen-height: 700px;


/*  SELECTORS FOR CUSTOMIZING SPECIFIC LOCALES */
/*  -------------------------- */
$wideTextLocaleSelector: body.locale-de;


/*  BUILD COMMENT */
/*  -------------------------- */
/*  Hide the Build Comment. The make file sets this to true. */
$buildComment: false;

/*  LEGACY BUILD */
/*  -------------------------- */
/*  This is set to true when building the less for splunk components. */
$version5AndEarlier: false;
