/*  Splunk: Pages: Virtual Indexes */
/*  ============================== */

.shared-controls-syntheticcheckboxcontrol {
	label.checkbox {
		padding: 0;
	}
}

/*  inline checkboxes */
.index-recursive,
.index-whitelist
{
	.control-label,
	.controls,
	.control,
	.checkbox
	{
		display: inline;
	}
	.checkbox {
		margin-left: 1em;
	}
}

/*  table spacing */
.shared-dynamicfields .elements {
	td {
		padding: 5px;
	}
}

.key-text-control-placeholder .shared-controls-textcontrol{
  float: right;
}

.shared-controls-keyvaluecontrol {
  margin-bottom: 10px;
}

.form-horizontal .control-label {
  width: 300px;
}

.form-horizontal .controls {
  margin-left: 310px;
}

.virtualindexes-config-forms-provideradditionalsettings {
  .shared-controls-textcontrol {
      .control-clear {
        right: 60px;
      }
  }
}

.virtualindexes-config-forms-providernewsettingrow {
  margin-bottom: 10px;

  .key-text-control-placeholder {
    width: 310px;
  }

  .key-value-control-placeholder {
    float: left;
  }

  .close-row {
    line-height: 26px;
    font-size:16px;
    color: #999;
    cursor: pointer;
  }
}