/*  Splunk: Pages: Virtual Indexes */
/*  ============================== */

#settings {
	th {
		text-align: left;
		margin-bottom: 5px;
	}

	td {
		padding-right: 5px;
		padding-bottom: 10px;
	}
}

#additional-settings {
	h5 {
		margin-bottom: 0;
	}
}

.prov-secure-cluster
{
  .control-label,
  .controls,
  .control,
  .checkbox
  {
    display: inline;
  }
  .checkbox {
    margin-left: 1em;
  }
}

.subsection
{
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}

.key-text-control-placeholder .shared-controls-textcontrol{
  float: right;
}

.shared-controls-keyvaluecontrol {
  margin-bottom: 10px;
}

.form-horizontal .control-label {
  width: 300px;
}

.form-horizontal .controls {
  margin-left: 310px;
}

.bandwidth-throttling {
  display: inline-block;
  margin: 3px 0 16px 0;

  .shared-controls-textcontrol {
    vertical-align: middle;

    input {
      width: 8em;
      padding-right: 6px;
    }
  }

  .select-time-unit {
    display: inline-block;
  }

  .control {
    display: inline-block;
  }
}

.virtualindexes-config-forms-provideradditionalsettings {
  .shared-controls-textcontrol {
    .control-clear {
      right: 60px;
    }
  }
}

.virtualindexes-config-forms-providernewsettingrow {
  margin-bottom: 10px;

  .key-text-control-placeholder {
    width: 310px;
  }

  .key-value-control-placeholder {
    float: left;
  }

  .close-row {
    line-height: 26px;
    font-size:16px;
    color: #999;
    cursor: pointer;
  }
}


