/* banner-content */

.banner-content {
    height: $navbarHeight;
    line-height: $navbarHeight;
    text-align: center;
    font-size: small;
    background-color: $splunkLiteOrange;
    color: $white;

    .close {
        margin: 7px 7px 0 0;
    }

    .close:before {
        color: $white;
    }

    .banner-content-message {
        margin: 5px;
    }

    .see-plans {
        text-decoration: underline;
        color: $white;
    }
}