.leaflet-reset-zoom-icon {
	padding-top: 2px;
	display: block;
	margin: auto;
}

@media print {
	.leaflet-reset-zoom {
		display: none;
	}

}

.leaflet-control-zoom-in:focus, .leaflet-control-zoom-out:focus{
	@mixin focus-link;
}