/*  Splunk: Page: deploymentserver */
/*  ============================== */

/*  Common Layout */
/*  ------------- */

.subtitle {
	padding: 10px;
	font-size: $baseFontSizeLarge;
	border-bottom: 1px solid $borderColor;
}

/*  TODO: not sure why this is needed */
.tab-content {
	overflow: visible;
	background-color: $white;
}

/*  TODO: not sure if this is still needed */
.section-header {
	@mixin clearfix;
	position: relative;
	padding-bottom: 0;
}

.appsContainer {
	.searchFilterContainer{
		float: none;
	}
}

.dashboard-container {
	padding: 0 10px 0 20px;
	margin-bottom: 20px;
	/*  should be .dashboard-panel */
	.panel {
		margin: 0 0 10px 0;
		padding-left: 0;
		padding-right: 0;
	}
}

.deploymentserver-edit-addclients-selectedclientstab,
.deploymentserver-edit-addclients-unselectedclientstab
{
	.searchFilterContainer {
		float: none;
	}
}

.summary_section{
	display: inline-block;
	text-align: center;
	float:left;
	width:33%;
	padding: 20px 0px;
}


.page-actions {
	position: absolute;
	right: 10px;
	bottom: 20px;
}

#configurations-tabs-contents {
	min-height: 400px;
}

.searchFilterContainer {
	float:left;
}

.deployment_filter{
	float: left;
}

.filtersContainer {
	 padding:10px;
	 @mixin clearfix;
}

.createNewServerClass {
	float:right;
}

/*  TODO: this should probably be in tables.pcss; */
.table {
	.expands {
		cursor: pointer;
		text-align: center;
		border-right: 1px solid $borderDarkColor;
	}
	.end-group {
		border-right: 1px solid $borderDarkColor;
	}
}

.message-single {
	padding: 60px 20px;

	.icon-alert {
		color: $errorText;
		font-size: 24px;
		margin-right: 0.5em;
	}

	a {
		cursor: pointer;
	}

}

.gettingstarted-msg {
	max-width: 600px;
}

#gettingstarted-content {
	margin: 10px 0px;
}


.error-title {
	text-transform: uppercase;
	color: $textGray;
	font-size: 12px;
	margin-bottom:5px;
}


.moreAppsLink {
	cursor: pointer;
}

.searchFilterContainer .deploymentserver-search  {
	margin-bottom: 0;
}


.deploymentserver-shared-dspaginator {
	padding-left: 10px;
}

.deploymentserver-serverclassesgrid{
	td.col-name {
		word-break: break-all;
	}
}

.deploymentserver-clientsgrid .table {
	table-layout: auto;
	.col-flex {
		/*  width: auto; */
	}
	.col-med {
		/*  width: 200px; */
	}
	.col-sm {
		/*  width: 150px; */
	}
	.list-dotted {
		width: auto;
	}
}