/*  Splunk: Common: deployment server */
/*  ================================ */

/*  used on clients table on deploymentserver page, deploymentserver_edit_app page, and deploymentserver_apps_detail page */

.view-client-summary {
  /*  ghetto override */
  height: 100px;
  text-align: center;
  .single-value {
	width: 33%;
	box-sizing: border-box;
	margin: 0;
	padding: 20px;
  }
  .single-result {
	font-weight: bold;
	font-size: 40px;
	margin: 20px 10px;
  }
  .under-label {
	color: $grayLight;
	display: inline-block;
	margin: 5px;
  }
  .icon-alert {
	color: $errorText;
	font-size: 24px;
	margin-right: 0.5em;
  }
}


.small-alert {
	width: 20px;
	height: 12px;
	float: left;
}

.small-alert  .icon-alert{
	color:  $errorText;
	font-size: 13px;
	margin-right: 0.5em;
}

/*  NOTE: this selector is too generic */
.list-dotted {
	margin-top: 15px;
	margin-left: 20px;
}

.table-value-wide{
	margin-right: 0.5em;
	height: 12px;
	float: left;
}

.table-value-right{
	height: 12px;
	float: right;
}

.table-value{
	margin-right: 0.5em;
	width: 20px;
	height: 12px;
	float: left;
	a {
		cursor: pointer;
	}
}

.warning-msg {
		display:block;
		padding: 10px 10px 10px 30px;
		position: relative;
		line-height: 1.2;
		margin-top:10px;

		.icon-alert {
			color:  $warningText;
			font-size: 24px;
			margin-right: 0.5em;
			position: absolute;
			left: 0px;
			top: 2px;
		}
}

.read-only-msg {
	display:none;
}

.read-only {
	.btn{
		opacity:.3;
	}

	.btn-combo {
		font-size: 12px;
		color: $textGray;
	}

	.read-only-msg {
		display:block;
		padding: 10px 10px 10px 30px;
		position: relative;
		line-height: 1.2;
		margin-top:10px;
	}

	.read-only-msg:after {
		content: "";
		border: 1px solid $white;
		border-bottom: none;
		border-right-color: $tableBorder;
		border-radius: inherit;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		border-bottom: 1px solid $tableBorder;
		z-index:-1;
	}

	.read-only-msg {
		.icon-alert {
			color:  $errorText;
			font-size: 24px;
			margin-right: 0.5em;
			position: absolute;
			left: 0px;
			top: 2px;
		}
	}

	#apps_edit_link, #clients_edit_link, .link {
		color: $textColor;
	}
}

.paginator_container {
	border-top: 1px solid $tableBorder;
	border-bottom: 1px solid $white;
	padding-top: 5px;
	padding-bottom: 3px;

}

#unselected_clients, #selected_clients, #all_clients {
	.paginator_container {
		margin-right: -20px;
		margin-left: -20px;
		padding-left: 20px;
		padding-right: 20px;
	}
}

.padded-table {
	.paginator_container {
		margin-right: -20px;
		margin-left: -20px;
	}
}

dd {
	min-height: 20px;
}

td.expands {
	cursor: pointer;
}

/*  Filters */
.deployment_filter {
	margin-right: 5px;
}

/*  Remove and add buttons */
.removeMachineType,
.selected-serverclasses .btn-combo .btn.removeMachineType {
	text-align: center;
	padding: 0;
	width: 24px;
	height: 24px;
	line-height: 24px;
}

/*  override fixed table layout */
.deploymentserver-clientsgrid .table {
	table-layout: auto;
}

