/*  Splunk: Component: Timeline */
/*  =========================== */
/*  FIXME: is this still used? */

/*
    markup missing ...
*/
.splunk-charting-Timeline {

    .splunk-charting-label {
        cursor: default;
    }

    .splunk-charting-TimeAxisLabels {

        .splunk-charting-label {
            margin-left: 5px;
            margin-right: 5px;
            margin-top: 4px;
            margin-bottom: 4px;
        }

    }

    .splunk-charting-NumericAxisLabels {

        .splunk-charting-label {
            margin-left: 5px;
            margin-right: 5px;
            margin-top: 3px;
            margin-bottom: 3px;
        }

    }

    .splunk-charting-ClickDragRangeMarker,
    .splunk-charting-CursorMarker {

        .splunk-charting-label {
            color: $black;
            margin-left: 7px;
            margin-right: 7px;
        }

    }

    .splunk-charting-Tooltip {

        .splunk-charting-label {
            color: $white;
            margin-left: 7px;
            margin-right: 7px;
            margin-top: 4px;
            margin-bottom: 4px;
        }

    }

}
