/*  Splunk: Component: Field Info */
/*  ============================= */


/*  flyout */
.shared-fieldinfo,
.shared-eventsviewer-shared-timeinfo {
	.popdown-dialog-body {
	    padding: 0 20px 20px 20px;
	}

	h2 {
	    margin: -1px -21px 10px -21px;
		line-height: 40px;
		font-size: $baseFontSizeLarge;
		font-weight: normal;
		color: $textColor;
		padding: 0 60px 0 20px;
		border-top-right-radius: $containerInnerBorderRadius;
		border-top-left-radius: $containerInnerBorderRadius;
		border-bottom: 1px solid $borderColor;
		box-shadow:none;
		/*  SPL-74434 */
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap; /*  for IE */
	}
	h3 {
		font-size: $baseFontSize;
		font-weight: bold;
		margin: 15px 0 0 0;
	}

	table.fields, table.before-after, table.available-actions {
	   width: 100%;

	   td {
	       padding: 3px 0px;
	       vertical-align: top;
	   }
	}

	.close {
	    display: block;
		top: 7px;
		right: 7px;
		overflow: hidden;
		position:absolute;
	}
}
.shared-eventsviewer-shared-timeinfo {
	width: 375px;
	.control-group {
		float: left
	}

	.apply {
		margin: 5px 5px 5px 10px;
	}

	.range-units {
		border-top-right-radius: 4px;
		border-bottom-right-radius: 4px;
		width: 89px;
	}
	.range-type {
		width: 28px;
	}
}
.shared-fieldinfo {
	width: 600px;

	p {
	    line-height: 30px;
	}
	.select-field-label {
	    display: inline-block;
	    margin: 0 5px 0 20px;
	    line-height: 26px;
	    color: $textGray;
	    vertical-align:top;
	}

	.graph-bar {
		margin: 0 20px 0 0;
		height: $baseLineHeight;
		background-color: $grayLight;
		@mixin gradient-vertical $grayLightMedium, $grayLight;
		/*  SPL-74434 */
		max-width: 100%;
	}

	table.table-condensed {
	    margin: 13px -20px -5px -20px;
	    width: 598px;
	}

	td.value {
		max-width: 200px;
		word-wrap: break-word;
		padding-left:20px;
	}

	th.value {
	    padding-left:20px;
	}

	ul.inline {
        line-height: 20px;
        margin-bottom: 0;

        li {
            padding-left: 0
        }
    }
}

/*  Lite UI */

@if $theme == lite  {
	.shared-fieldinfo .close {
		opacity: 1.0;
	}
}
