/*  Splunk: Component: Install Dialogs */
/*  ================================== */
/*   */

.shared-appsremote-dialog {

    .modal-info-dev-install {

        .username-placeholder, .password-placeholder {
            .control {
                margin-bottom: 8px;
            }
        }

        .setup {
            margin-bottom: 20px;
        }
    }

    .info-dev-download-size {
        color: #555;
        margin: 8px 0 0;
    }

}

