/*  Splunk: Component: Progress Bar */
/*  ============================= */

$progressCursorColor:  #a0e1fc;
$progressCursorColorlite: color($splunkLiteOrange l(+25%) s(100%));


.progress-bar {
    font-size: 10px;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 3px;
    right: 0;
    padding-left: 20px;
    z-index: 2;
}

.progress-animation {
    height: 3px;
    background-position: right top;
    background-repeat: no-repeat;
    width: 0%; /* this is usually overridden to set progress. */
    padding-left: 20px;
    margin-left: -20px;
    position: relative;
    overflow: hidden;


    @if $theme == enterprise {
    	background-color: $blueDark;
    }
    @if $theme == lite {
    	background-color: $splunkLiteOrange;
    }

    &:focus {
    	background-color: $focusColor;
		outline: none;
    }
}

.progress-cursor {
    height: 3px;
    width: 40px;
    position: absolute;
    right: 0;
    top: 0;

    @if $theme == enterprise {
    	@mixin gradient-horizontal-three-colors $blueDark, $progressCursorColor, 60%, $progressCursorColor;
    }

    @if $theme == lite {
    	@mixin gradient-horizontal-three-colors $splunkLiteOrange, $progressCursorColorlite, 60%, $progressCursorColorlite;
    }
}


.real-time .progress-cursor {
    width: auto;
    left: 0;

    @if $theme == enterprise {
    	background: $progressCursorColor;
    }

    @if $theme == lite {
    	background: $progressCursorColorlite;
    }

}
