/*  Splunk: Responsive Navs */
/*  ======================= */

$navHeightCollapsed: 6px;

/*  Styles for the responsive header */
.shared-responsiveheaderpage {

	header {
		position: absolute;
		right: 0px;
		left: 0px;

		.expand-collapse-control {
			i.icon-menu {
				color: color($white a(80%));
				position: relative;
				top: 2px;
			}
		}
	}

	.expand-collapse-control {
		position: absolute;
		left: 0px;
		right: 0px;
		bottom: 0px;
		height: $navHeightCollapsed;
		background-color: color($grayLight l(-10%));

		&:hover {
			cursor: pointer;
		}

		.tab {
			$height: 25px;
			background-color: inherit;
			position: absolute;
			top: 0px;
			right: 10px;
			height: $height;
			line-height: $height;
			width: 30px;
			text-align: center;
			font-size: 20px;
			border-radius: 0px 0px 3px 3px;

			&:focus > i {
				color: $white;
			}
		}
	}
}


/*  backdrop for responsive nav */
.expanded-nav-screen {
	background: $black;
	opacity: 0.30;
	filter: alpha(opacity=30) !important; /*  for some reason filter is being overridden inline here ;_; */
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	/*  SPL-68433, this needs to be greater than the z-index of .header-table-static in tables.pcss */
	z-index: calc($zindexHeaderTable + 1);
}

/*  Responsive Mixins */
/*  ------------------ */

@define-mixin responsive-nav-expanded  {
	.shared-responsiveheaderpage header {
		top: 0px;
		bottom: auto;

		.expand-collapse-control {
			display: none;
		}
	}
}

@define-mixin responsive-nav-collapsed  {
	.shared-responsiveheaderpage header {
		top: auto;
		bottom: calc(100% - $(navHeightCollapsed));

		.expand-collapse-control {
			display: block;
		}
	}
}

@mixin responsive-nav-collapsed;
@media only screen and (min-height: 800px) {
	@mixin responsive-nav-expanded;
}
