.side-bar-master {
  .background-cover {
    z-index: $zindexSideBar;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  .sidebar {
    z-index: $zindexSideBar;
    position: fixed;
    top: 0px;
    right: 0px;
    height: 100%;
    background-color: white;
    border-right: 1px solid $borderColor;
    .close {
      position: absolute;
      right: 0;
      margin: 3px;
    }
    &.first {
      box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
    }
  }
}
