/*  Splunk: Concertina */
/*  ================ */


/* Concertina for expanding content

	 <div class="concertina" id="concertina2">
		 <div class="concertina-group">
			 <div class="concertina-heading">
				 <a class="concertina-toggle" data-toggle="collapse" data-parent="#concertina2" href="#collapseOne">
					 <i class="icon-concertina-arrow"></i>
					 Collapsible Group Item #1</a>
			 </div>
			 <div id="collapseOne" class="concertina-group-body collapse in">
				 <div class="concertina-inner">
					 Anim pariatur cliche...
				 </div>
			 </div>
		 </div><!-- /.concertina-group -->
		 <div class="concertina-group">
			 <div class="concertina-heading">
				 <a class="concertina-toggle" data-toggle="collapse" data-parent="#concertina2" href="#collapseTwo">
					 <i class="icon-concertina-arrow"></i>
					 Collapsible Group Item #2</a>
			 </div>
			 <div id="collapseTwo" class="concertina-group-body collapse">
					 Anim pariatur cliche...
			 </div>
		 </div><!-- /.concertina-group -->
	 </div><!-- /.concertina -->

*/

/*  use the same z-index as docked table headers for interop with modal overlays (SPL-105031) */
$zindexConcertinaDocked: $zindexHeaderTable;

/*  Parent container */
.concertina-dock-top {
	position: absolute;
	top:0;
	left: 0;
	right:0;
	z-index: $zindexConcertinaDocked;

	.concertina-heading  {
        .concertina-toggle {
    		border-top: none;
    	}

        &:last-child:after {
    		content: '';
    		display: block;
    		height: 15px;
            position:absolute;
            bottom: -15px;
            left:0;
            right:0;
    		@mixin gradient-vertical color($black a(0.15)),  color($black a(0));
    		background-color: transparent;
            pointer-events:none;
        }
	}
}

.concertina-body {
  position: absolute;
  top:0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow-y: auto;
  overflow-x: hidden;
}


.concertina-dock-bottom {
	position: absolute;
	bottom:0;
	left: 0;
	right:0;
	z-index: $zindexConcertinaDocked;

	.concertina-heading  {
    	&:first-child:before {
    		content: '';
    		display: block;
            position:absolute;
            top: -15px;
            left:0;
            right:0;
    		height: 15px;
    		@mixin gradient-vertical color($black a(0)),  color($black a(0.15));
    		background-color: transparent;
            pointer-events:none;
    	}

    	 + .concertina-heading .concertina-toggle {
    		border-top: none;
    	}
    }
}

.concertina-heading {
	position: relative;
	width: 100%;
	background: $white;

	.heading-message {
		float: right;
		opacity: 0.65;
	}
}

.concertina-toggle {
	padding: 6px 15px 6px 20px;
	line-height: $baseLineHeight;
	color: $textColor;
	border-top: 1px solid $interactiveBorderTopColor;
	border-bottom: 1px solid $interactiveBorderTopColor;

	@mixin gradient-vertical $interactiveGradientStartColor,  $interactiveGradientEndColor;
	display: block;
	text-align: left;

	&:hover {
		color: $textColor;
		text-decoration: none;
		@mixin gradient-vertical $interactiveGradientStartColorHover,  $interactiveGradientEndColorHover;
	}

	&:focus {
		@mixin focus-pill;
		@mixin reset-filter;
	}
}


.warning {
    > .concertina-toggle {
        @mixin gradient-vertical color($warningBackground blend($yellow 30%)),  color($errorBackground blend($yellow 35%));
        border-bottom-color: color($warningBackground blend($yellow 80%) s(-30%));

        &:hover {
            @mixin gradient-vertical color($warningBackground blend($yellow 20%)),  color($warningBackground blend($yellow 25%));
            border-bottom-color: color($warningBackground blend($yellow 80%) s(-30%));
        }

        &:focus {
        	background: $pillBackgroundColorFocus;
        }
    }

    + .concertina-group-body {
        background: $warningBackground;
    }

}

.error {
    > .concertina-toggle {
        @mixin gradient-vertical color($errorBackground blend($red 30%)),  color($errorBackground blend($red 35%));
        border-bottom-color: color($errorBackground blend($red 20%) s(-30%));

        &:hover {
            @mixin gradient-vertical color($errorBackground blend($red 20%)),  color($errorBackground blend($red 25%));
            border-bottom-color: color($errorBackground blend($red 20%) s(-30%));
        }

        &:focus {
        	background: $pillBackgroundColorFocus;
        }
    }

    + .concertina-group-body {
        background: $errorBackground;
    }

}

.concertina-message {
	text-align: center;
	padding-bottom: 10px;
}

.concertina-group-body {
	background: $offWhite;
	padding-top: 10px;
	@mixin clearfix;
}

.concertina-group:first-child  .concertina-toggle {
	border-top:none;
}

/*  Lite UI */

@if $theme == lite {
	.concertina .concertina-heading .concertina-toggle {
		border-color: $borderColor;
		font-weight: bold;
	}

	.concertina .concertina-group:not(.active) .concertina-toggle {
		background-color: $offWhite;

		&:hover {
			background-color: $pillBackgroundColorHover;
			border-color: $borderColor;
		}

	}

	.concertina-group-body {
		background-color: $white;
	}
}
