.modal {
    
    .timerange-picker-wrapper {
        float:left;
        .shared-timerangepicker-dialog {
            width: 640px;
        }
        .accordion .accordion-heading .accordion-toggle {
            border-left: none;
            border-right: none;
        }
        .accordion .accordion-body {
            border: none;
        }
        .accordion .accordion-group.active:last-child .accordion-body {
            border: none;
        }
        .accordion .accordion-group:last-child .accordion-toggle {
            border-bottom: none;
            border-radius: 0px;
        }
        .accordion .accordion-group:first-child .accordion-toggle {
            border-top: none;
            border-radius: 0px;
        }
    }
    .vis-area {
      @mixin clearfix;
    }

    .slide-area {
      width: 1090px;
    }

    .content-wrapper {
      width:450px;
      float:left;
    }
}