/*  Splunk: Page: Clustering Push */
/*  ============================= */


/*  messages */
.success-info {
	.icon-check {
  		color: $splunkGreen;
  	}
  	.icon-alert {
  		color: $errorText;
	}
}

.clustering-push-pushstatus > .alerts{
	padding-left: 20px;
	padding-right: 20px;
}

.section-bg {
	background-color: $bodyBackgroundColor;
	min-height: 360px;
}

/*  TODO: this should probably be common */
.tooltip-link {
  padding: 5px;
}


/*  progress bar style taken from dashboards */
/*  TODO: make this common */
.progress-msg {
	font-size: 11px;
	color: $textGrayDark;
	display: inline-block;
	vertical-align: middle;
}
.progress.progress-striped {
	width: 160px;
	height: 10px;
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 0;
	margin-left: 5px;
	border-radius: 2px;
	.bar {
	  background-color: $grayLightMedium;
	  background-size: 10px 10px;
	  height: 10px;
	}
}
/*  take from inline styles */
.progress-label {
	display: inline-block;
	vertical-align: middle;
}
.job-bar {
	width: 200px;
	display: inline-block;
	vertical-align: middle;
	.progress {
		.bar {
			transition: width 0.6s ease;
		}
	}
}
