/*  Splunk: Page: Dashboard Simple */
/*  ============================= */
/*  FIXME: split this into more components */

/*  fix z-index for map controls */
$dashboardBackgroundColor: #eee;

.leaflet-container {
  z-index: 1;
}

.dashboard-wrapper {
  padding-top: 20px;
}

.dashboard-body {
  padding: 0 20px 15px 20px;

    color:$textColor;
    background-color: $bodyBackgroundColor;
    min-height: 500px;
    /*  using three color so we can set color stop even though its only 2 colors */
}

.preload {
  .dashboard-row, .fieldset, .preload-hidden {
    display: none;
  }
  .dashboard-header:after {
    content: "Loading...";
    margin: auto;
    padding: 50px 0;
  }
}

.progress-bar {
    top:0;
    bottom: auto;
}

.dashboard-header {
  margin-bottom: 10px;
  padding-top: 10px;
  min-height: 28px;

  h2 {
    font-size: 24px;
    margin: 0;
    padding: 0;
    font-weight: 200;
    padding-left: 0;

  }
  .untitled {
    font-style: italic;
  }

  .edit-dashboard-menu {
    padding: 2px 0px 0px 20px;

    .dashboard-source-type {
      color: $textGray;
      float: right;
    }
    .tooltip-inner {
      white-space: normal;
    }
  }

  p.description {
    margin: 0 200px 0 0;
  }

  /* .dashboard-view-controls { */
  /*   > a:first-child { */
  /*     margin-right: 10px; */
  /*   } */
  /* } */

  .edit-done {
    margin-left: 10px;
  }

  .dashboard-menu {
    .edit-btn {
      margin-right: 5px;
    }
    .edit-export {
      margin-right: 5px;
    }
    .edit-other {
      /*  TODO: replace with icon */
      font-size: 18px;
    }
  }
}

@define-mixin alert-box {
  i {
    left: 20px;
  }
  padding: 14px;
  padding-left: 45px;
  position: relative;
  line-height: 1.2;
  margin-bottom: 5px;
  z-index: 10;
}

.alert-box {
    @mixin alert-box;
}

.dashboard-error {
  .alert {
    @mixin alert-box;
    margin: 100px 50px;
  }
}
.empty-dashboard {
  padding: 100px 50px;
  .alert {
    @mixin alert-box;
  }
}

#dashboard-editor{
  width:100%;
  min-height: 500px;
  height:100%;
}


.add-content-master {
  width: 300px;
  .header {
    input {
      border-radius: 15px;
    }
    .clear-filter {
      position: relative;
      left: -20px;
      background-color: $grayLightMedium;
      border-radius: 5px;
      height: 10px;
      width: 10px;
      display: inline-block;
      color: inherit;
      i {
        font-size: 8px;
        position: relative;
        top: -4px;
        left: 2px;
      }
    }
  }
  .panel-contents {
    width: 100%;
    display: inline-block;
    overflow-y: auto;
    position: absolute;
    top: 65px;
    bottom: 0;
    padding: 0;
    box-sizing: border-box;
    .accordion-group {
      border-left: none;
      border-right: none;
      border-top: none;
      border-radius: 0;
      margin: 0;
      .collapse:not(.in) {
        visibility: hidden;
        -webkit-touch-callout: none;
        user-select: none;
      }
      .collapse.in {
        visibility: visible;
      }
      .accordion-toggle:before {
        content: "\02C5";
        font-family: "Splunk Icons";
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        display: inline-block;
        width: 13px;
      }
      .accordion-toggle.collapsed:before {
        content: "\203A";
      }
      .accordion-inner {
        border-top: none;
        padding: 0;
      }
    }
    a:hover {
      text-decoration: none;
      color: $linkColorHover;
      background: $pillBackgroundColorHover;
    }
    a:focus {
      @mixin focus-pill;
    }
    ul {
      margin: 0;
      list-style: none;
      li.panel-content {
        position: relative;
        a {
          position: relative;
          padding: 7px 10px 7px 31px;
          overflow: hidden;
          text-overflow: ellipsis;
          line-height: 16px;
          display: block;
          white-space: nowrap;
          .icons {
            position: relative;
            top: 2px;
            font-size: 14px;
            width: 40px;
            text-align: center;
            margin-left: -15px;
            display: inline-block;
            i {
              margin-right: 3px;
              &.icon-plus {
                font-size: 12px;
              }
            }
          }
        }
        .accordion-group {
          ul {
            a {
              padding-left: 48px;
            }
          }
        }
      }
      li.parser-error a, li.clone-error a {
        color: $textGray;
        cursor: default;
      }
      li.selected a {
        color: $white;
        background: $blueDark;
      }
    }
  }
}

.add-content-name.tooltip {
  word-break: break-all;
}

.sidebar {
  .header {
    padding: 10px;
    height: 45px;
    background-color: $bodyBackgroundColor;
    h3 {
      margin-top: 0;
      margin-bottom: 3px;
    }
  }
  .footer {
    position: absolute;
    bottom: 0;
  }

  .content-title-control {
    margin-top: 10px;
  }

  .shared-timerangepicker {
    .btn {
      .time-label {
        display: inline;
        vertical-align: baseline;
      }
    }
  }

  .time-range-scope {
      margin-bottom: 0;

      .controls {
          float: left;
          margin-right: 10px;
      }
  }

  .preview-body {
    .dashboard-cell {
      width: 100%;
      .dashboard-panel {
        margin-right: 0;
      }
    }
    .shared-controls-textareacontrol {
      textarea {
        height: 80px;
      }
    }
    .view-results {
      visibility: hidden;
    }
  }
}

.time-range-scope {
    .controls {
        margin-bottom: 10px;
    }
}

.input.hidden {
  display: none;
}

.edit-mode .input.hidden {
  display: inline-block;
}

.form-settings {
  float: right;
}

.edit-mode .dashboard-header {
  .title-editor {
    display: block;
    width: 100%;
    background-color: transparent;
    &:hover,&:focus{
      background-color: $white;
    }
    line-height:normal;
  }
  .label-editor {
    font-size: 24px;
    font-weight: 200;
    margin-bottom: 0;
  }
  .description-editor {
    height: 26px;
    word-break: break-all;
  }
}


.edit-mode .title-editor {
  box-shadow: none;
  box-sizing: border-box;
  height: auto;
  border-color: transparent;
  font-size: inherit;
  font-weight: inherit;

  &:hover:not(:focus) {
    border-color: $borderColor;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  }
  &:focus {
    @mixin focus-field;
  }
}

.edit-mode .dashboard-row .dashboard-panel {
  h2.panel-title {
    padding: 3px 55px 3px 5px;
    padding-right: 50px;
    height: 27px;
    border-bottom: 1px solid $grayLighter;

    > .title-editor {
        font-size: inherit;
        color:inherit;
        text-transform: inherit;

      margin-bottom: 5px;
      padding: 4px 6px 4px 6px;
      width: 100%;
      margin-right: 60px;
      border-color: transparent;
      &:hover:not(:focus) {
        border-color: $borderColor;
      }
      &:focus {
        @mixin focus-field;
      }
    }
  }

  .panel-head > h3 {
    padding: 2px 0 2px 5px;
    margin-right: 177px;
    > .title-editor {
      margin-top: 1px;
      margin-bottom: 1px;
      width: 100%;
      margin-right: 150px;
    }
  }

  .dashboard-element-editor {
    position: relative;
  }

    .panel-element-row {
        border-top: 1px solid $grayLighter !important;
    }

  .dashboard-panel-editor {
    position: absolute;
    right: 0;
    top: 16px;

    .dropdown-toggle {
      border-radius: 0;
      display: inline-block;
      padding: 0 10px;
      line-height: 27px;
      box-shadow: none !important;

      > [class^="icon-"] {
        font-size: 1.5em;
      }
        .caret {
            padding-left: 0.15em;
            vertical-align:middle;
        }
    }
    .panel-type-label {
      padding: 3px 10px;
      color: $textGray;
      text-transform: uppercase;
    }
  }
}

.view-mode .dashboard-panel h2.panel-title.empty {
  display: none;
}
.view-mode .dashboard-element.table {
  margin-top: -1px;
}

.edit-mode .dashboard-row {
  margin-right: -10px;
}

.dashboard-row {
  @mixin clearfix;

  .dashboard-cell {
    float: left;
  }

  .dashboard-panel {
    background: white;
    margin: 0 5px 5px 0;
    /*  overflow: hidden; // moved overflow to panel-body due to SPL-71571 */
    position: relative;
    @mixin clearfix;

    h2.panel-title {
      font-size: 16px;
      line-height: 1;
      font-weight:normal;
      margin: 0;
      padding: 12px 55px 7px 12px;
      word-wrap: break-word;
      text-rendering: initial;
    }

    &:hover .ui-resizable-handle {
      visibility: visible;
    }

    .ui-resizable-handle {
        margin-bottom: -1px;
        position:absolute;
    }

    .panel-element-row {
      clear: both;

      div.single {
        float: left;
        min-width: 200px;
      }

      .table {
        margin-bottom: 0px;
      }

      .ui-resizable-handle {
          display: none;
      }

      &:hover {
          .ui-resizable-handle {
              display: block;
          }
      }

    }

    .panel-title.empty + .fieldset.empty + .panel-element-row {
        border-top:none;
    }

    .dashboard-element {
      position: relative;
      .panel-footer {
        clear: both;
      }
    }
    .panel-head {

      h3 {
        line-height: 1;
        margin: 0;
        padding: 12px 55px 10px 12px;
        color: $textColor;
        text-rendering: initial;
        word-wrap: break-word;
        font-weight: bold;
        font-size: 14px;

        .untitled {
          color: $textGray;
        }
      }
    }

    .panel-footer {
      clear: both;
      @mixin clearfix;
      height:0;
      overflow:hidden;
    }

    .panel-footer.show, .dashboard-element:hover .panel-footer {
      box-sizing:border-box;
      height:30px;
      padding: 5px 15px 5px 12px;
      border: 1px solid $white;
      border-top:none;

      margin: 0 0 -30px 0;

      background-color: color($black l(+88%) a(90%));
      position:relative;
      z-index: 3;
    }

    .view-results {
      .inspector-link {
        display: inline-block;
        margin-right: 20px;
      }

      .btn-pill {
        padding: 0;
        height: 20px;
        line-height: 20px;
        width: 22px;
        font-size: 15px;
        text-align: center;

        + .btn-pill {
          margin-left: 0;
        }
      }
    }

    .panel-body {
      overflow: hidden; /* SPL-71571 */
      clear: both;

      &.html, &.splunk-html {
        padding: 10px 10px;

        p,
        .splunk-radiogroup,
        .splunk-dropdown,
        .splunk-multidropdown,
        .splunk-textinput,
        .splunk-checkbox,
        .splunk-checkboxgroup,
        .splunk-timerange {
          padding: 0px;
        }
      }
      .splunk-paginator {
        float: right;
        padding-right: 15px;
        padding-top: 3px;

        &:empty {
            height: 0;
            padding: 0;
            margin: 0;
        }
      }



      .table-row-expanding > tbody > tr > td.expands a,
      .table-row-expanding th.col-info,
      .results-table table tr>td:first-child,
      .results-table table tr>th:first-child   {
           padding-left: 12px;
      }

      .results-table table tr>td:last-child,
      .results-table table tr>th:last-child,
      .table th:last-child,
      .table td:last-child {
           padding-right: 12px;
      }

      .results-table table tr>th:last-child .btn-col-format {
          margin-right: -12px;
      }

      .splunk-message-container, .lazy-view-container.loading, .visualization-message {
        .alert {
          &.alert-info i {
            display: none;
          }
          .icon-alert {
            float: none;
            color: color($grayLight l(+10%));
            position: static;
            margin-right: 0.25em;
            vertical-align: middle;
          }
          text-align: center;
          color: $textGray;
          border-style: none;
          font-size: 13px;
        }
        &.compact .alert {
          $paddingVertical: 4px;
          padding-top: $paddingVertical;
          padding-bottom: $paddingVertical;
          margin-bottom: 0;
          text-align: left;
          display: inline;

          .icon-alert {
            font-size: 150%;
            top: $paddingVertical;
          }
        }
      }
      .lazy-view-container.loading, .visualization-message {
        padding-top: 54px;
      }
      /*  single value */
      .splunk-single {
        min-height: 40px;
        text-align: center;
      }
      .msg .single-result {
        color: $textGray;
      }
      .splunk-table {
        margin-top: 12px;

        @mixin clearfix;
        .splunk-paginator {
          float: right;
          padding-right: 15px;
        }
      }
      p {
        padding: 0px 10px;
      }
      .splunk-radiogroup,
      .splunk-dropdown,
      .splunk-multidropdown,
      .splunk-textinput,
      .splunk-checkbox,
      .splunk-checkboxgroup,
      > .splunk-timerange,
      .splunk-searchbar,
      > button {
        margin: 5px 10px;
      }
    }

    .shared-eventsviewer {
      border-left: none;
    }

    ul.shared-eventsviewer {
      margin-bottom: 5px;
      border-top-style: none;
    }



    .error-details {
      display: block;
      float: right;
      padding: 9px 12px 5px 5px;
      i {
        color: $yellow;
      }
      &.severe i {
        color: $red;
      }

      &.severe .error-indicator:hover i {
        color: color($yellow l(-10%));
      }

      &.severe .error-indicator:hover i {
        color: color($red l(-10%));
      }

      .error-indicator {
        padding: 0;
        height: 20px;
        line-height: 20px;
        width: 22px;
        font-size: 15px;
        text-align: center;
        border-radius: 3px;
        margin-left: 3px;

        &:hover {
          background-color: $interactiveBackgroundColorHover;;
        }

        i {
          font-size: 18px;
        }

        display: block;
      }
      li {
        padding: 5px 10px 5px 25px;
        position: relative;

        &:first-child {
          border-top: none;
        }
        > i {
          font-size: 18px;
          position: absolute;
          left: 3px;
          top: 5px;
        }

        &.warning > i {
          color: $yellow;
        }
        &.error > i {
          color: $red;
        }
      }

    }

    .progress-bar {
      .progress-msg {
        font-size: 11px;
        color: $textGray;
        display: inline-block;
      }
    }
  }
}

.view-mode {

  .refresh-time-indicator {
    padding:0 10px;
    z-index: 10;
    .time-freshness {
      font-size: 11px;
      color: $textGray;
      cursor: default;
      padding: 0;
      margin: 0;
    }
    height: 14px;
  }
  .with-title .fieldset.empty + .panel-element-row:not(.grouped) .error-details {
    position: absolute;
    top: -31px;
    right: 0;
  }

  .element-footer {
    border-bottom: 1px solid transparent;
    .menus {
      display: none;
      position: absolute;
      right: 10px;
      background: $white;
      border: 1px solid $borderColor;
      border-top: 1px solid $white;
      margin-top: -1px;
      padding-left: 5px;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      @mixin border-top-radius 2px;
      z-index: 999;
      .btn-pill {
        padding: 1px 5px 1px 5px;
        border-radius: 0;
        line-height: 22px;
        font-size: 15px;
      }
      .refresh-time-indicator {
        display: inline;
      }
    }
  }
  .dashboard-element:hover .element-footer {
    border-bottom: 1px solid $borderColor;
    .menus {
      display: block;
    }
  }
  .element-footer:hover {
    border-bottom: 1px solid $borderColor;
    .menus {
      display: block;
    }
  }
}

.preview-body .element-footer {
  display: none;
}

.edit-mode .element-footer {
  display: none;
}

.edit-mode .refresh-time-indicator {
  display: none;
}

.dashboard-cell.hidden, .dashboard-row.hidden {
  display: none;
}

.edit-mode {
  .dashboard-cell.hidden, .dashboard-row.hidden {
    display: block;
    .dashboard-panel {
      border-style: dashed;
    }
  }
}
.dashboard-element.hidden {
  display: none;
}
.edit-mode {
  .dashboard-element.hidden {
    display: block;
    .panel-body, .panel-footer {
      opacity: .5;
    }
    .panel-head {
      h3 {
        color: $textDisabledColor;
      }
    }
    .panel-editor {
      z-index: 99;
    }
  }
}

.dashboard-panel > .drag-handle {
  height: 8px;
  margin: 5px 5px 0px 5px;
  cursor: move;
  z-index: 3;
  .handle-inner {
    @mixin draggable-handle-background;
    height: 8px;
    margin-right: 14px;
  }
  > .delete-panel {
    display: inline-block;
    float: right;
    font-size: 17px;
    padding: 0 3px;
    color: $splunkGray;
    margin-right: -3px;
    margin-top: -4px;
    background: $white;
    &:hover, &:focus {
      text-decoration: none;
      color: $linkColorHover;
    }
    &:hover {
      background: $pillBackgroundColorHover;
    }
    &:focus {
      @mixin focus-pill;
    }
  }
}

.initial-placeholder {
  height: 234px;
  &.placeholder-visualizations-singlevalue {
    height: 80px;
  }
}

.dragndrop-enabled {

  .dashboard-row {
    &.empty {
      min-height: 20px;
    }
    .dashboard-panel.drag-hover {
      border-color: rgb(187, 187, 187);
    }
    .panel-head {
      h3 {
        padding: 11px 15px 8px 15px;
      }
    }
    .panel-element-row + .panel-element-row .panel-head {
      border-top: 1px solid $borderColor;
    }

    .dashboard-panel .panel-body .splunk-message-container .alert .icon-alert {
      color: $errorText;
    }
  }
  .sortable-placeholder {
    min-width: 10px;
    float: left;
    .dashboard-panel {
      min-height: 200px;
      background: transparent;
      border: 1px dashed color($borderColor l(-10%));
      box-shadow: none;
    }
  }
  .dashboard-cell {
    user-select: none;
    &.ui-sortable-helper {
      .dashboard-panel {
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
      }
    }
  }
  .dashboard-row {
    min-height: 100px;
  }

  .shared-eventsviewer .table-chrome {
    border-top: none;
  }

}

.html {
  h1 {
    font-size: 20px;
    font-weight: bold;
  }

  h2 {
    font-size: 16px;
    margin: 10px 0;
    font-weight: normal;
  }

  h3 {
    font-size: 14px;
    font-weight: bold;
  }

  h4 {
    font-size: 12px;
    font-weight: bold;
    margin: 0;
  }

  h5 {
    font-size: 10.2px;
  }

  .panel-head > h3 {
    font-size: 16px;
    font-weight: normal;
  }

}

/*  Licensing tab content */
.page-licensing .tab-content {
  @mixin gradient-vertical-two-color-stops $white, 0, $bodyBackgroundColor, 25px;
}

.view-mode .dashboard-row .dashboard-cell:last-child .dashboard-panel,
.view-mode .dashboard-row .dashboard-cell.last-visible .dashboard-panel {
  margin-right: 0;
}

.dashboards-table-controls-convertdashboard .shared-controls-controlgroup .controls-halfblock .help-block {
  width: 50%;
  text-align: center;
}

.more-info {
  width: 400px;
  .popdown-dialog-body {
    padding: 20px 20px 10px 20px;
  }
}

/*  radio forms */
.splunk-radiogroup {
  .choice {
    margin-bottom: calc($baseLineHeight / 4);
  }
  input {
    margin: 0px 10px 0px 2px;
  }
  label {
    display: inline-block;
    margin-left: 1em;
    margin-bottom: 0;
    vertical-align: middle;
  }
}

.dropdown-menu .dashboard-source-type {
  float: right;
  color: $textGray;
}

/*  make search edit a bit taller with no limit */
.edit-search-string .controls textarea,
.add-panel-wrapper .controls textarea {
  height: 15em;
  max-height: none;
}

/*  input editor */
/*  TODO: break out to component */
.input-editor-body {
  border-bottom: 1px solid $borderColor;

  /*  TODO: make this block, float, width, etc. */
  .input-editor-type {
    display: inline-block;
    vertical-align: top;
    list-style: none;
    margin: 0;

    li {
      margin: 0;
    }

    /*  hover state */
    li > a:hover {
      position: relative;
      color: $linkColorHover;
      background: $pillBackgroundColorHover;
    }

    li > a:focus {
      position: relative;
      @mixin focus-pill;
    }

    li > a.selected {
      position: relative;
      color: $white;
      background: $blueDark;
      border: none;
    }

    /*  link style */
    li > a {
      /*  BS 2.2 scoping */
      border-top: 1px dotted $borderColor;
      color: $linkColor;
      /*  first and last elements have rounded corners that should not be seen. */
      /*  There should not be space between <a> and concertina-body so updating  */
      /*  padding and margin-right below */
      padding: 5px 16px; /*  BS 2.2.x breaks this ... */
      margin-right: -4px;
      white-space: normal;
      display: block; /*  BS 2.3 breaks this */
      text-decoration: none;
    }
    /*  rounding for first and last items */
    li:first-child > a {
      border-top-left-radius: $containerInnerBorderRadius;
      border-top-right-radius: $containerInnerBorderRadius;
      border-top: none;
    }

    li:last-child > a {
      border-bottom-left-radius: $containerInnerBorderRadius;
      border-bottom-right-radius: $containerInnerBorderRadius;
    }

    [class^="icon-"], [class*=" icon-"] {
      width: 1.25em;
      text-align: center;
    }
  }
  /*  .dropdown-menu */

  .input-editor-format {
    display: inline-block;
    position: relative;
    width: 385px;
    border-left: 1px solid $borderColor;
    vertical-align: top;

    .concertina {

      .concertina-body {
        position: static;
        max-height: 500px;
        min-height: 100px;
      }
    }

    .splunk-choice-input-message {
      height: auto;
    }

    .shared-controls-textcontrol {
      input {
        width: 186px;
      }
    }
    .shared-controls-textareacontrol {
      textarea {
        width: 186px;
      }
    }
    .splunk-dropdown, .splunk-multidropdown {
      width: 186px;
    }
    .shared-controls-syntheticselectcontrol {
      .link-label {
        float: left;
        width: 162px;
        overflow: hidden;
        text-align: left;
      }
    }

    .token-input-settings-body {
      .splunk-choice-input-message {
        clear: both;
      }
      .shared-timerangepicker {
        margin-left: 0px;
      }
      .splunkjs-mvc-simpleform-edit-tokenpreviewcontrol {
        .shared-controls-labelcontrol {
          width: 200px;
          span {
            word-break: break-all;
            white-space: pre-wrap;
          }
        }
      }
    }

    .static-input-settings-body {
      .static-options-heading {
        margin-bottom: 8px;
        .static-options-heading-name {
          width: 114px;
          margin-left: 40px;
          float: left;
        }
        .static-options-heading-value {
          margin-left: 180px;
        }
      }
      .static-options-body {
        margin-bottom: 8px;
        .static-option-pair {
          .drag-handle {
            display: inline-block;
            margin-left: 20px;
            width: 10px;
            height: 18px;
            @mixin draggable-handle-background;
          }
          .static-option-label, .static-option-value {
            display: inline-block;
            margin-left: 5px;
            input {
              width: 100px;
            }
          }
          .static-option-remove {
            margin-left: 5px;
          }
        }
      }
      .static-options-add {
        margin-right: 20px;
        margin-bottom: 10px;
      }
    }

    .dynamic-input-settings-body {
      .splunk-timerange {
        margin-bottom: 10px;
      }
      .search-field-wrapper {
        width: 220px;
      }
    }
  }

  .control-label {
    width: 125px;
    float: left;
    padding-top: 5px;
    text-align: right;
  }
  .controls {
    margin-left: 135px;
  }

  .alert.alert-error {
    margin-left: 20px;
    margin-bottom: 0;
  }
  .alerts.shared-flashmessages {
    border-top: 1px solid $borderColor;
  }
}

.input-editor-cancel, .input-editor-apply {
  margin: 10px;
}

.input-timerangepicker, .input-time {
  .shared-timerangepicker {
    width: 95%;
    .btn {
      width: 95%;
      text-align: left;
      .time-label {
        max-width: 90%;
        display: inline-block;
      }
    }
    .caret {
      float: right;
    }
  }
}

/*  Dashboard print styles */
/*  -------------------------------------------------- */
@media print {
  #header, .edit-dashboard-menu, .select2-choice > div, .panel-footer, .form-submit, .ui-resizable-handle {
    @mixin print-hide;
  }

  .fieldset .input {
    > label:first-child {
      font-weight: bold;
    }
    input, .select2-choices, .select2-container {
      border: none;
      box-shadow: none !important;
      transition: none !important;
    }
  }

  .select2-container {
    min-width: 0px !important;
    a.select2-choice, .select2-choices, .select2-search-choice {
      border-style: none !important;
    }
  }

  .select2-search-choice {
    padding-left: 2px !important;
  }

  .shared-timerangepicker .btn, .shared-timerangepicker .btn .time-label {
    max-width: 200px !important;
    width: 200px !important;
    text-align: left;
  }

  .dashboard-element:not(.table):not(.event) {
    page-break-inside: avoid;
  }

  .splunk-paginator {
    a.selected {
      font-weight: bold;
    }
  }
}

.content-preview {
  box-sizing: border-box;
  width: 450px;
  height: 100%;
  .preview-body {
    overflow-y: auto;
    position: absolute;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    top: 65px;
    bottom: 0;
    .control-group {
      clear: both;
    }
  }
}

.dashboard-list-item .accordion-group {
  border: none;
}

.dashboard-panel {
    transition: border-color 2s ease-out, box-shadow 2s ease-out, border-width 2s ease-out;
}

.panel-highlight {
  .dashboard-panel {
    border-color: $blueDark;
    box-shadow: 0 0 10px 2px color($blueDark a(40%));
  }
}

/*  Lite UI */
@if $theme == lite {
  .input-editor-body .input-editor-type li > a {
    color: $splunkLiteBlack;
  }
  .progress-bar {
    display: none;
  }
  .splunk-header {
    height: $navbarHeight;
    background: $navbarBackground;
  }
}

.splunk-header {
  min-height:20px;
}
