/*  Splunk: Component: Panel Editor */
/*  =============================== */

/*
	markup missing
*/
/*  drop down menus and icons for dashboard edit mode */
.dashboard-element-editor {
	float: right;
	height: 31px;
	.dashboard-element-controls {
		float: left;
		position: relative;
        
         /* report or search button */
		a.dropdown-toggle {
			border-radius: 0px;
			padding-top: 4px;
			padding-bottom: 0px;
            .caret {
                padding-left: 0.15em;
                vertical-align:middle;
            }
		}

		.dialogBack {
			margin: 5px 10px;
			
			.icon-triangle-left-small {
				width: auto;
			}
		}
		.shared-reportcontrols-details, .report-description {
			padding: 5px 10px;
			font-size: $baseFontSizeSmall;
		}
		
		.reportDetails {
			border-top: 1px solid $interactiveBorderTopColor;	
		}
		
		.report-name {
			padding: 5px 10px 0px 10px;
		}
		.dropdown-menu.show-details {
			width: 470px;
		}
	}
    
     /* viz type and formatting */
	.shared-vizcontrols {
		float: left;
		a.dropdown-toggle,a.popdown-toggle {
			border-radius: 0px;
			padding-top: 4px;
			padding-bottom: 0px;
            
            .caret {
                padding-left: 0.15em;
                vertical-align:middle;
            }
		}
	}

	[class^="icon-"] {
			font-size: 1.5em;
	}
	.dropdown-menu [class^="icon-"] ,
	.popdown-visualization [class^="icon-"] {
			font-size: 1em;
	}

	.dropdown-menu {
		ul {
				max-height: none;
		}
	}

	.link-label {
			display: none;
	}

	.element-type {
			padding: 3px 10px;
			color: $textGray;
	}

}

.modal.add-panel{
	.add-panel-select {
		.btn {
			padding-top: 8px;
		}
		i {
			font-size: 24px;
		}
	}
	.add-panel-report {
		display: block;
		a.dropdown-toggle {
			display: block;
			overflow: hidden;
		}
	}
}

.modal .dropdown-toggle {
	overflow: hidden;
}

.input-timerangepicker {

	.timerange-edit-hint {
		padding-top: 4px;
		font-size: $fontSizeSmall;
		color: $textGray;
		width: 225px;
	}

	.shared-timerangepicker {
		display: inline-block;
	}

	.remove-timerange-picker {
		display: inline-block;
		padding: 0px 12px;
		font-size: 16px;
		i {
			position: relative;
			top: 3px;
		}
	}
}
