.dashboard-toolbar {
  padding: 10px 20px;
  background-color: $white;
  .toolbar-label {
    float: left;
    font-size: 18px;
    margin: 3px;
    font-weight: 400;
  }
  .edit-mode-toggle {
    margin-left: 20px;
  }
  .add-content {
    margin-left: 50px;
  }
  .btn {
    &.edit-save-as {
      margin-right: 10px;
    }
    &.edit-cancel {
      margin-right: 10px;
    }
  }
  .tooltip-inner {
    max-width: 1000px;
  }
}