\device\harddiskvolume2\windows\system32\lsass.exe
\device\harddiskvolume2\program files\splunkuniversalforwarder\bin\splunkd.exe
\device\harddiskvolume2\program files\ca\totaldefense\endpointclient\endpointprotection\ccevtmgr.exe
\device\harddiskvolume2\program files\ca\sharedcomponents\agent\eventtool.exe
\device\harddiskvolume2\program files\mozilla firefox\firefox.exe
\device\harddiskvolume2\program files\ca\totaldefense\endpointclient\endpointprotection\catm.exe
\device\harddiskvolume2\program files\ca\sharedcomponents\agent\tdagent.exe