.dropdown-menu-searchable {
.search-filter {
.search-query {
    width: 26em;
    margin: 0px;
}
.shared-controls-textcontrol  {
    margin: 4px;
}
}

.info {
    margin: 5px 4px;
    text-align: center;
}
}