/*  Configuration dialog */
.apply-metadata-button {
  float: right
}
.upload-file-button {
  margin-left: 20px;
  margin-bottom: 10px;
}
.section-divider {
  padding-bottom: 15px;
}
.section-desc {
    margin-bottom: 10px;
}
.aqr-header, .alias-header {
    cursor: pointer;
}

/*  Group Edit dialog */
.accumulator {
  width: 600px !important;
}
.availableOptionsContainer, .selectedOptionsContainer {
  width: 280px !important;
}
.download-file-button {
  margin-left: 20px;
}
.saml-ssoBinding .btn, .saml-sloBinding .btn, .saml-signatureAlgorithm .btn {
  width: 120px;
}
.saml-nameIdFormat {
    .dropdown-toggle {
        vertical-align: -10px;
        width: initial;
    }
}
.warning-text {
    color: red;
}
