

/* Styles for the admin container and list views
 *
 *    This file only included for the admin section when wrapped in full admin skin.  See adminforms.css for
 *    styles specific to form elements themselves (which would be included when wrapped in the admin skin or in popups).
 */

/* body */
body.splView-_admin {
	background: $bodyBackgroundColor;
}

.navigationHeader {
    background-color: transparent;
}

/* styling for about dialog */
.aboutPopupContainer {
    display:none;
    padding: 10px;
}
.aboutPopupContainer .aboutPopupSplunkLogo {
    background: transparent url(/static/img/skins/default/logo_splunkServer_white_low.png) no-repeat scroll 0 0;
    height: 45px;
    width: 120px;
}

.ManagerBar #managerContextSwitcherActivator{
    padding-right: 15px;
    position: relative;
}
.ManagerBar #managerContextSwitcherActivator .splIcon-triangle-3-s {
    position:absolute;
    top:9px;
    right:10px;
    background-position: -26px -327px;
    width:7px;
}

/* end header */


/* content */
.adminContent {
  clear: both;
  min-height: 400px;
}

/* index page */

/* index page */

div.adminIndex {
    overflow: hidden;
    font-size: $baseFontSize;
    padding-top:20px;
    padding-left:20px;
}
div.adminIndex div.adminSections {
    overflow:hidden;
    clear:left;
}
div.adminIndex div.adminIndexLeft, div.adminIndex div.adminIndexRight {
    float:left;
    width:50%;
    padding:0;
    margin:0;
}
div.adminIndex div.adminGroup {
    padding: 0px;
    border:1px solid $borderColor;
    box-shadow: 0 0 5px $grayLightMedium;
    border-radius:5px;
    margin-bottom: 20px;
    margin-right:20px;
    position: relative;
    background: $white;
}
div.adminIndex h2 {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    color: $splunkGreen;
    text-shadow: $white 0px 1px 1px;
    margin-bottom: 5px;
    padding-left: 35px;
}
div.adminIndex div.lastCell {
    border: none;
}
div.adminIndex h1 {
    margin:10px 0px 10px 10px;
    font-weight: bold;
    font-size: 21px;
    letter-spacing: -0.5pt;
}
div.adminIndex p {
    margin-top: 20px;
    padding: 0px 10px;
}
div.adminIndex dl {
    padding: 0;
    margin: 0;
}
div.adminIndex div.adminListItem {
    padding: 10px;
    background-repeat: no-repeat;
    background-position: 0 0;
    border-bottom: 1px dotted $borderColor;
}
div.adminIndex div.adminListItem:last-child {
	border-bottom: none;
}
div.adminIndex .adminListIcon {
    display: block;
    height: 36px;
    width: 36px;
    margin-right: 10px;
    margin-left: 10px;
    float: left;
    background-size: 36px;
}
div.adminIndex dl dt {
    margin: 0 0 5px 0;
    font-weight: normal;
    font-size: $baseFontSizeLarge;
}
div.adminIndex dl dt a {
    font-size: $baseFontSizeLarge;
    padding: 0 0 25px 24px;
    white-space: nowrap;
}
div.adminIndex dl dt span a {
    font-size: $baseFontSizeSmall;
}
div.adminIndex dl dd {
    margin:0 0 0 24px;
    color:$textGrayDark;
}

/* SPL-55408 - for IE*/
#adminIndexRadios .authCheckbox {
    border:none;
}
#adminIndexRadios input[type='checkbox']{
    padding:5px 7px 5px 7px;
}

/* end index page */

/* server restart */
#restarterr { color: red; font-weight: bold; display: none; }
#restartstatus, #restartsslwarn {
    display: none;
    position: fixed;
    top: 45px;
    left: 50%;
    z-index: 900; /*place behind the disconnect message */
    width: 400px;
    margin-left: -220px;
    background-color: $white;
    border-radius: 6px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    color: $grayDark;
    padding: 20px;
    text-align: center;

}
#restartsslwarn {
    top: 35px;
    z-index: 1100; /*place over the disconnect message */
    width: 400px;
    height: 150px;
    margin-left: -270px;
    padding: 20px 70px;
}

#restartstatus h1, #restartsslwarn h1 {
    font-size: $baseFontSizeLarge;
    font-weight: normal;
    color: $grayDark;
}
#restartstatus .sslwarn {
    display: none;
}
#restartstatus p, #restartsslwarn p {
  font-size: $baseFontSize;
}


/* end server restart */

/* server control page */

.servercontrol {
    width:600px;
    padding:10px 20px;
}
.servercontrol .splButton-primary {
    margin-left:0px;
    margin-top:10px;
}

/* loading message */
.editFormWrapper .splOverlay-white {
    position:absolute;
}
/* end loading message */

/* edit pages */
div.editFormWrapper {
    padding:0px;
    position:relative;
}
/* end edit pages */

/* data inputs */
div.dataInputsWrapper, div.pageContentWrapper {
    padding:20px;
    background: $white;
    border-top: 1px solid $borderColor;
    min-height: 420px;
}

div.dataInputsWrapper h1, div.pageContentWrapper h1 {
	color: $splunkGreen;
	font-size: 18px;
	font-weight: bold;
}

div.dataInputsWrapper .dataInputsDesc, div.pageContentWrapper .pageContentDesc {
	display: block;
	font-size: $baseFontSize;
	margin-top: 5px;
	margin-bottom: 15px;
}

div.dataInputsWrapper .fieldsetWrapper.first {
	padding-bottom: 15px;
	padding-top: 0px;
}

div.dataInputsWrapper table p.input_description {
	font-style: italic;
	margin: 0px;
	font-size: $baseFontSizeSmall;
	font-weight: normal;
	padding-top: 5px;
}

div.dataInputsWrapper .listWrapper {
	padding: 0;
}
/* end data inputs */

/* list pages */
.adminContentList {
	background: $white;
	border-top: 1px solid $borderColor;
	border-bottom: 1px solid $borderColor;
	margin-bottom: -1px;
}
.adminContentList h1 {
	font-weight: bold;
}
div.listWrapper {
    padding:20px;
}
div.actionButtons {
    overflow: hidden;
}
div.listWrapper table.splTable th,
div.listWrapper table.splTable td {
    padding-right: 20px;
}
div.listWrapper table.splTable .splPipe {
    margin:0px 2px;
}
table.splTable td input {
    margin:0px;
}
table.splTable {
    background-color:$white;
}
.listIntroText {
    padding: 10px;
}
/* end list pages */

/* filter controls */
.eaiFilterControls {
	padding: 10px 0px;
    border-bottom: 1px solid $borderColor;
    margin-left: 0;
}
.eaiFilterControls .eaiFilterControl {
	float: left;
	padding-top: 3px;
}
/** Firefox hack **/
@-moz-document url-prefix()
{
	.eaiFilterControls .eaiFilterControl {
		padding-top: 0px;
	}
}
.eaiFilterControls .eaiFilterControl.eaiSearchControl {
	margin-right: 20px;
	padding-top: 0px !important;
	float: right;
}
.eaiFilterControls input, .eaiFilterControls select {
    margin:0;
    border:1px solid $borderColor;
    width:auto;
    vertical-align: middle;
    background-color: $white;
    max-width: 180px;
}
.eaiFilterControls input.checkbox, .eaiFilterControls input.radio {
    width:auto;
    background-color: transparent;
    border: none;
}
.hasTabs .eaiFilterControls {
    background-color:$white;
    border-bottom:1px solid $borderColor;
    margin:0px 10px;
}
.eaiFilterControls input.eaiFilter {
     background: $white;
     width:250px;
     padding: 3px 5px 4px;
}
.eaiFilterControls label {
    margin: 0 5px 0 20px;
    vertical-align: middle;
    text-shadow: $white 0px 1px 1px;
}
.eaiFilterControls .appOnlyFilter input {
	margin-left: 15px;
}
.eaiFilterControls .appOnlyFilter label {
	margin-left: 0px;
	margin-right: 0px;
}
.appOnlyFilter {
	padding: 5px 20px;
	border-bottom: 1px solid $borderColor;
}
.appOnlyFilter input {
	margin: 0px;
}
/* end filter controls */

.eaiPagination {
    margin-bottom: 10px;
    padding: 15px 10px 0px;
}

.eaiPagination .eaiPaginationHeader h2 {
	float: left;
	margin-right: 10px;
	margin-top: 2px;
}

.eaiPagination div.actionButtons {
	float: left;
}

.eaiResultsPageControls {
	padding: 0px 20px 5px;
}
.eaiResultsPageControls .eaiResultsPageControl {
	float: left;
	margin-right: 15px;
	margin-top: 0px;
}
.eaiResultsPageControls .Paginator {
	margin-left: 15px;
	margin-top: -4px;
}
.eaiResultsPageControls .eaiResultsPerPage {
    float: right;
    margin-right: 0px;
    margin-top: -2px;
}
.eaiResultsPerPage select {
	margin: 0px;
}
.eaiResultsCount {
	float: left;
	font-size: $baseFontSize;
	margin: 0px;
}
.eaiResultsPerPage label {
    font-size: $baseFontSizeSmall;
    margin-right:5px;
}
.eaiResultsPerPage select {
    font-size: $baseFontSizeSmall;
    width:55px;
}
.eaiPagination h2 {
    font-weight:bold;
    font-size: 18px;
    color: $splunkGreen;
    margin:0px;
}
.eaiPagination p span {
    font-weight: bold;
}
.eaiPagination .Paginator {
    padding-top: 5px;
}
.eaiPagination select {
    margin-top: 0px;
}
.checkboxCell {
    width: 20px;
}


.bolt {
    width:auto;
    height:16px;
    padding-top: 3px;
    padding-left:9px;
    padding-right:2px;
}
.rssLink {
    width:12px;
    height:12px;
    background: url(/static/img/skins/default/xml.gif) no-repeat 0 50%;
    float:left;
}
.enabledCheck {
    width:6px;
    height:7px;
    background: url(/static/img/skins/default/check.gif) no-repeat 0 50%;
    float:left;
    margin-top:3px;
    margin-right:5px;
}

.enabledCheckNotPresentFiller {
    width:21px;
    height:7px;
    float:left;
}

/* styling for move dialog */
.moveObjectFormContainer {
    display:none;
    padding: 10px;
}

/* end list pages */

/* license page */

div.licenseWrapper {
    padding:10px;
}
div.licenseWrapper .splTable {
    width: 620px;
}
div.licenseWrapper .datarow th {
    border-bottom: 1px dotted #ddd;
    width:110px;
}
div.licenseWrapper td {
    width:200px;
}
div.licenseWrapper table.splTable tr:hover td {
    background-color:transparent;
}

/* end license page */

/* forward/receive page */

.forwardReceive ul {
    margin:5px 0 10px;
    padding:0;
}
.forwardReceive ul li {
    list-style: none none;
    padding: 3px 0px;
}
.forwardReceive .forwardReceiveHelp {
    margin:10px 0;
}

/* end forward/receive */

/* shared styles */

.adminTitleStyle label {
    color:$splunkGreen;
    font-size: 14px;
    font-weight: bold;
}

legend.hasHelpText {
    padding-bottom:10px;
}
div.standaloneHelp p.helpText {
    display:block;
    margin: 0 0 5px 0;
}

.splTable h1 {
    margin:0;
}

.entityEditForm {
	padding-top: 10px;
	min-width:500px;
    max-width: 940px;
    background: $white;
    border: 1px solid $borderColor;

    margin: 20px auto 20px auto;
	border-radius: 2px;
}
.entityEditForm #item-level:first-child {
    padding-top: 10px;
}


.hasTabs .entityEditForm {
    padding: 10px;
}

.entityEditForm h1 {
	font-weight: bold;
}

.entityEditForm fieldset legend {
	padding-bottom: 10px;
}

.entityEditForm .fieldsetWrapper,
.entityEditForm .fieldsetWrapper2 {
	padding-left: 10px;
	padding-right: 10px;
}
.entityEditForm > input + .fieldsetWrapper {
	margin-top: 0;
	padding-top: 0;
}

.entityEditForm .textareaOuterWrap {
    max-width: 920px;
}

.entityEditForm .fieldsetWrapper .fieldsetWrapper,
.entityEditForm .fieldsetWrapper .fieldsetWrapper .fieldsetWrapper,
.entityEditForm .fieldsetWrapper .fieldsetWrapper .fieldsetWrapper .fieldsetWrapper {
	padding-left: 0px;
}
.entityEditForm .widget,
.entityEditForm .checkboxWidget,
.entityEditForm .radioWidget,
.entityEditForm .repeatable,
.entityEditForm #item-level,
.entityEditForm #item-description,
.entityEditForm #item-__ns,
.entityEditForm #item-display_location,
.entityEditForm #item-spl-ctrl_lookupfile,
.entityEditForm #item-spl-ctrl_type,
.entityEditForm #item-transform,
.entityEditForm #item-spl-ctrl_header,
.entityEditForm #item-defaultApp,
.entityEditForm #item-tz,
.entityEditForm #item-type {
	padding-left: 10px;
	padding-right: 10px;
}
.entityEditForm .fieldsetWrapper .widget,
.entityEditForm .fieldsetWrapper .checkboxWidget,
.entityEditForm .fieldsetWrapper .radioWidget,
.entityEditForm .fieldsetWrapper .repeatable,
.entityEditForm .repeatable .widget,
.entityEditForm .fieldsetWrapper #item-level,
.entityEditForm .fieldsetWrapper #item-description,
.entityEditForm .fieldsetWrapper #item-__ns,
.entityEditForm .fieldsetWrapper #item-aliases,
.entityEditForm .fieldsetWrapper #item-display_location,
.entityEditForm .fieldsetWrapper #item-spl-ctrl_lookupfile,
.entityEditForm .fieldsetWrapper #item-spl-ctrl_type,
.entityEditForm .fieldsetWrapper #item-transform,
.entityEditForm .fieldsetWrapper #item-spl-ctrl_header,
.entityEditForm .fieldsetWrapper #item-defaultApp,
.entityEditForm .fieldsetWrapper #item-tz,
.entityEditForm .fieldsetWrapper #item-type {
	padding-left: 0px;
}

.entityEditForm .checkboxWidget.inline {
    float: left;
}

.jmFormActions, .jmBatchActions {
    border-top: 1px solid $borderColor;
    padding: 10px;
}

.entityEditForm div.jmFormActions, .entityEditForm div.jmBatchActions {
    padding-bottom: 10px;
}

.jmFormOptions {
	padding: 0px 10px;
}

.jmFormActions {
	height:35px;
	padding:10px 10px 0 5px !important;
	text-align: right;
    overflow: hidden;
	border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.jmFormActions .splButton-primary {
    float:right;
}

.admin-dialog-tray .splButton-secondary,
.jmFormActions .splButton-secondary {
    float:left;
}

.error-message {
	background-color: red;
	border: 1px $borderColor solid;
}

.notification {
	background-color: yellow;
	border: 1px $borderColor solid;
}

.msgBox {
    padding: 10px;
    background: #f2f2f2;
    margin: 20px 3%;
    clear: both;
    font-size: 14px;
}

.msgBox h2 {
    font-size: $baseFontSizeLarge;
}

.msgBox .machine {
    font-size: 10px;
    color:$textGrayDark;
}

/* override overrides for search button */
input.searchButton {
    margin: 7px 0 0 10px;
    width: 32px;
    border: 0px;
    outline:0;
    height: 24px;
    background-color: #659c40;
    background-position: -51px center;
}
input.searchButton:hover {
    background-position: -51px center;
}
.eaiFilterControls input.searchButton {
    margin-top:-2px;
}

/* end shared */

/* SplunkBase Applications */

/*****************AppsApplicationBox******************/
#appsSplunkbaseApps h1 {
    font-size: 21px;
}

.adminContentHeader {
    font-size: 14px;
    margin-top: 7px;

}

.appsPaginator {
    clear: left;
}

.appsList {
    float: left;
    margin-top: 10px;
}

.appsList ul {
    margin-left: 0px;
}

.appsList li {
    list-style: none;
}

.appsApplicationBox {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    width: 100%;
    border-bottom: 1px solid ;
    font-size: $baseFontSize;
}

.appsApplicationBox .appIcon {
    float: left;
    /* margin-right: 20px; */
}

.appDetail {
    /* float: left; */
    /* width: 700px; */
    margin-left: 56px;
}

.appDetail h2 {
    margin: 0px 0px 10px 0px;
    font-size: 14px;
}

.appsApplicationBox a.splunkBaseAppTitle{
    margin-right: 10px;
    display: block;
    font-size: 14px;
    font-weight: bold;
}

.appsApplicationBox .appMeta, .appsApplicationBox .author {
    font-size: $baseFontSizeSmall;
}

.appsApplicationBox .author {
    float: left;
    padding: 2px 5px 0px;
}

.appsApplicationBox .price {
    float: left;
    font-weight: bold;
    color: $splunkGreen;
    font-size: 14px;
}

.appsApplicationBox .splunkBaseAppTitle {

}

.appsApplicationDesc {
    margin-top: 10px;
    font-size: $baseFontSize;
    line-height: 130%;
}

.appsApplicationBox .appType {
    font-weight: bold;
    font-size: $baseFontSizeSmall;
    margin-bottom: 5px;
}

.appsApplicationBox .stars {
    display: block;
    text-indent: -5000px;
    width: 65px;
    float: left;
    margin-right: 5px;
}

.appsApplicationBox .votes, .appsApplicationBox .downloads, .appsApplicationBox .updated {
    margin-right: 10px;
}

.appsApplicationBox table {
    margin-top: 10px;
    font-size: $baseFontSizeSmall;
}

.appsApplicationBox table th {
    text-align: left;
}
.appsApplicationBox table td {
    font-size: $baseFontSizeSmall;
}
.appDetailsTable td, .appDetailsTable th {
    text-align: left;
    vertical-align: top;
}

.appDetailsTable .author, .version, .last_updated, .downloads, .license {
    width: 80px;
    padding: 1px 5px 0px;
}

.appDetailsTable .author {
    width: 120px;
}

.appDetailsTable .license {
    width: auto;
}

.appsApplicationBox .buttonDiv {
    margin-top: 10px;
    font-weight: bold;
}

.appsApplicationBox  .splButton-primary, .textstatus {
    float: left;
}

.appsApplicationBox  .textstatus {
    padding: 5px 5px 0px;
}

.clear {
    clear: left;
}

.appsApplicationBox .buttonDiv .splButton-primary {
    margin-left: 0px;
    margin-right: 5px;
}

.lastApplicationBox {
    padding-bottom: 50px;
}
/*****************AppsApplicationBox******************/

#appsSplunkbaseApps #pager {
	clear: both;
	margin-top: 10px;
	padding-top: 10px;
	width: 100%;
}

#appsSplunkbaseApps #pager ul {
	float: left;
}

#appsSplunkbaseApps #pager li {
	display: inline;
	list-style-type: none none;
	margin-right: 10px;
	padding:    3px;
}

#appsSplunkbaseApps #pager li.currentpage {
	border: 1px solid $borderColor;
}

/*********************
    Widget styles
**********************/

/* Accumulator Styles */
.accumulator fieldset {
    margin:0;
}
.accumulator select.hiddenSelectedOptions {
    display:none;
}
.accumulator .availableOptionsContainer,
.accumulator .selectedOptionsContainer {
    float: left;
    width:300px;
    margin: 0px 20px 0px 0px;
}
.accumulator .addAllLink,
.accumulator .removeAllLink {
    float:right;
}
.accumulator .selectedOptionsContainer {
    margin-right:0px;
}
.accumulator h4 {
    font-weight:normal;
    font-size: $baseFontSize;
    width:200px;
    margin-right:22px;
    padding-bottom:5px;
}
.accumulator h4.selectedOptionsHeader {
    width: 200px;
    margin-right:0px;
}
.accumulator ul.availableOptions,
.accumulator ul.selectedOptions {
    height:200px;
    overflow: auto;
    /*width:318px;
    float: left;*/
    list-style: none none;
    margin: 0;
    padding:0;
    border: 1px solid $borderColor;
    clear: left;
}
.accDisabled ul.availableOptions,
.accDisabled ul.selectedOptions {
    background-color: #f0f0f0;
}
.accumulator ul.availableOptions li,
.accumulator ul.selectedOptions li {
    clear:left;
    padding: 4px 5px;
    font-size: $baseFontSize;
    cursor: pointer;
    line-height: 12px;
}
.accumulator ul.availableOptions li:hover,
.accumulator ul.selectedOptions li:hover {
    background-color: #e5f2f5;
}
.accumulator ul.availableOptions li span,
.accumulator ul.selectedOptions li span {
    margin:0px 8px 0 0;
    display: block;
    float: left;
}
.accumulator ul span.splIcon-arrow-e {
    background-color:  $splunkGreen;
}
.accumulator ul.availableOptions li.selected,
.accDisabled ul li {
    color: $textGray;
}
.accumulator ul.availableOptions li.selected span.splIcon,
.accDisabled ul li span.splIcon {
    background-color:$grayLightMedium;
}

.radioWidget ul {
    list-style: none none;
    margin: 0;
    padding: 0;
}

.fieldmapping input {
    width: 150px;
}

/*********************
    Data inputs
**********************/

table#dataInputs td {
    border-bottom: 0;
}

table#dataInputs td.input_description {
    border-bottom: 1px solid $borderColor;
    padding-top: 0px;
}

td.input_name {
    font-size: 14px;
    font-weight: bold;
}
#eaiform.entityEditForm .disabledTextarea pre,
#eaiform.entityEditForm textarea {
    font-family: monospace, courier;
    font-size: $baseFontSize;
}

#eaiform h2 {
    margin:0px 10px 10px 10px;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: -0.5pt;
    color: $splunkGreen
}

/***********************************************************************/
/******** START CSS FOR GDI ********************************************/
/***********************************************************************/

.spl-mgr-advanced-switch {
	border-top:1px dotted $borderColor;
	padding:5px 0;
}
.spl-mgr-advanced-switch label {
	color:$splunkGreen;
	font-size:14px;
	font-weight:bold;
}
.spl-mgr-advanced-options {
	margin:10px;
	margin-top:0px;
	padding:0 20px 20px;

	border: $borderLightColor 1px solid;
	border-radius: 3px;
}




/*** General visual styles ***/
span.spl-hr-solid,
span.spl-hr-dotted-lite,
span.spl-hr-solid-lite {
	border-left: 0;
	border-right: 0;
	border-top: 0;
	display: block;
	font-size: 1%;
}
span.spl-hr-solid,
span.spl-hr-dotted-lite {
	padding: 0;
	margin: 10px 0;
}
span.spl-hr-solid {
	border-bottom: 1px solid $borderDarkColor;
}
span.spl-hr-dotted-lite {
	border-bottom: 1px dotted $borderColor;
}

span.spl-hr-solid-lite {
/*
	border-bottom: 1px solid $borderColor;
	padding: 0;
	margin: 10px 0 30px 0;
*/
	display: none;
}
.spl-gdi-wrapper .spl-border-box-sizing {
	box-sizing: border-box;
}

/*** End General visual styles ***/

/*** Data inputs pages styles ***/

.spl-gdi-wrapper {
	position: relative;
	height: auto;
	width: 660px;
	margin: 30px auto 20px auto;
	padding-top: 15px;
	box-sizing: border-box;
	background: $white;

	border: 1px solid $borderColor;
	border-radius: 2px;
}
.spl-gdi-wrapper .jmFormActions-btn-left {
	text-align: left;
}
.spl-gdi-wrapper .jmFormActions-btn-left .splButton-primary {
	float: left!important;
}

.spl-prompt-message-layout .jmFormActions {
	text-align: left!important;
}

.spl-prompt-message-layout a.splButton-primary span,
.spl-prompt-message-layout a.splButton-secondary span {
	line-height: 21px;
}

.spl-gdi-wrapper .jmFormActions .splButton-secondary span {
    min-width: 80px;
}

.spl-gdi-wrapper div.spl-clear-fix {
	clear:both;
	height:1px;
	margin-top:-1px;
	overflow:hidden;
	font-size: 1%;
}
.spl-gdi-wrapper * {
	line-height: 1;
}
.spl-gdi-wrapper * p {
	font-size: inherit;
	color: #111;
	padding: 0;
	margin: 0;
}
.spl-gdi-wrapper h2.spl-page-hdr {
	margin-top: 0;
	margin-bottom: 5px;
	font-size:18px;
	font-weight: bold;
	color:$splunkGreen;
	position: relative;
	padding: 0px 10px;
}
.spl-gdi-wrapper h2.spl-page-hdr a.spl-help-link {
   	position: absolute;
	right: 0;
	top: 0;
    display: inline-block;
    height: 16px;
    line-height: $baseLineHeight;
    padding-left: 20px;
    white-space: nowrap;
    font-size: $baseFontSize;
    text-align: right;
    font-weight: bold;
}
.spl-gdi-wrapper .spl-col-floating-link-left {
	font-size: $baseFontSize;
	margin-left: 10px;
}
.spl-gdi-wrapper .spl-col-floating-link-left span {
	margin-top: 20px;
	margin-bottom: 10px;
	display: inline-block;

}

.spl-gdi-wrapper .spl-col-floating-link-left .spl-icon-external-link-sm {
    padding-right: 2px;
}

.icon-external {
    padding-left: 4px;
    padding-right: 4px;
}

/* three cols */

.spl-gdi-wrapper .spl-three-col-wrapper {
	float:  left;
	width: 100%;
	padding: 0;
}
.spl-gdi-wrapper  .spl-three-col-wrapper-inner {
	padding: 0 10px;
	margin-top: 5px;
}
.spl-gdi-wrapper .spl-three-col-wrapper .spl-left-col,
.spl-gdi-wrapper .spl-three-col-wrapper .spl-mid-col,
.spl-gdi-wrapper .spl-three-col-wrapper .spl-right-col {
	display: inline;
	float: left;
	width: 30%;
}
.spl-gdi-wrapper .spl-three-col-wrapper .spl-mid-col {
	margin: 0px 15px;
}
.spl-gdi-wrapper .spl-col-border-left {
	border-left: 1px dotted $borderColor;
}
.spl-gdi-wrapper .spl-col-border-right {
	border-right: 1px dotted $borderColor;
}
.spl-gdi-wrapper ul.spl-data-options-links {
	min-height: 70px;
	list-style: none;
	margin: 0;
	padding: 0;
}
.spl-gdi-wrapper ul.spl-data-options-links li {
	padding:4px 0;
}
.spl-gdi-wrapper ul.spl-data-options-links li p {
	font-size: $baseFontSizeSmall !important;
	color:$textGrayDark !important;
	padding:0;
	margin: 3px 10px 10px 0;
}
.spl-gdi-wrapper ul.spl-data-options-links li a {
	font-size: $baseFontSize;
}
.spl-gdi-wrapper ul.spl-data-options-links-strong li a {
	font-weight: bold !important;
}
.spl-gdi-wrapper h3.spl-tan-section-head {
	padding: 10px;
	clear: both;
	border-bottom: 1px solid $borderColor;
	box-sizing: border-box;
	color:#111;
	font-size:13px;
	font-weight: normal;

}
.spl-gdi-wrapper h3.spl-tan-section-head-top {
	margin-top: 20px;
}

.spl-gdi-wrapper .spl-data-options-links li.spl-icon-local-event-log-sm,
.spl-gdi-wrapper .spl-data-options-links li.spl-icon-remote-event-log-sm,
.spl-gdi-wrapper .spl-data-options-links li.spl-icon-files-dirs-log-sm,
.spl-gdi-wrapper .spl-data-options-links li.spl-icon-wmi-collections-sm,
.spl-gdi-wrapper .spl-data-options-links li.spl-icon-tcp-sm,
.spl-gdi-wrapper .spl-data-options-links li.spl-icon-udp-sm,
.spl-gdi-wrapper .spl-data-options-links li.spl-icon-registry-monitoring-sm,
.spl-gdi-wrapper .spl-data-options-links li.spl-icon-active-dir-monitoring-sm,
.spl-gdi-wrapper .spl-data-options-links li.spl-icon-scripts-sm {
	padding: 2px 0px 10px 20px!important;
}

.adminContent .spl-gdi-wrapper h3.add-data-header {font-weight:bold;}

/*** End Data inputs pages styles ***/


/*** Recipe page styles ***/

.spl-gdi-wrapper .spl-recipes-wrapper {
	position: relative;
	display: block;
}
.spl-gdi-wrapper .spl-recipes-wrapper ul.spl-recipes-list {
	list-style: none;
	margin: 0;
	padding: 0;
}
.spl-gdi-wrapper .spl-recipes-wrapper ul.spl-recipes-list li.spl-recipe-list-item {
	padding: 0 10px 15px 45px;
	margin-bottom: 15px;
	border-bottom: 1px dotted $borderColor;
}
.spl-gdi-wrapper .spl-recipes-wrapper ul.spl-recipes-list li.spl-recipe-last {
	border-bottom: 0px dotted $borderColor!important;
}
.spl-gdi-wrapper .spl-recipes-wrapper ul.spl-recipes-list li p.spl-recipe-description {
	margin: 0 0 10px 0;
	color:$textGrayDark;
	font-size: $baseFontSizeSmall;
	line-height: 15px;
}
.spl-gdi-wrapper p.spl-main-description a.spl-inline-link,
.spl-gdi-wrapper .spl-recipes-wrapper ul.spl-recipes-list li p.spl-recipe-description a.spl-inline-link {
	background-position:0 0px;
	margin-left:3px;
	padding-left:15px;
	font-size: $baseFontSizeSmall;
	line-height:13px;
}
.spl-gdi-wrapper .spl-recipes-wrapper ul.spl-recipes-list li span.spl-recipe-action {
	display:inline-block;
	height:16px;
}
.spl-gdi-wrapper .spl-recipes-wrapper ul.spl-recipes-list li span.spl-recipe-action a.spl-action-link {
	display:block;
	background-position:0 0;
	font-size: $baseFontSize;
	line-height: $baseLineHeight;
	padding:0 0 0 20px;
}
.spl-gdi-wrapper .spl-recipes-wrapper ul.spl-recipes-list li h3.spl-recipe-hdr {
	font-size: 14px;
	font-weight: 300;
	color: #111;
	margin-bottom: 3px;
}
.spl-gdi-wrapper h3.spl-main-description-hdr {
	font-size: $baseFontSizeLarge;
	font-weight:300;
	color:$splunkGreen;
	position: relative;
	margin: 5px 0 10px 0;
}
.spl-gdi-wrapper p.spl-main-description {
	font-size: $baseFontSize;
	font-weight:300;
	line-height:140%;
	padding-bottom:0px;
	margin-top: 0;
	text-align: justify;
}

/*** End Recipe page styles ***/

/*** Start success page styles ***/

.spl-success-message-page {
	text-align: center;
}
.spl-gdi-success-layout-wrapper {
	position: relative;
	text-align: center;
	margin-top: 10px;
}
.spl-gdi-wrapper span.spl-success-message-wrapper {
	display: inline-block;
	padding: 40px 40px 30px 40px;
}
.spl-gdi-wrapper .spl-success-message-wrapper-inner {
	position: relative;
	text-align: center;
}
.spl-gdi-wrapper span.spl-success-message-content {
	position: relative;
	display: inline-block;
	text-align: left;
	padding-left: 60px;
	background-position: 0 0;
}
.spl-gdi-wrapper h1.spl-success-message {
	box-sizing:border-box;
	padding:0;
	margin: 0 0 5px 0;
	font-size:24px;
	font-weight:300;
	text-align: left;
	letter-spacing:-0.3pt;
	white-space: normal;
}
.spl-gdi-wrapper span.spl-success-sub-message,
.spl-gdi-wrapper span.spl-success-sub-message span.spl-success-sub-message-inner {
	display:inline-block;
	position:relative;
	box-sizing: border-box;
}
.spl-gdi-wrapper span.spl-success-sub-message {
	text-align: left;
	border-radius:$interactiveBorderRadius;
}
.spl-gdi-wrapper span.spl-success-sub-message span.spl-success-sub-message-inner {
	text-align: center;
	background-color:$yellowLighter;
	padding:5px 10px;
}
.spl-gdi-wrapper .spl-success-actions-wrapper {
	position: relative;
	display: block;
	margin: 20px auto 0 auto;
}
.spl-gdi-wrapper .spl-success-actions-wrapper-inner {
	padding:0;
	text-align: left;
}
.spl-gdi-wrapper .spl-success-actions-list {
	margin: 0;
}
.spl-gdi-wrapper .spl-success-actions-item {
	border-bottom: 1px dotted $borderColor;
	display: block;
}
.spl-gdi-wrapper .spl-success-actions-item-last {
	border: 0 solid;
}
.spl-gdi-wrapper .spl-success-actions-link {
	display: block;
	height: 48px;
	font-size: $baseFontSizeLarge;
	line-height: 48px;
	padding-left: 45px;
	background-position: 0 50%;
}
/*** End success page styles ***/


/*** Prompt message styles ***/

.spl-prompt-message-layout h2.spl-page-hdr {
	position:relative;
	height:24px;
	color:$splunkGreen;
	font-size:18px;
	font-weight:bold;
	line-height:24px;
	margin-bottom:10px;
	margin-top:0;
	padding-left:30px;
}
.spl-prompt-message-layout h2.spl-no-icon-no-padding {
	padding-left: 10px;
}
.spl-gdi-wrapper .spl-prompt-message-wrapper {
	position: relative;
	width: inherit;
	text-align: left;
}
.spl-gdi-wrapper .spl-prompt-message-wrapper .error {
	color:$white;
	display:block;
	margin-bottom:10px;
	padding: 5px 0;
	text-indent:10px;
	width:300px;
}
.spl-gdi-wrapper .spl-prompt-message-wrapper .adminFormItem {
	margin-bottom: 10px;
}
.spl-gdi-wrapper .spl-prompt-message-wrapper .adminFormItem label {
	display: block;
}
.spl-gdi-wrapper .spl-prompt-message-wrapper .spl-main-description {
	margin-bottom: 15px;
}
.spl-gdi-wrapper .spl-prompt-message-wrapper .spl-main-description strong {
	color: $splunkGreen;
	font-weight: bold;
}
.spl-gdi-wrapper .spl-prompt-message-wrapper .spl-license-warn {
    color: $errorText;
    display: none;
    margin-left: 20px;
    margin-top: -10px;
    margin-bottom: 10px;
}

/*** end prompt message styles ***/

/*** Icon styles ***/

/* small icons 16x16 px */

legend a.spl-help-link {
	background: transparent url(/static/img/skins/default/icon-help-sm.png) no-repeat 0 0;
	width: 16px;
	height: 16px;
	margin-bottom: -3px;
	display: inline-block;
}
.spl-icon-universal-sm,
.spl-icon-moreinfo-link-sm,
.spl-icon-external-link-sm  {
	display:inline-block;
	height:16px;
	line-height: $baseLineHeight;
	padding-left:18px;
	padding-right:10px;
	margin-left: 5px;
}
.spl-icon-help-sm {
	background: transparent url("/static/img/skins/default/icon-help-sm.png") no-repeat 0 0;
}
.spl-icon-more-info-sm {
	background: transparent url("/static/img/skins/default/icon-info-sm.png") no-repeat scroll 0 0;
}
.spl-icon-next-link-sm {
	background: transparent url("/static/img/skins/default/icon-link-sm.png") no-repeat scroll 0 1px;
}
.spl-icon-external-link-sm {
	background: transparent url(/static/img/skins/default/icon-externalLink-sm.png) no-repeat 0 0;
}
.spl-icon-external-link-xsm {
	background: transparent url(/static/img/skins/default/icon-external-xsm.png) no-repeat 0 0;
}
.spl-icon-universal-sm {
	background: transparent url(/static/img/skins/default/icon-universal-sm.png) no-repeat 0 0;
}
.spl-icon-local-event-log-sm {
	background: transparent url(/static/img/skins/default/icon-local-event-log-sm.png) no-repeat 0 0;
}
.spl-icon-remote-event-log-sm {
	background: transparent url(/static/img/skins/default/icon-remote-event-log-sm.png) no-repeat 0 0;
}
.spl-icon-files-dirs-log-sm {
	background: transparent url(/static/img/skins/default/icon-files-dirs-log-sm.png) no-repeat 0 0;
}
.spl-icon-wmi-collections-sm {
	background: transparent url(/static/img/skins/default/icon-wmi-collections-sm.png) no-repeat 0 0;
}
.spl-icon-tcp-sm {
	background: transparent url(/static/img/skins/default/icon-tcp-sm.png) no-repeat 0 1px;
}
.spl-icon-udp-sm {
	background: transparent url(/static/img/skins/default/icon-udp-sm.png) no-repeat 0 1px;
}
.spl-icon-registry-monitoring-sm {
	background: transparent url(/static/img/skins/default/icon-registry-monitoring-sm.png) no-repeat 0 0;
}
.spl-icon-active-dir-monitoring-sm {
	background: transparent url(/static/img/skins/default/icon-active-dir-monitoring-sm.png) no-repeat 0 1px;
}
.spl-icon-scripts-sm {
	background: transparent url(/static/img/skins/default/icon-scripts-sm.png) no-repeat 0 0;
}


.spl-icon-success-md {
	background: transparent url(/static/img/skins/default/icon-success-md.png) no-repeat 0 0;
}
.spl-icon-attention-md {
	background: transparent url(/static/img/skins/default/icon-attention-md.png) no-repeat 0 0;
}

/* large icons 32x32 px */

.spl-icon-manager-form-lg {
	background: transparent url(/static/img/skins/default/icon-manager-form-lg.png) no-repeat 0 0;
}
.spl-icon-application-lg {
	background: transparent url(/static/img/skins/default/icon-application-lg.png) no-repeat 0 0;
}
.spl-icon-online-doc-lg {
	background: transparent url(/static/img/skins/default/icon-online-doc-lg.png) no-repeat 0 0;
}
.spl-icon-search-app-lg {
	background: transparent url(/static/img/skins/default/searchIcon.png) no-repeat 0 0;
}
.spl-icon-home-lg {
	background: transparent url(/static/img/skins/default/icon-home.png) no-repeat 0 0;
}
.spl-icon-add-data-lg {
	background: transparent url(/static/img/skins/default/icon_addData.png) no-repeat 0 0;
}

/* xlarge icons 48x48 px */

.spl-icon-success-xlg {
	background: transparent url(/static/img/skins/default/icon-success-xlg.png) no-repeat 0 0;
}

/* Manager icons */
.spl-manager-icon-apps,
.spl-manager-icon-knowledge,
.spl-manager-icon-system,
.spl-manager-icon-data,
.spl-manager-icon-distributed,
.spl-manager-icon-users
 {
    background: url(/static/img/skins/default/sprite_manager_icons.png) no-repeat 8px 2px;
    padding-left: 25px;
 }

.spl-manager-icon-knowledge
{
    background-position:  8px -38px;
}

.spl-manager-icon-system
{
    background-position:  8px -78px;
}

.spl-manager-icon-data
{
    background-position:  8px -118px;
}

.spl-manager-icon-distributed
{
    background-position:  8px -198px;
}

.spl-manager-icon-users
{
    background-position:  8px -158px;
}

/* End Manager icons */

/*** End Icon styles ***/

/***********************************************************************/
/******** END CSS FOR GDI **********************************************/
/***********************************************************************/


body.splTemplate-authoverview div.licenseWrapper {
	padding-top: 0px;
}

body.splTemplate-authoverview form.entityEditForm {
	box-shadow: none;
	border-radius: 0px;
	border: none;
	width: auto;
	margin: 0px;
	padding: 0px;
}

body.splTemplate-authoverview .entityEditForm h1 {
	font-weight: bold;
	margin-top: 0px;
}

body.splTemplate-authoverview div.splButtonWrapper {
	border-top: none;
	margin-top: 0px;
	padding-top: 0px;
	padding-left: 5px;
}

body.splTemplate-authoverview div.clear {
	clear: both;
}
