

/* column container */
.colmask {
    position:relative;
    clear:both;
    float:left;
    width:100%;         /* width of whole page */
    overflow:hidden;    /* This chops off any overhanging divs */
}
    /* column container */
.colmask {
    position:relative;
    clear:both;
    float:left;
    width:100%;             /* width of whole page */
    overflow:hidden;        /* This chops off any overhanging divs */
}
/* holy grail 3 column settings */
.holygrail {
    background:#ff9;        /* Right column background colour */
}
.holygrail .colmid {
    float:left;
    width:200%;
    margin-left:-200px;     /* Width of right column */
    position:relative;
    right:100%;
    background:$white;        /* Centre column background colour */
}
.holygrail .colleft {
    float:left;
    width:100%;
    margin-left:-50%;
    position:relative;
    left:400px;             /* Left column width + right column width */
    background:#FFD8B7;     /* Left column background colour */
}
.holygrail .col1wrap {
    float:left;
    width:50%;
    position:relative;
    right:200px;            /* Width of left column */
    padding-bottom:1em;     /* Centre column bottom padding. Leave it out if it's zero */
}
.holygrail .col1 {
    margin:0 215px;         /* Centre column side padding:
                            Left padding = left column width + centre column left padding width
                            Right padding = right column width + centre column right padding width */
    position:relative;
    left:200%;
    overflow:hidden;
}
.holygrail .col2 {
    float:left;
    float:right;            /* This overrides the float:left above */
    width:170px;            /* Width of left column content (left column width minus left and right padding) */
    position:relative;
    right:15px;             /* Width of the left-had side padding on the left column */
}
.holygrail .col3 {
    float:left;
    float:right;            /* This overrides the float:left above */
    width:170px;            /* Width of right column content (right column width minus left and right padding) */
    margin-right:45px;      /* Width of right column right-hand padding + left column left and right padding */
    position:relative;
    left:50%;
}

/* 2 column left menu settings */
.leftmenu {
}
.leftmenu .colright {
    float:left;
    width:200%;
    position:relative;
    left:200px;
    background:$white;
}
.leftmenu .col1wrap {
    float:right;
    width:50%;
    position:relative;
    right:200px;
    padding-bottom:1em;
}
.leftmenu .col1 {
    margin:0 0 0 275px; /* column adjusts */
    position:relative;
    right:100%;
    overflow:hidden;
    border-left: 1px solid #ddd;
    padding: 10px 0 0 15px;
}
.leftmenu .col2 {
    float:left;
    width:235px; /* column adjusts */
    position:relative;
    right:185px;
    padding-top: 10px;
}

.ManagerBar .auxLinks {
    margin-top:15px;
    float:right;
    margin-right:10px;
}
.ManagerBar .auxLinks a{
    color: $white;
}
.ManagerBar .auxLinks span {
    color: $white;
    padding: 0px 6px;
}

/* styling for about dialog */
.aboutPopupContainer {
    display:none;
    padding: 10px;
}
.aboutPopupContainer .aboutPopupSplunkLogo {
    background: transparent url(/static/img/skins/default/logo_splunkServer_white_low.png) no-repeat scroll 0 0;
    height: 45px;
    width: 120px;
}

form.admin-lite-dialog {
	width: 660px;
	margin: 30px auto 20px;
	background: $white;
	border: 1px solid $borderColor;
	border-radius: 2px;

	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
}
div.admin-dialog-wrapper {
}

div.admin-dialog-content {
    padding: 10px;
}

div.admin-dialog-content p {
    font-size: $baseFontSize;
    /*width: 42em;  SPL-58204 - this seems to break layout since the container is 600px */
}

div.admin-dialog-content h1,
div.admin-dialog-content .question {
	font-weight: bold;
	padding-top: 0px;
	font-size: 18px;
	color: $splunkGreen;
	word-wrap: break-word;
}

div.admin-dialog-content ul {
    font-size: $baseFontSize;
}

div.admin-dialog-content div.error {
    /* this MUST match the padding of div.admin-dialog-content */
    word-wrap: break-word;
}

div.admin-dialog-content label.big {
    font-size: 14px;
}

div.admin-dialog-gutter {
    border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	background: $offWhite;
}

div.admin-dialog-tray {
    height:35px;
    padding:10px 10px 0 5px !important;
    text-align: right;
    overflow: hidden;
    border-top: 1px solid $borderColor;
}

div.admin-dialog-tray button {
    min-width: 110px;
}

div.message_block_error {
    padding: 1px 10px;
    background-color: #F7DADA;
    margin-bottom: 10px;
}

div.message_block_success {
    font-size: 18px;
    font-weight: bold;
    color: $splunkGreen;
    padding: 2px 16px 10px 0px;
    margin-bottom: 30px;
    background: url("/static/img/skins/default/icon-success-md.png") no-repeat scroll 0 0 transparent;
    border-bottom: 1px solid $borderColor;
    width: 623px;
}
span.message_block_success_text {
	padding-left: 30px;
}

p.message_block_header {
    font-weight: bold;
    border-bottom: 1px solid $red;
    padding: 1px 1px 3px 1px;
}

table.msg-listing {
    width: 600px;
    font-size: $baseFontSize;
}

table.msg-listing td {
    border-top: 1px solid #ddd;
}

table.msg-listing th {
    text-align: left;
    font-weight: normal;
}
table.msg-listing .text {
    font-size: 13px;
    width: 80%;
}
table.msg-listing .light-container {
    padding: 5px 5px 0 0;
    vertical-align: top;
}
table.msg-listing .light {
    background-image: url('/static/img/skins/default/traffic_light.png');
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    display: inline-block;
}
table.msg-listing .msg-error {
    background-position: 0 -2px;
}
table.msg-listing .msg-warn {
    background-position: 0 -42px;
}
table.msg-listing .msg-info {
    background-position: 0 -82px;
}

table.msg-listing .time {
    white-space: nowrap;
    text-align: right;
}

.msg-metadata {
    color:$textGrayDark;
    font-size: $baseFontSizeSmall;
    font-style: italic;
}

.empty-text {
    color:$textGrayDark;
    font-style: italic;
    padding: 5px;
    margin: 0;
}

.input-disabled {
    color: $grayLightMedium;
}

p.prose {
    width: 600px;
}


/*
 * accumulator
 */

table.accumulator {
}

table.accumulator select {
    min-width: 15em;
}


/*
 * manager-style accumulator
 */

div.accumulator {
    clear: right;
    white-space: nowrap;
}

div.accumulator .accumulator-label {
    font-weight: bold;
    font-size: $baseFontSizeSmall;
}

div.accumulator-pane {
    width: 195px;
    float: left;
    margin-right: 10px;
}

div.accumulator-scrollbox {
    height: 120px;
    overflow: auto;
    margin-top: 10px;
    border: 1px solid $borderColor;
}

div.accumulator ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

div.accumulator li {
    padding: 2px 1px 2px 20px;
    cursor: default;
    background-repeat: no-repeat;
}
div.accumulator li:hover {
    background-color: #e5f2f5;
}

div.accumulator .available li {
    background-image: url('/static/img/skins/default/icon_circle_add.png');
    background-position: 3px 3px;
}

div.accumulator .selected li,
div.accumulator .available li.chosen {
    background-image: url('/static/img/skins/default/icon_circle_delete.png');
    background-position: 3px 3px;
}

div.accumulator .available li.chosen {
    color: #aaa;
}


div.accumulator li.disabled {
    background-image: none;
    color: #aaa;
    font-style: italic;
}
div.accumulator li.disabled:hover {
    background-color: transparent;
}



/*
 * licensing
 */
body {
    background-color: $bodyBackgroundColor;
    color: $grayDark;
    min-height: 500px;
}

h1 {
    margin-top: 5px;
    margin-bottom: 10px;
}

h2 {
    font-size: 14px;
    font-weight: bold;
    color: $splunkGreen;
    margin: 0px;
    margin-top: 30px;
}

h3 {
	margin: 15px 0px 10px;
}

span.add {
    background: url(/static/img/skins/default/licensing/icon_circle_add.png) no-repeat;
	cursor: pointer;
	padding-left: 15px;
	padding-right: 5px;
}

span.switch {
    cursor: pointer;
    padding-left: 15px;
    padding-right: 5px;
    background: url(/static/img/skins/default/licensing/icon_switch.png) no-repeat;
}

.button {
    cursor: pointer;
    @mixin interactive;
    border-radius:$interactiveBorderRadius;
    display: inline-block;
    padding: 4px 8px;
    font-weight: normal;

    &:hover {
        @mixin interactive-hover;
        text-decoration: none;
    }

    &:focus {
        @mixin focus-button;
    }
}



#licenseHeader {
    background-color: #ededed;
    padding: 10px 15px;
}


div.moduleWrapper {
    margin-left: 15px;
    margin-bottom: 10px;
}

/** serverMode **/
div.serverMode {
	padding: 10px 20px;
}

.serverModeLabel {
	color: $grayDark;
	font-weight: bold;
	font-size: $baseFontSize;
	float: left;
	line-height: 20px;
}

div.serverMode .button {
	margin-left: 10px;
}

/** licenseGroup **/
div.licenseGroup {
	margin-top: 5px;
}

div.licenseGroup h1 {
	float: left;
	margin-right: 10px;
	margin-bottom: 0px;
}

div.actionButtons {
	padding-top: 6px;
}

a.splButton-primary, a.splButton-primary span {
	display: inline-block;
	margin-left: 0px;
}

div.subGroupTitle {
        padding-top: 6px;
        font-weight:bold;
}

/** local server **/
div.localServer {
	margin-top: 30px;
}


/** stack **/
.stack-title {
	margin-top: 30px;
}

.stack-title h2{
	float: left;
	margin-top: 0px;
}

.stack-title a {
	margin-top: 3px;
	margin-left: 10px;
	float: left;
}

/** pool **/
.poolActions {
    margin-top: 4px;
}

.poolDescription {
    margin-top: 15px;
}


table td, th{
    vertical-align: baseline;
    padding: 4px;
    border: 0;
}


tr.separator td{
    border-bottom: 1px dotted $borderColor;
}

table .large {
    font-size: 18px;
    font-weight: bold;
}

table.listing {
    min-width: 600px;
    clear: left;
    border-collapse: collapse;
    margin-bottom: 0px;
    margin-top: 10px;
}

table.listing td:second-child {
    min-width: 200px;
}

table.listing th {
    border-bottom: 1px solid $borderColor;
    text-align: left;
}

table.properties {
    clear: left;
    width: auto;
}

table.properties .k {
    padding-right: 20px;
    vertical-align: top;
}

td.numeric, th.numeric {
    text-align: right !important;
}

td.actions {
    text-align: right;
    font-weight: normal !important;
}

td.k, th.k {
    font-weight: bold;
    vertical-align: top;
}
.k label{
	font-size: $baseFontSizeSmall;
}
tr.group-header td {
    background-color: #ededed;
    border-top: 1px solid $borderColor;
    padding: 4px;
}

tr.inactive td {
    color: $textGray;
    font-style: italic;
}

tr.total td {
    border-top: 1px solid $borderColor;
    font-weight: bold;
}

table.msg-listing {
	border-bottom: 1px solid #DDD;
	margin-top: 10px;
}

p.listing_action {
    padding: 5px 0px;
}

p.prose {
	padding: 5px 10px;
	margin: 10px 0px 0px;
	color:$textGrayDark;
	border-radius: $interactiveBorderRadius;
	background-color: #E5F2F5;
}

p.prose .spl-external-link {
	margin-left: 0px;
}

p.prose input {
	background: #ededed;
	padding: 2px 5px;
	width: 250px;
}

span.meter-tray {
    background-color: $grayLightMedium;
    height: 11px;
    display: inline-block;
    vertical-align: text-top;
}

span.meter-indicator {
    background-color: $splunkGreen;
    height: 11px;
    display: inline-block;
    vertical-align: text-top;
}

span.submeter-indicator {
    background-color: #D4DEC5;
    height: 7px;
    display: inline-block;
    vertical-align: text-top;
}

span.notable {
    font-weight: bold;
    color: $red;
}

/*admin dialog buttons*/
.admin-dialog-tray a.splButton-primary {
	float:none;
}



/* Warning icons */


.icon_small {
    background-repeat: no-repeat;
    padding-left: 17px;
}

.green_success_small {
    background-image: url("/static/img/skins/default/icon_complete.png");
    background-position:0px 0px;
}

.yellow_warning_small {
    background-image: url("/static/img/skins/default/icon_alerts.png");
    background-position:0px -16px;
}

.red_warning_small {
    background-image: url("/static/img/skins/default/icon_alerts.png");
    background-position:0px -64px;
}

/*SPL-73169*/
.navigationHeader {
    min-height: 0;
}
.ManagerBar:empty {
    display: none;
}
