

/*IFX*/

body > p {
	margin: 0;
}
.splunk-components + p {
   margin-top: 0;
}


h2 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 1em;
}
pre {
    margin: 0;
}
pre, .rulesetList {
    line-height: 150%;
}

.formColumn {
    float: left;
    margin-right: 20px;
}

.formColumn p.exampleText, .ifxHelpColumn p.exampleText {
    margin: 0 0 10px 0;
    line-height: 1.2;
}

.formColumn label {
    display: block;
    margin-top: 10px;
}

textarea {
    height: 32px;
}

.ifxHelpColumn {
    float: left;
    border: 1px solid $borderColor;
    width: 250px;
    padding: 10px;
}

.ifxHelpColumn h4 {
    padding-bottom: 0;
    font-size: $baseFontSize;
    font-weight: normal;
    color: #333
}
.ifxHelpColumn code {
    text-indent: 20px;
    display: block;
}


.hidden {
    display: none;
}

#control {
    padding: 0 15px 10px 15px;
    border-bottom: 1px solid $borderColor;
    background: #ededed;
}

#sampleEvent {
    border: 1px solid $borderColor;
    padding: 3px;
    overflow: auto;
    max-height: 100px;
}

option {
    padding-right: 10px;
}

.highlight {
    background-color: #FFED89;
}

p.error, p.warn, p.success, p.message, p.empty {
    margin: 0;
}


body > p.error, body > p.warn, body > p.success, body > p.message, body > p.empty {
    padding-left: 20px;    
}


.empty {
   color: $textGray;
}

#results {
    clear: both;
}

#ruleset {
    width: 300px;
    float: left;
    border-right: 1px solid $borderColor;
    padding: 10px 10px 0 10px;
}
#ruleset h3 {
    border-top: 1px dotted $borderColor;
    margin-top: 4px;
    padding: 8px 0;
}
#ruleset div {
    padding: 3px 0;
}
ul.rulesetList {
    list-style-type: none;
    padding: 0;
}
.rulesetList li {
    padding: 3px;
}

.rulesetList li img {
    background-image: url('/static/img/skins/default/icon_circle_delete.png');
    background-position: center left;
    background-repeat: no-repeat;
    width: 20px;
    height: 12px;
    border: 0;
    vertical-align: middle;
}

.rulesetList li.excluded img {
    background-image: url('/static/img/skins/default/icon_circle_add.png');
}
.rulesetList li.excluded span {
    text-decoration: line-through;
    color: #888;
}

.rulesetList a.noclick {
    background-image: none !important;
}

#events a.term {
    padding: 0 16px 0 1px;
    background-image: url('/static/img/skins/default/icon_circle_delete.png');
    background-position: center right;
    background-repeat: no-repeat;
    color: black;
    text-decoration: none;
}
.m {
    padding: 1px 2px;
}
.munmarked {
    border: 1px solid red;
}
#events pre {
    padding-left: 5px;
}

#events .help {
    background: #ffc;
    padding: 4px;
    border: 1px solid $borderColor;
    margin-left: 28px;
}

.searchdesc {
    font-size: 13px;
    font-weight: bold;
}
#help {
    font-size: $baseFontSizeSmall;
}

#events .help {
    display: block;
}

/* new */

#search {
    float: left;
}
input.searchButton {
    margin-top: 4px;
    margin-left: 10px;
}
.valueInputDiv {
    padding-top: 5px;
    margin-bottom: 0;
}
.valueInputDiv .splButton-primary {
    margin-left: 0;
}

/* results */

#results {
    overflow: hidden;
}
#ruleset, #events {/* equal heights fix */
    padding-bottom:10000px;
    margin-bottom: -9980px;
}

.regexButtons .splButton-secondary span {
    min-width: 63px;
}

/* events section */
#events {
    padding-top: 10px;
    margin-left: 321px;
    margin-bottom: -10000px; /* undo equal heights bottom padding from above */
}
#events h2 {
    margin-left: 12px;
}
#events .info {
    margin-bottom: 0;
}
#events .splTable {
    margin-bottom: 0;
    display: block;
}
#eventListing {
    padding-bottom: 0;
    overflow:auto;
}
#events .splTable tbody {
    display: block;
    overflow-x: auto;
}

/* popups */

.popupContainer {
    visibility: visible;
    display:block;
/*    position:absolute;
    top:0;
    left:0;
*/
}
.entityEditForm .popupContainer {
    padding-bottom: 0;
}
.popupContent {
    width: 400px;
    overflow: hidden;
}

.entityEditForm .popupContainer div {
    padding-bottom: 0;
}
.entityEditForm .popupContainer div.entityEditForm {/* contortions to get padding right in this context */
    padding-bottom: 20px;
}
#testAlertLayer div.popupContent {
    padding: 20px;
}

.rulesetList span {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}
#saveSuccessLayer .popupContent {
    padding: 10px;
}
