

/* The jobs template is used to build the Job Manager interface.  */

/* fixed header/footer layout stuff */

html {
overflow: hidden;
}
.jobsHeader {
    position: absolute;
    top:0;
    width: 100%;
    z-index: 10;
}
.JobManager .jobManagerWrapper {
    position: absolute;
    top:120px;
    left:0;
    right:0;
    bottom:45px;
    overflow: auto;
}
.JobManager .jmBatchActions {
    position: absolute;
    bottom: 0 ;
    width: 100%;
}


/* job controls row == filterControls */

.filterControls {
    line-height: 35px;
    background: #ededed;
    border-top: 1px solid $borderColor;
    border-bottom: 1px solid #CCC;
    padding: 0 10px;
}

.filterControls .SplunkModule {
    float:left;
    padding: 5px 10px;
}

.filterControls .filterControlRight {
	float: right;
}

.filterControls .SearchTextSetting {
	padding-right: 0;
}

.filterControls input,
.filterControls select
{
    margin:0;
    border:1px solid $borderColor;
    width:180px;
    vertical-align: middle;
    background-color: #FFF;
    margin-top: -2px;
}

.filterControls select {
    width: auto;
    max-width: 180px;
}
.filterControls label {
    margin-right:5px;
}
.panel_row2_col .Count,
.panel_row2_col .Paginator
{
    float:right;
    height:34px;
}

/* search button */
.filterControls .searchButton {
     background-color: #73a550;
     width: 44px;
     border: 0;
     cursor: pointer;
}
/* results controls (paginator, count) row = panel_row4_col */
.panel_row4_col {
    border-bottom: 1px solid #CCC;
    background: #ededed;
}
.panel_row4_col .Paginator {
    float:left;
}
.panel_row4_col .Count {
    float:right;
}

.splTable .parentRow td {
    border-bottom:none;
}

.Count {
    display:block;
    float:right;
    line-height:22px;
    height:22px;
}

