

/* BEGIN: global styles */
.panels {
    background: #F4F4F4;
    position:relative;
    min-width:340px;
}
.panels ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.panels .wrapper {
    float: left;
    margin-left: -100px;
    width: 100%;
}
.panels textarea {
    resize:vertical;
    max-height:10em;
}
.panels select {
	font-size: $baseFontSize;
}
/* END: global styles */
/* BEGIN: tab styles */
.panels .tabs {
    width:100px;
    float:left;
    position:relative;
    z-index:2;
}

.panels .tabs li {
    cursor:pointer;
    background: #f4f4f4;
    color:$black;
    padding: 5px 8px;
    position:relative;
    border-bottom:1px solid $borderColor;
}
.panels .tabs a {
    font-size: $baseFontSize;
    text-shadow:0 1px 0 #fff;
    color:$black;
    display:block;
    background-color:inherit;
    text-decoration: none;
}
.panels .tabs li.contains-error a{
    color: #a6302b;
    font-weight: bold;
}
.panels .tabs .active a {
    text-shadow:0 1px 0 #fff;
    font-weight:bold;
}
.panels .tabs span {
    display:none;
}
.panels .tabs .active span {
    display:block;
    width:16px;
    height:16px;

    position:absolute;
    right:-15px;
    top:4px;

    text-indent:-1000em;
    direction:ltr;
    background: url('/static/img/skins/default/paneleditor/tab-arrow.png') no-repeat center right;
}
/* END: tab styles */
/* BEGIN: section styles */
.panels .section {
    display: none;

    margin-left:100px;
    background-color:#fff;
    border-left:1px solid $borderColor;
    padding-top:5px;
    min-height:300px;
    position:relative;
    z-index:1;
    overflow:auto;
}
.panels .section-on {
    display: block;
}
.panels .section h2
{
    padding-left:10px;
    font-weight:normal;

}
.panels .section .input-1 {
    width: 40px;
}
.panels .section .input-2 {
    width: 80px;
}
.panels .section .col-1 label {
/*    width: 175px;*/ /*SPL-49068*/
/* SPL-61031 - truncate long text */
    display: block;
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.panels .section .block {display:block;}

.panels .section table {
    width: 100%;
}
.panels .section td {
    vertical-align: top;
}
/* FYI col-n denotes permutation, not the actual column */
.panels .section td.col-1 {
/*    width: 100px;*/ /*SPL-49068*/
    padding-top: 4px;
    padding-left: 10px;
    height:3em;
}
.panels .section td.col-2 {
    padding-left: 10px;
}
.panels .section td.col-2 label {
    vertical-align:top;
}
.panels .section textarea {
    width: 90%;
    height: 50px;
    margin-top:5px;
    margin-bottom:10px;
}
.panels .section .tab-error-message {
	margin: 0px 10px 10px;
    background-color: #a6302b;
    padding: 5px;
    border-radius: 5px;
    color: $white;
    font-weight: bold;
}
/* END: section styles */
/* START: buttons section */
.panels .buttons {
    margin: 0;
    background: #fff;
    border-top: 1px solid $borderColor;
    padding:10px;
    list-style:none;
    clear:both;
    position:relative;
    z-index:3;
}
.panels .buttons .item-1 {
    float:left;
}
.panels .buttons .item-2 {
    float:right;
}
/* START: buttons section */
/* START: gauge color picker section */

#automatic-mode-message {
	margin: 10px;
	background-color: #ededed;
	padding: 5px;
	border-radius: 5px;
color: $textGrayDark;
}
#automatic-mode-message p {
	margin: 0px;
	margin-bottom: 10px;
}
.panels .section .gauge-color-picker label {
    width:auto;
    float:left;
}
.panels .section .gauge-color-picker label.padded {
    margin-left:75px;
}
.panels .section .gauge-color-picker label.from {
    margin-right:5px;
    width:87px;
}
.panels .section .gauge-color-picker label.to {

}
.gauge-color-picker input {
    height:21px;
    width:50px;
    margin:0;
    padding:0 5px 0 0 ;
    border:1px solid $borderColor;

   color: $textColor;
    font-size: $baseFontSizeSmall;
    text-align:right;
}
.gauge-color-picker input[disabled] {
   color: $textGray;
}
.gauge-color-picker .range-start{
    border-radius:2px 0 0 2px;
}
.gauge-color-picker .range-end{
    border-radius:0 2px 2px 0;
}
.gauge-color-picker .removebutton {
    float: left;
    display:inline-block;
    width:15px;
    height:21px;
    text-indent:-1000em;
    direction:ltr;
    margin:0;
    position: relative;
    left: -2px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.gauge-color-picker .removebutton .splButtonIcon {
    background: url(/static/img/skins/default/sprite_button_icons.png) no-repeat -12px -96px;
    width:15px;
    height:18px;
    margin:0;
}

.gauge-color-picker .rangeselect {
    padding: 10px 0 0 10px;
    overflow:hidden;
}

.gauge-color-picker .rangecolorpicker {
    background: transparent url("/static/img/skins/default/colorpicker/select-new.png") no-repeat 0 0 ;
    height: 23px;
    position: relative;
    left: -1px;
    width: 23px;
    float: left;
    display:inline-block;
}

.gauge-color-picker .rangecolorpicker div {
    background: transparent url("/static/img/skins/default/colorpicker/select-new.png") no-repeat -1px -1px;
    width: 19px;
    height: 19px;
    left: 1px;
    position: absolute;
    top: 1px;
}

.gauge-color-picker .rangecolorpicker:hover,
.gauge-color-picker .rangecolorpicker div:hover {
    background-image: url("/static/img/skins/default/colorpicker/select-new-hover.png");
}

.gauge-color-picker .rangecolorpicker:active,
.gauge-color-picker .rangecolorpicker div:active {
    background-image: url("/static/img/skins/default/colorpicker/select-new-active.png");
}

.gauge-color-picker .addnewholder {
    padding: 10px 0 0 10px;
}

.gauge-color-picker .addnewholder .splButtonIcon {
    background: url(/static/img/skins/default/sprite_button_icons.png) no-repeat -11px -636px;
    height:21px;
    width:12px;
    margin:0;
}

#swatch-dialog {
	position: absolute;
    width: 152px;
    left: 140px;
    z-index: 4;
    border: 1px solid $borderColor;
    background-color: $white;
    box-shadow: 1px 1px 3px #ddd;
}

#swatch-dialog .dialog-body {
	padding: 5px;
	margin: 0px;
}

#swatch-dialog ul.swatch-holder {
	list-style: none;
	margin-left: 0;
	margin-bottom: 0px;
	float: left;
	width: 75px;
}

#swatch-dialog li.swatch {
	float: left;
	width: 20px;
	height: 20px;
	border: 1px solid transparent;
	margin: 1px;
	cursor: pointer;
	border: 1px solid $borderColor;
}

#swatch-dialog li.selected-swatch {
    border: 1px solid $borderDarkColor;
}

#swatch-dialog li.swatch:hover {
	border-color: #borderDarkColor;
}

#swatch-dialog .feedback-holder {
	float: right;
	text-align: center;
}

#swatch-dialog .selected-color {
    width: 62px;
    height: 62px;
    border: 1px solid $borderColor;
}

#swatch-dialog .selected-hexcode {
	margin-top: 5px;
	border: 1px solid $borderColor;
}

#swatch-dialog .selected-hexcode .hex {
color: $textGray;
}

#swatch-dialog .input-color {
    height: 20px;
    padding: 0 2px;
    border: none;
    width: 40px;
}

#swatch-dialog .dialog-footer {
	clear: both;
	border-top: 1px solid $borderColor;
	padding: 5px;
}

#swatch-dialog .cancel-button {
	float: left;
}

#swatch-dialog .apply-button {
	float: right;
}

/* END: gauge color picker section */
/* START: rich buttons */
.panels .controls {
    float: right;
    margin-right: 10px;
}

.panels .controls label {width:auto;}
.panels .controls input[type=text]{width:98px;}
.panels .controls select {width:115px;_float:right;_margin-right:10px;}
.panels .numeric {text-align:right;}
.controls .splRadio-control {width:37px;}
.twocell .splRadio-control {width:56px;}
#colors .splRadio-control {width:auto;padding:0 1em;}
.panels tr:hover .col-1 label {text-decoration:underline;}

/* radio icons */
.splRadio .stack-off {background-position:8px 4px;}
.splRadio .stack-on  {background-position:11px -17px;}
.splRadio .stack-100 {background-position:11px -37px;}

.splRadio .null-gaps {background-position:9px -56px;}
.splRadio .null-zero {background-position:9px -77px;}
.splRadio .null-connect {background-position:9px -97px;}

.splRadio .ellipsis-start {background-position:8px -177px;}
.splRadio .ellipsis-middle {background-position:7px -197px;}
.splRadio .ellipsis-end {background-position:9px -217px;}


/* END: rich buttons */
/* BEGIN: rich dropdown */
.panels .viz-select {
    padding:5px 0 5px 10px;
    border-bottom:1px solid $borderColor;
    background: #fff;
    position:relative;
}
.panels .viz-select label {
    font-weight:bold;
    text-shadow:0 1px 0 #fff;
    margin-right:5px;
}

.panels .viz-select a.spl-external-link {
    position:absolute;
    top:10px;
    right:10px;
    /*SPL-61031 - truncate long text*/
    max-width: 45px;
    overflow: hidden;
    text-overflow: ellipsis;
}

select.viz-type {padding:1px; width:150px; }
select.viz-type .bg-img {
    background-image: url('/static/img/skins/default/paneleditor/viz-icons.png');
    background-repeat:no-repeat;
    margin: 2px 0;
    padding: 1px 0 1px 30px;
    vertical-align: middle;
}

/*green - selected*/
option.table,
a.table .ui-selectmenu-item-icon,
.ui-selectmenu-item-selected.table .ui-selectmenu-item-icon
{background-position:-10px 3px;}
option.event,
a.event .ui-selectmenu-item-icon,
.ui-selectmenu-item-selected.event .ui-selectmenu-item-icon
{background-position:-10px -18px;}
option.bar,
a.bar .ui-selectmenu-item-icon,
.ui-selectmenu-item-selected.bar .ui-selectmenu-item-icon
{background-position:-10px -57px;}
option.area,
a.area .ui-selectmenu-item-icon,
.ui-selectmenu-item-selected.area .ui-selectmenu-item-icon
{background-position:-10px -98px;}
option.column,
a.column .ui-selectmenu-item-icon,
.ui-selectmenu-item-selected.column .ui-selectmenu-item-icon
{background-position:-10px -39px;}
option.pie,
a.pie .ui-selectmenu-item-icon,
.ui-selectmenu-item-selected.pie .ui-selectmenu-item-icon
{background-position:-10px -119px;}
option.scatter,
a.scatter .ui-selectmenu-item-icon,
.ui-selectmenu-item-selected.scatter .ui-selectmenu-item-icon
{background-position:-10px -137px;}
option.line,
a.line .ui-selectmenu-item-icon,
.ui-selectmenu-item-selected.line .ui-selectmenu-item-icon
{background-position:-10px -78px;}
option.single,
a.single .ui-selectmenu-item-icon,
.ui-selectmenu-item-selected.single .ui-selectmenu-item-icon
{background-position:-10px -217px;}
option.radialGauge,
a.radialGauge .ui-selectmenu-item-icon,
.ui-selectmenu-item-selected.radialGauge .ui-selectmenu-item-icon
{background-position:-10px -159px;}
option.fillerGauge,
a.fillerGauge .ui-selectmenu-item-icon,
.ui-selectmenu-item-selected.fillerGauge .ui-selectmenu-item-icon
{background-position:-13px -199px;}
option.markerGauge,
a.markerGauge .ui-selectmenu-item-icon,
.ui-selectmenu-item-selected.markerGauge .ui-selectmenu-item-icon
{background-position:-3px -176px;}

/*blue - unselected*/
option.table,
.table .ui-selectmenu-item-icon{background-position:-10px -237px;}
option.event,
.event .ui-selectmenu-item-icon{background-position:-10px -258px;}
option.bar,
.bar .ui-selectmenu-item-icon{background-position:-10px -297px;}
option.area,
.area .ui-selectmenu-item-icon{background-position:-10px -338px;}
option.column,
.column .ui-selectmenu-item-icon{background-position:-10px -279px;}
option.pie,
.pie .ui-selectmenu-item-icon{background-position:-10px -359px;}
option.scatter,
.scatter .ui-selectmenu-item-icon{background-position:-10px -377px;}
option.line,
.line .ui-selectmenu-item-icon{background-position:-10px -318px;}
option.single,
.single .ui-selectmenu-item-icon{background-position:-10px -457px;}
option.radialGauge,
.radialGauge .ui-selectmenu-item-icon{background-position:-10px -399px;}
option.fillerGauge,
.fillerGauge .ui-selectmenu-item-icon{background-position:-13px -439px;}
option.markerGauge,
.markerGauge .ui-selectmenu-item-icon{background-position:-3px -416px;}

/*grey - dsiabled*/
option.disabled.table,
.disabled.table .ui-selectmenu-item-icon {background-position:-10px -477px;}
option.disabled.event,
.disabled.event .ui-selectmenu-item-icon {background-position:-10px -498px;}
option.disabled.bar,
.disabled.bar .ui-selectmenu-item-icon {background-position:-10px -537px;}
option.disabled.area,
.disabled.area .ui-selectmenu-item-icon{background-position:-10px -578px;}
option.disabled.column,
.disabled.column .ui-selectmenu-item-icon{background-position:-10px -519px;}
option.disabled.pie,
.disabled.pie .ui-selectmenu-item-icon{background-position:-10px -599px;}
option.disabled.scatter,
.disabled.scatter .ui-selectmenu-item-icon{background-position:-10px -618px;}
option.disabled.line,
.disabled.line .ui-selectmenu-item-icon{background-position:-10px -558px;}
option.disabled.single,
.disabled.single .ui-selectmenu-item-icon{background-position:-10px -697px;}
option.disabled.radialGauge,
.disabled.radialGauge .ui-selectmenu-item-icon{background-position:-10px -640px;}
option.disabled.fillerGauge,
.disabled.fillerGauge .ui-selectmenu-item-icon{background-position:-13px -680px;}
option.disabled.markerGauge,
.disabled.markerGauge .ui-selectmenu-item-icon{background-position:-3px -656px;}

.ui-selectmenu-item-icon {
    width:36px;
    height:20px;
}
.ui-selectmenu .ui-selectmenu-icon {
    background: url('/static/img/skins/default/paneleditor/toggle-arrow.png') no-repeat 1px 2px;
    width:10px;
    height:10px;
    margin-top:-4px;
}
a.ui-selectmenu:hover {
	text-decoration:none;
    border-color: #aaa;
	background-color: #F3F3F3;
}
.ui-selectmenu {
    border:1px solid $borderColor;
    border-radius:4px;
    background: #fff url('/static/img/skins/default/paneleditor/gradient_20.png') repeat-x bottom center;
}
.ui-selectmenu-menu {
    background-color:#fff;
    color:$black;
    box-shadow: 0 2px 2px #666;
    border:1px solid $borderColor;
    border-top:none;
}


.ui-selectmenu-menu .ui-selectmenu-group {border-top:1px solid #ccc}
.ui-selectmenu-menu .ui-selectmenu-group .ui-selectmenu-group-label {display:none;*display:block;}

.ui-selectmenu-menu li.ui-selectmenu-hasIcon a,
.ui-selectmenu-hasIcon .ui-selectmenu-status
{
    padding-left: 35px;
   color: $textColor;
    /* SPL-61031 - Truncate long text*/
    overflow: hidden;
    text-overflow: ellipsis;
}

.ui-selectmenu-menu li.ui-selectmenu-hasIcon.disabled a {
   color: $textGray;
}

.ui-selectmenu-item-focus
{
    background-color:#F3ECBB;
    color:$black;
}
/* END: rich dropdown */

/* START: invalid viz */
.invalidviz {
    background: #ffea8d;
    padding: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
	display: none;
	line-height: 130%;
}
/* END: invalid viz */
