

/*************************************************************
 *  Splunk Universal Styles
 *
 *    This file contains high-level structural Splunk styles.
 *
 ************************************************************/

/* Typography
---------------------------------*/
a:active {
    outline: 0;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
h1 {
    margin:0;
}
h4 {
    padding:0px 0px 10px 0px;
    margin:0px;
}

/* Application Header
________________________________*/
.appLogo {
    padding-right: 5px;
    float: left;
}
.splunkPoweredLogo {
    display: none;
}
/* Layout
---------------------------------*/

body {
    padding:0px;
    margin:0px;
}
body.splView-flashtimeline {
    min-width:420px;
}

/* make sure there is space for app bars*/
.appHeader {
    min-height: 25px;
    background-color: $black;
}
/* NOTE: this might not work since this can be replaced */
.navigationHeader {
    min-height: 30px;
    background-color: $grayLightMedium;
}

.splView-_admin .navigationHeader {
    min-height: 30px;
}


/* high level layout
------------------------------*/
div.layout {
    float: left;
    width:100%;
    /*
    min-width:751px;
    width:expression(document.body.clientWidth < 751? "750px": "100%" );
    */
}
/* NOTE: js code to affect layout in IEs can be found in /exposed/js/layout_engine.js */
div.layoutRow {
    clear:both;
}
div.layoutCell {
    float: left;
}
/* 1 col layout */
div.oneColRow div.layoutCell {
    width: 100%;
}
/*  2 col layout */
div.twoColRow div.layoutCell {
    width: 50%;
}
/*  3 col layout */
div.threeColRow div.layoutCell {
    width: 33%;
}

div.charting div.threeColRow {min-width:800px;}

div.charting div.twoColRow {min-width:800px;}

/* last cell in a 3-col layout needs to be 34% so we don't have extra space */
div.threeColRow div.lastCell {
    width: 34%;
}

/* global module css */
.SplunkModule {
    padding:5px 10px;
}


/* individual Layout panels */
div.mainSearchControls, div.pageControls {
    border-bottom-width:1px;
    border-bottom-style: solid;
}

div.pageControls {
    padding-bottom: 5px;
    border-top-width: 1px;
    border-top-style: solid;
    padding-top: 5px;
}
.splView-flashtimeline div.pageControls {
    padding-bottom: 0;
    padding-top: 0;
}

.mainSearchControls {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding: 0px 0px 5px 0px;
}
.splSearchControls-inline .SplunkModule {
    padding:0px;
}
.splSearchControls-inline td{
    vertical-align:top;
}
.splSearchControls-inline table.mainSearchControlsTable {
    border:0px;
    margin: 0 10px 10px 10px;

}
.splSearchControls-inline table.mainSearchControlsTable td {
    padding: 0;

}

.pageControls {
    line-height: 22px;
}
.splView-flashtimeline .pageControls .Count {
	padding-right: 30px;
}

.splSearchFormatChart-tabs,
.splSearchFormatChart-column {
	float: left;
}

.splSearchFormatChart-tabs .linkSwitcherPipe,
.splSearchFormatChart-tabs .orphanLabel {
	display: none;
}

div.splSearchFormatChart-tabs ul {
	border-right-width: 1px;
	border-right-style: solid;
	padding-right: 10px;
}

div.splSearchFormatChart-tabs ul li {
	float: none ;
	position: relative;
	padding-right: 20px;
}


div.splSearchFormatChart-tabs ul li.selected .linkSwitcherSelectedIcon {
    height: 7px;
    width: 4px;
    overflow: hidden;
    display: block;
    position: absolute;
    top: 7px;
    right: 0;
}

/* sidebar */
div.withSidebar {
    overflow: hidden;
}
div.withSidebar div.sidebar {
    float: left;
    width: 200px;
    position: relative;
    padding-bottom: 10000px;
    margin-bottom: -9950px;
    min-height:400px;
}
div.withSidebar div.oneColRow,
div.withSidebar div.twoColRow,
div.layoutCellHeader {
    clear:none;
    float: none;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: auto;
}

/* collapsible sidebar styles */
div.withSidebar div.sidebar span.sidebarControl a {
    float: right;
    margin: 7px 7px 0 0;
    margin-bottom: -23px;
}
div.withSidebar div.sidebar span.sidebarControl {
}
div.withSidebar div.sidebarCollapsed {
    width:30px;
    height: 65px;
    padding-bottom: 0;
    margin-bottom: 0;
    min-height: 28px;
    border-right: 0px;
}
div.withSidebar div.sidebarCollapsed * {
    display: none;
}

div.sidebarCollapsed .sidebarControl {
    border-width: 0;
    border-top-width: 1px;
}


div.withSidebar div.sidebarExpanded .FieldPicker {
	border-top-style: solid;
	border-top-width: 1px;
}

div.withSidebar div.sidebarExpanded span.sidebarControl {
    border:0px;
    display:none;
}
div.withSidebar div.sidebarExpanded span.sidebarControl .splIcon-sidebar-open {
    display: none;
}


div.withSidebar div.sidebarCollapsed span.sidebarControl {
    display: block;
}
div.withSidebar div.sidebarCollapsed span.sidebarControl a {
    display: block;
    position: relative;
    top: -2px;
    left: 1px;
}
div.withSidebar div.sidebarCollapsed span.sidebarControl a span {
    display: block;
}

div.withSidebar div.sidebarCollapsed span.sidebarControl a:hover {
    /* background-position:  -100px -40px; */
}
div.layoutCellHeader {
    margin-bottom: 5px;
}

/* layout panel element overrides */

.pageControls select {
    margin-top: 0px;
}
.pageControls .Paginator .ResultsContainer {}

.pageControls .EnablePreview {
    line-height:22px;
    padding-top:4px;
}
.pageControls .EnablePreview input {
    margin-top:0px;
}
.pageControls .SplunkModule {
    float: left;
    height: 22px;
}
.pageControls .Paginator ,
.splView-flashtimeline .Paginator {
    float:right;
}

/* Helper classes
--------------------------------------*/
.splClearfix {
    zoom:1;
}
.splClearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.splPipe {
    margin:0px 8px;
}
.splDivider {
    padding: 0px;
}

/* LIST STYLES. Minimal set for cross-browser happiness.
----------------------------------------------------------*/
ul,ol {padding-top:0;margin-top:0;padding-bottom:0;margin-bottom:10px;}
ul ul, ol ol, ul ol, ol ul {padding-top:0;margin-top:0;padding-bottom:0;margin-bottom:0;}
ul {margin-left: 14px; padding-left: 0;}
ol {margin-left: 20px; padding-left: 0;margin-bottom:10px;}
ul li {margin-bottom:0;margin-left:0;padding-left:0;padding-bottom:0;}
ol li {margin-bottom:10px;}

/* headers
---------------------------------*/
.splHeader {
    height:28px;
    line-height:28px;
}
.splHeader h2 {
    float:left;
    margin:0px 5px 0px 10px;
}
.splView-flashtimeline .ResultsHeader .splHeader-primary h2 {
	margin: 0;
	padding: 0 10px;
    float: none;
    min-height: 28px;
}

.splView-flashtimeline .ResultsHeader .splHeader-primary .ie6.splClearfix {
	display: none;
}


/* borders
---------------------------------*/

.splBorder-n    { border-top-width: 1px; border-top-style: solid; }
.splBorder-s    { border-bottom-width: 1px; border-bottom-style: solid; }
.splBorder-e    { border-right-width: 1px; border-right-style: solid; }
.splBorder-w    { border-left-width: 1px; border-left-style: solid; }
.splBorder-nsew { border-width: 1px; border-style: solid; }

/* images
_______________________________*/

img, a img {
    border: none;
}

/* Forms
--------------------------------*/
form {
    margin:0px;
    padding:0px;
}
fieldset {
    border: none;
    padding: 0;
    margin:0;
}
fieldset legend {
    padding: 0;
    padding-bottom: 5px;
}
fieldset p {
    margin: 0 0 5px 0;
}
.fieldsetWrapper {
    padding-top: 15px;
}
.fieldsetWrapper .multiColumnFieldset {
    padding-top: 0px;
}
/* multi-column fieldsets */
.multiColumnFieldset label {
    display:block;
    margin-right: 10px;
}
.multiColumnFieldset div {
    float:left;
    margin-right: 10px;
}
label {
    min-width: 30px;
}
#item-actionsfieldset label.topLabel  {
    font-weight: bold;
}
label .disabledLabel {
    min-width: 30px;
    color: #f0f0f0;
}
input:not([type=checkbox]), textarea, select {
    padding: 5px 7px;
    margin-top: 4px;
    border-width: 1px;
    border-style: solid;
}
select {
    padding: 2px 3px 2px 5px;
}
select option {
    padding-right: 15px;
}
.entityEditForm input,
input.regular, textarea.regular {
   width: 350px;
}
.entityEditForm select,
select.regular {
    width: 364px;
}
select.medium {
    width: 182px;
}
input.short {
    width: 80px;
}
select.short {
    width: 94px;
}
input.long, textarea.long {
    width: 650px;
}
select.long {
    width: 660px;
}
textarea.huge {
    width:95%;
    height:400px;
}
input.radio, input.checkbox {
    width: auto;
    border: 0;
}
.entityEditForm div {
	padding-bottom: 5px;
}
.entityEditForm div.fieldsetWrapper {
    padding-bottom:0px;
}
input[type=checkbox], input.checkbox {
    margin-top: 4px;
    width:auto;
}
p.helpText{
    margin:5px 0 0 0;
}
p.exampleText {
    margin: 5px 5px 0px 0px;
    color:$textGrayDark;
}
p.fieldsetHelpText {
    display:block;
    margin: 0 0 10px 0;
}
span.optionalText {
    color:$textGrayDark;
}
span.requiredAsterisk {
    color: #AF4444;
}

.splTextArea {
    padding:5px;
}
.splTextAreaStd .disabledTextarea {
	overflow: auto;
	color: #111;
}
.splTextAreaStd .disabledTextarea pre{
	overflow:auto;
	background-color: #EBEBE4;
}
.splTextArea .disabledTextarea pre,
.splTextArea textarea {
	margin:0px;
	width:100%;
	border:none;
	padding:0px;
	resize:vertical;
}
.splTextArea .disabledTextarea pre,
.splTextAreaStd textarea {
	height:52px;
	min-height:52px;
}


/* specific item styles */
#item-licenseKey textarea {
    width: 648px;
}

/* form elements in popups */
.popupContainer label {
    display: block;
}
.popupContainer .entityEditForm {
    padding: 0px 15px 10px;
}
.popupContainer .radio, .popupContainer .checkbox {
    float:left;
    clear:left;
    margin-right:8px;
}
.popupContainer .radioWidget label,
.popupContainer .checkboxWidget label {
    padding-top:6px;
}
.hiddenLabel{
	position: absolute;
	left: -10000px;
}
.orphanLabel{
	font-size: $baseFontSize;
}
.labelLegend{
	padding: 0 !important;
	color: $black;
	font-size: $baseFontSize;
	font-weight: normal;
}
/* Form Search
_______________________________*/

.formSearchLabel {
    display:block;
}
.formSearchInput {
    min-width: 154px;
}
.formSearchSelect {
    min-width: 170px;
}

/* Table Styles
--------------------------------*/
table {
    border:0px;
    border-spacing:0px;
}

table.splTable {
    width: 100%;
    margin-bottom: 15px;
    border-bottom: 0;
}
table.splTable th {
    padding: 3px 5px;
    text-align: left;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    vertical-align: top;
}
table.splTable td {
    padding: 5px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    vertical-align: top;
}
table.splTable th a {
    position: relative;
    margin-right: 10px;
    display:inline-block;
}
/* sorting */
.splSortNone, .splSortAsc, .splSortDesc {
    width: 5px;
    height: 10px;
    position: absolute;
    right:-10px;
    top:2px;
}

/* Global elements
----------------------------------------*/
#loading  {
    position:absolute;
    left:50%;
    top:0;
    padding:5px 10px;
    min-width:100px;
    margin-left:-50px;
}
#loadingmessage {
    position: absolute;
    top:50px;
    left:50%;
    margin-left: -100px;
    z-index: 1005;
    padding-left:40px;
    height: 32px;
    line-height: 32px;
    width: 200px;
    display: none;
}
.popupLoading {
    height: 32px;
    line-height: 32px;
    padding: 20px 40px;
    width:150px;
    margin:0px auto;
}

.searchFieldGhost {
    border-width:1px;
    border-style: dotted;
}
label.searchTextSetting img {
    vertical-align: middle;
}
.repeatabletemplate { display: none; }
.widgeterror { display: none; }
.widgetinlineerror { display: block !important; }


/* percentage bar graph
________________________________*/
.barGraphWrapper {
    overflow:hidden;
}

.splBarGraph {
    width:150px;
    height: 17px;
    float:left;
}
.splBarGraphValue {
    float:right;
}
.splBarGraphBar {
    height: 17px;
    width: 33%;
    float:left;
}

/* Popups
--------------------------------*/
.popupContainer {
    border-width: 1px;
    border-style: solid;
    position:absolute;
    top:0px;
    left:-1000px;
    width: auto;
    z-index:501;
    visibility:hidden;
    text-align: left;
}
.popupContent {
    min-width: 300px;
    min-height: 50px;
}
.popupContainer .splHeader .splIcon-close {
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 7px 7px;
}
.popupContainer .splHeader-popup h2 {
    display:block;
    float:none;
    margin-right:20px;
    margin-left:0px;
    padding-left:10px;
}
.popupFooter {
    height: 35px;
    text-align: right;
    padding: 10px 5px 0 0;
}
.popupFooter button {
    margin-right: 5px;
}
.pdfPopup {
    display:none;
    width:525px;
    padding: 10px;
}

/* Results Options Popup Styles */
.resultsOptionsActWrapper {
    height:22px;
    padding:5px 10px;
}
.resultsOptionsActivator {
    vertical-align: top;
    padding-left: 5px;
}
.resultsOptions {
}
.resultsOptions .popupContent {
    padding:10px;
}
.resultsOptions select {
    width:150px;
}
.resultsOptions .SoftWrap label {
    display:inline;
}

/* Field Value Popup Styles */
.fieldValuePopup {
    width: 518px;
    /*
    Uncomment for FieldSummaryLayer2
    visibility:visible;
    display:block!important;
    */
}
.fieldValuePopup .fieldValuePopupInner {
    position:relative;
}
.fieldValuePopup .popupContent {
    min-height:170px;
    padding: 10px 0px;
}

.fieldValuePopup p {
    margin:0px;
    padding:5px 10px;
}
.fieldValuePopup div.fieldLinks {
    padding:0px;
    margin: 0 10px 10px 10px;
    float: left;
    width: 240px;
}
.fieldValuePopup p.numericalStats {
    padding: 10px;
}
.fieldValuePopup p.fieldHeader {
    padding:0px 10px;
}
.fieldValuePopup p.fieldHeader h2 {
    margin-top:0px;
}
.fieldValuePopup h4 {
    padding:0;
}

.fieldValuePopup p.numericalStats span {
    padding-right:10px;
}
.fieldValuePopup div.reportLinks{
	margin: 0 0 10px 0;
    padding: 0;
    float: left;
    width: 240px;
}

.fieldValuePopup div.reportLinks a,
.fieldValuePopup div.fieldLinks a
{
    display: block;
}

.fieldValuePopup table {
    margin:0px 10px;
    width: 490px;
}
.fieldValuePopup table th {
    text-align: left;
}
.fieldValuePopup table th,
.fieldValuePopup table td {
    text-align:right;
    padding: 2px 10px 2px 0px;
}
.fieldValuePopup table td.fieldValueGraphCell {
    padding-right:0px;
}
.fieldValuePopup table tr.fieldNameHeaderRow td {
    padding-bottom: 7px;
}
.fieldValuePopup th.fieldName {
    text-align:left;
    width:100%;
}

/* overlays and shadows
---------------------------------*/
.splOverlay, .splOverlay-white {
    display: none;
    position:fixed;
    top:0px;
    left:0px;
    bottom: 0px;
    right:0px;
    height:100%;
    width:100%;
    z-index:500;
}

.splShadow {
    padding: 0 8px 9px 0;
}

/* buttons
---------------------------------*/

.splButton-primary,
.splButton-secondary,
.splButton-tertiary {
    cursor: pointer;
    height:21px;
    line-height:21px; /*Note: line-height doesn't work on input/button in FF */
    width: auto;
    margin-left: 5px;
    text-align: center;
    padding: 0px 5px;
}
.splButton-primary:active,
.splButton-secondary:active,
.splButton-tertiary:active {
	outline: none;
}

button.splButton-primary,
button.splButton-secondary,
button.splButton-tertiary {
    height:23px;
}
a.splButton-primary,
a.splButton-secondary,
a.splButton-tertiary {
    height:21px;
}

a.splButton-primary,
a.splButton-secondary,
a.splButton-tertiary,
a.splButton-primary span,
a.splButton-secondary span,
a.splButton-tertiary span {
    text-decoration: none;
    float: left;
}
.splButton-primary span,
.splButton-secondary span,
.splButton-tertiary span {
    display: block;
}
.splButton-primary span {
    min-width: 80px;
}

.splButton-primary span.splButtonIcon + span,
.splButton-secondary span.splButtonIcon + span,
.splButton-tertiary span.splButtonIcon + span
{
    min-width: 0;
    padding: 0 5px;
}

.splButton-primary span.splButtonIcon,
.splButton-secondary span.splButtonIcon,
.splButton-tertiary span.splButtonIcon,
.splButton-primary span.splMenuIcon,
.splButton-secondary span.splMenuIcon,
.splButton-tertiary span.splMenuIcon,
.timeRangeActivatorWrapper span.splMenuIcon {
    width: 13px;
    height: 13px;
    min-width: 13px;
    margin-top: 4px;
    overflow: hidden;
    text-indent: -1000em;
    display: block;
    float: left;
}

.splButtonGroup .splButton-primary,
.splButtonGroup .splButton-secondary,
.splButtonGroup .splButton-tertiary {
	margin-right: 0;
}

.splButtonGroup .splButton-tertiary + .splButton-tertiary,
.splButtonGroup .splButton-secondary + .splButton-secondary,
.splButtonGroup .splButton-primary + .splButton-primary

{
	border-left-width: 0;
}


/* Splunk search button */
input.searchButton {
    margin: 0px;
    width: 44px;
    border: 0px;
/*    outline:0;*/
    height: 28px;
}

/* button wrapper */

.splButtonWrapper {
    clear:left;
    padding-top:10px;
    margin-top:10px;
}


/* Iconic Button */

.splIconicLink {
	display: block;
	float: left;
    height: 17px;
    margin-right: 20px;
}

.splIconicLinkIcon {
	display: block;
	height: 13px;
	width: 13px;
	display: block;
	float: left;
	margin-right: 2px;
}

.splIconicLinkLabel {
	line-height: 17px;
}


.splIconicLinkDisabled  {
    cursor: default !important;
    text-decoration: none !important;
}


.splIconicLinkDisabled  {
    cursor: default !important;
    text-decoration: none !important;
}


.pageControls .splIcon-export,
.pageControls .splIcon-options
 {
	margin-top: 5px;
}

/* icons
---------------------------------*/
.splIcon {
    height: 13px;
    width: 13px;
    background-repeat: no-repeat;
    cursor: pointer;
    display: block;
}

/* results view buttons */
.splIcon-events-list, .splIcon-events-table, .splIcon-results-table, .splIcon-results-chart {
    width: 13px;
    height: 13px;
    margin: 3px;
    background-repeat: no-repeat;
}


/* triangles */
.splIcon-triangle,
.splIcon-triangle-1-n, .splIcon-triangle-1-s, .splIcon-triangle-1-e, .splIcon-triangle-1-w,
.splIcon-triangle-2-n, .splIcon-triangle-2-s, .splIcon-triangle-2-e, .splIcon-triangle-2-w,
.splIcon-triangle-3-n, .splIcon-triangle-3-s, .splIcon-triangle-3-e, .splIcon-triangle-3-w,
.splIcon-triangle-4-n, .splIcon-triangle-4-s, .splIcon-triangle-4-e, .splIcon-triangle-4-w,
.splIcon-triangle-5-n, .splIcon-triangle-5-s, .splIcon-triangle-5-e, .splIcon-triangle-5-w {
    width:5px;
    height:5px;
}
.splIcon-triangle-large {
    width:7px;
    height:7px;
}

/* state interaction
_________________________________*/


.fatal, .error, .warn, .info, .persistent { /*due to specifity rules, it appears that this is never getting applied */
    padding: 0px 10px;
    line-height: 28px;
}

.fatal .remove, .error .remove, .warn .remove, .info .remove, .persistent .remove {
margin-top: 1px;
	display: block;
    height: 13px;
    width: 13px;
    text-indent: 30px;
    overflow: hidden;
}

/* menu classes
---------------------------------*/

/*** Structural menu styles, default ***/
.splMenu, .splMenu div.outerMenuWrapper {
    position: absolute;
    display: none;
    text-align: left;
}

.splMenu, .splMenu * {
    margin: 0;
    list-style: none;
    z-index: 500;
}

.splMenu div.outerMenuWrapper {
    left:80px;  /* set the left width in your menu style to line up where you want it, use negatives to line up on the left */
    top:0px;
}

.splMenu a {
    display: block;
    padding: 5px 10px;
    width: 140px;
    text-decoration: none;
    overflow: hidden;
}
.splMenu a:hover {
}
.splMenu ul {
    border-width: 1px;
    border-style: solid;
}
.splMenu ul div.innerMenuWrapper {
    padding: 5px 0px;
    width: 160px;
}
.splMenu ul li {
    width: 160px;
    padding: 0px;
    position: relative;
    word-wrap: break-word;
    cursor: pointer;
}
.splMenu .actionsMenuDivider {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    margin: 3px 0px;
}

/** arrows **/

.splMenu li.hasSubMenu span.splIcon {
    position: absolute;
    right: 5px;
    top:10px;
}


/* Tab styles
---------------------------------*/

.tabsWrapper {
    float:none !important;
    min-height:27px;
    padding: 0px 5px;
    overflow: hidden;
    clear: left;
}

ul.tabs {
    margin: 0;
    padding: 0;
    list-style: none;
}
ul.tabs li {
    float: left;
    padding-left: 20px;
    height: 27px;
    line-height: 27px;
    margin-right: 5px;
    margin-top: 5px;
}
ul.tabs li a {
    display: block;
    padding-right: 20px;
    text-align: center;
    cursor: pointer;
    min-width: 125px;
    text-decoration: none;
}

/* jquery ui styles
_______________________________*/

/* datepicker styles */
.splunkDatepicker {
    width: 144px;
    position: relative;
    margin-bottom: 10px;
}
.ui-datepicker {
    width:142px;
    border-spacing: 0px !important;
    z-index: 502;
    display: none;
}
.ui-datepicker a {
    width:auto;
    cursor:pointer !important;
}
.ui-datepicker-header {
    position: relative;
    height: 23px;
    line-height: 23px;
    text-align: center;
}
.ui-datepicker-prev,
.ui-datepicker-next {
    position: absolute;
    top:0px;
    left:5px;
}
.ui-datepicker-header a {
    padding: 0;
    height: 23px;
    width: 10px;
}
.ui-datepicker-next {
    left:133px;
}
.ui-datepicker-calendar td,
.ui-datepicker-calendar th {
    height: 18px;
    width: 18px;
}
.ui-datepicker-calendar th {
    padding-top:5px;
    font-weight: normal;
    text-align: center;
}
.ui-datepicker-calendar td a {
    padding: 0;
    display: block;
    height:18px;
    line-height: 18px;
    vertical-align: middle;
    text-align: center;
}

/* resizable styles */
.ui-resizable-s {
    cursor: row-resize;
    height: 10px;
    width: 100%;
    bottom: 0px;
    left: 0px;
    border: none !important;
}

/* fix for IE6 iframe issue */
.ui-datepicker-cover {
  display: none; /*sorry for IE5*/
  position: absolute; /*must have*/
  z-index: -1; /*must have*/
  filter: mask(); /*must have*/
  top: -4px; /*must have*/
  left: -4px; /*must have*/
  width: 193px; /*must have to match width and borders*/
  height: 200px; /*must have to match maximum height*/
}

/* TimeSpinner Styles */

.TimeSpinner {
	overflow: hidden;
	padding: 2px 4px;
}
.TimeSpinner input.tsInput {
	width:14px;
	float:left;
	border: 0;
	text-align: left;
	padding: 0;
	margin: 0;
}
.TimeSpinner input.milliseconds {
	width:21px;
}
.TimeSpinner div.colon {
	float:left;
}


/*********************************
     Mako Exception Traceback Styles
 *********************************/
.traceback h2 {
	font-size: $baseFontSizeSmall;
	font-weight:bold;
	margin-top:0px;
	color:red;
}
.traceback h3 {
	font-size:10px;
	font-weight:bold;
}
.traceback table {
	width:100%;
}
.traceback .active {
	background-color:#ffed89;
}
.traceback td {
	vertical-align:top;
}
.traceback td:first-child {
	color:$textGrayDark;
	padding-right:12px;
}
.traceback pre {
	margin:0px;
	white-space:pre-wrap;
	word-wrap:break-word;
}
.traceback dl {
	padding-top:12px;
}
.traceback dt {
	color:$textGrayDark;
}

/* generic exception in the module handler */
p.moduleException {
    text-align: center;
    font-size: $baseFontSize;
    font-weight: bold;
    padding: 10px;
}

.resultStatusMessage {
    text-align: center;
    font-size: 14px;
    padding: 20px;
}

.results-table-help pre {
	padding-left: 20px;
}

/******************************************************************************
 * Debug object styles
 *****************************************************************************/

#splunkDevToolbar {
    background-color: #DCFEBD;
}

#splunkDevToolbar #devOpener {
    position: absolute;
    top: 0;
    left: 10px;
    height: 10px;
    padding: 5px;
    text-align: center;
    background-color: $red;
    color: $white;
}

.devModuleOverlay {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    height: auto;
    width: auto;
    opacity: .6;
    background-color: #666;
    border: 1px solid $black;
    text-align: left;
    overflow: hidden;
    color: $white;
    z-index: 100;
}

.devModuleLabel {
    background-color: $red;
}

/******************************************************************************
 * Very Short Module CSS. Here instead of own files to avoid hitting IE
 * stylesheet limit of 31. It should be very clear to which modules they belong
 *****************************************************************************/

.ConvertToIntention {
    float: left;
    margin: 0px 5px;
    padding: 0px;
}

.splFormSearch .viewHeader .StaticRadio {
    float: left;
    margin: 0px 5px;
    padding: 5px 0 0 0;
}

.splFormSearch .SearchSelectLister {
    width: auto;
    float: left;
    padding: 5px 0 0 10px;
}

.splFormSearch .viewHeader .SearchSelectLister {
    margin: 0px 5px;
    padding: 0px;
}

.splFormSearch .SearchSelectLister label {
    display: block;
    padding-top: 5px;
    margin-bottom: 0;
}

.splFormSearch .SearchSelectLister select {
    margin-bottom:5px;
    min-width: 250px;
}

.splFormSearch .viewHeader .EntitySelectLister {
    float: left;
    margin: 0px 5px;
    padding: 0px;
}
.viewHeader {
    position: relative;
}
.viewHeader .SearchMode {
    position: absolute;
    right: 0px;
    top: 0px;
}

.viewHeader #metricsInfoMessage {
    margin: 5px;
}


/* FORM SEARCH LAYOUT FIXES */
/* normalize formSearch module heights only in viewHeader*/
.splFormSearch .viewHeader .StaticSelect,
.splFormSearch .viewHeader .TimeRangePicker,
.splFormSearch .viewHeader .ExtendedFieldSearch,
.splFormSearch .viewHeader .SearchSelectLister,
.splFormSearch .viewHeader .SearchRadioLister,
.splFormSearch .viewHeader .SubmitButton
{
    float:left;
    min-height:55px;
}
/* SPL-39097 - ensure labels are always block (this might be too general) */
.splFormSearch .viewHeader .SplunkModule label {
    display:block;
    padding-top:5px;
}
/*SPL-39097 - specific modules overrides here for previous rule ... :not(input[radio] + label)*/
.splFormSearch .viewHeader .StaticRadio label ,
.splFormSearch .viewHeader .SearchRadioLister label
{
    display:inline ;
    padding-top:0;
}
/*normalize select heights across browsers*/
.splFormSearch .viewHeader select
{
    height:21px; /*for webkit*/
    margin-top:5px;
}

/* mod/results/ViewstateAdapter */
.ViewstateAdapter{display:none;}

/* mod/search/HiddenFieldPicker */
.HiddenFieldPicker{display:none;}

/* mod/results/Gimp */
.Gimp{display:none;}

/* mod/nav/BreadCrumb */
.BreadCrumb{line-height:23px;}

/* mod/results/chart_controls/HiddenChartFormatter */
.HiddenChartFormatter{display:none;}

/* mod/results/FieldViewer */
.SimpleFieldViewer .fieldList span{cursor:pointer;}

/* mod/search/ViewRedirector */
.ViewRedirector {
    padding:0px;
    display:none;
}

/* mod/search/ViewRedirectorLink */
.ViewRedirectorLink a{float:left}

/* mod/include/IFrameInclude */
.IFrameInclude iframe {
    width:100%;
    height:100%;
    border:none;
}

/* mod/results/page_controls/Export */
.exportBtn{margin-right:5px;}

/* mod/search/HiddenSearch */
div.SplunkModule.HiddenSearch {
    display: none;
    padding: 0;
    margin: 0;
}

/* mod/search/RadioButtonSearch */
.RadioButtonSearch fieldset label {
    float:none;
    padding:0px;
}

/* mod/form_elements/StaticRadio */
.StaticRadio label.StaticRadioTitle {
    display:block;
    padding-top:5px;
    margin-bottom: 0;
}

/* mod/results/page_controls/EnablePreview */
div.EnablePreview div.hidden{display:none;}
.EnablePreview label{display:inline;}

/* mod/results/page_controls/RowNumbers */
.RowNumbers input{margin-top:1px;}
.RowNumbers label{display:inline;}

/* mod/search/HiddenIntention */
div.SplunkModule.HiddenIntention {
    display: none;
    padding: 0;
    margin: 0;
}

/* mod/search/HiddenSavedSearch */
div.SplunkModule.HiddenSavedSearch {
    display: none;
    padding: 0;
    margin: 0;
}

/* mod/gandalf/search_field/AdvancedModeToggle */
.AdvancedModeToggle label {
    float: left;
    margin-right:8px;
}
.AdvancedModeToggle a {
    margin-left: 5px;
}

/* mod/gandalf/fields/SingleFieldChooser */
.SingleFieldChooser .deleteSeries{display:none;}
.SingleFieldChooser fieldset.showDeleteLinks .deleteSeries{display:inline;}

/* mod/search/FieldSearch */
.FieldSearch label {
    display:block;
    padding-top:5px;
    margin-bottom:0;
}
.FieldSearch input {
    margin-bottom:5px;
}

/* mod/static/NullModule */
.NullModule, .NullModule * {
    margin:0;
    padding:0;
    height:0;
    visibility:hidden;
}

/* mod/gandalf/search_field/ReportBuilderSearchField */
.ReportBuilderSearchField{padding:0px 10px;}
.ReportBuilderSearchField div{padding:0 10px 0 0;}
.ReportBuilderSearchField textarea{width:100%;}

/* mod/results/ResultsHeader */
.ResultsHeader {
    padding:0px;
    float:none !important;
}
.ResultsHeader a,
.ResultsHeader a:visited {
    float: right;
    margin-right: 5px;
}

/* mod/results/SimpleResultsHeader */
.SimpleResultsHeader {
    min-height:0px;
    clear:both;
}
.SimpleResultsHeader h3 {
    margin:0px;
    padding:0px;
}

/* mod/static/GenericHeader */
.GenericHeader {
    min-height:0px;
    clear:both;
}
.GenericHeader h3 {
    margin:0px;
    padding:0px;
}




/******************************************************************************
 * View Report: Hide the editing tools.
 *****************************************************************************/

.splView-report_builder_display #ShowHideHeader_1_3_0 {
 	border: none;
 	height: 0;
 	overflow: hidden;
}

.splView-report_builder_display .panel_row2_col,
.splView-report_builder_display .panel_row3_col,
.splView-report_builder_display .panel_row4_col {
	display: none;
}

/******************************************************************************
 * for 508 updates
 *****************************************************************************/
.navSkip {
    position: absolute;
    top:0;
    left:-1000px;
}

.dropDown{
	text-indent: -10000px;
	width:6px;
	height:6px;
	overflow: hidden;
}



/* Rich Radio Controls */
.splRadio-group {
	display:inline-block;
}
.splRadio-group .splRadio-control {
	float:left;
	width:45px;
	height:20px;
	line-height:20px;
	border-radius: 0;
    position:relative;
	background-clip: padding-box;
}
.splRadio-group .splRadio-control + .splRadio-control {
    border-left: none;
}

.splRadio-group .splRadio-control:first-child  {
	border-radius: $interactiveBorderRadius 0 0 $interactiveBorderRadius; /* Opera 10.5, IE9, Saf5, Chrome, FF4, iOS 4, Android 2.1+ */
}
.splRadio-group .splRadio-control:last-child {
	border-radius: 0 $interactiveBorderRadius $interactiveBorderRadius 0; /* Opera 10.5, IE9, Saf5, Chrome, FF4, iOS 4, Android 2.1+ */
}

.splRadio-control input {position:absolute; left:-99999px;}

.splRadio-control  label {
	cursor:pointer;
	display:block;
	text-align:center;
    text-transform:capitalize;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* state */
.splRadio-control:hover {
    background-color: #f3f3f3;
    border-color: #aaa;
    outline: none;
}

.splRadio-group .s-active.s-focus {
    background-color: #3e83bd;
    color: $white;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.7);
}


/*overrides*/
.splRadio .wide {width: 65px;}
.splRadio-icon {width:37px;}

/* skin & icons */
.splRadio-icon label {
	text-indent:-1000em;
	direction:ltr;
	background-image: url("/static/img/skins/default/paneleditor/icon_toggle.png");
	background-repeat:no-repeat;
	/*bg clipping*/
    position:absolute;
    clip:rect(0, 29px, 21px, 7px);
}

.splRadio-icon .icon-foo{background-position:9px -56px;}
.splRadio-icon.s-active .icon-foo{background-position:-17px -56px;}

/******************************************************************************
 * report builder layout
 *****************************************************************************/
.reportBuilder .Count{float:right;line-height:22px;}
.reportBuilder .Export{float:left;line-height:22px;}
.reportBuilder .Paginator{float:right;line-height:22px;}
.reportBuilder .DataOverlay{float:left;line-height:22px;}
.reportBuilder .DataOverlay label{float:left;padding-right:4px;}
.reportBuilder .DataOverlay select{margin:0;padding:0;float:left;}
.reportBuilder .EnablePreview{float:left;line-height:22px;}
.reportBuilder .AddTotals{float:left;line-height:22px;}


/*508 helper class - Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* IE9 fixes*/
/*SPL-49659 - Fix IE9 hover bug*/
.ie9 .ie9-hover-fix {
    min-height: 0%;
    margin-bottom: auto;
}
