

.wizard {
	line-height: 130%;
	background-color: #fff;
	background-image: none;
}
.wizard .content {
    padding:10px;
    padding-top:15px;
    padding-bottom:0px;
}

/* wizard table style */
.wizard table {
	width: 100%;
}
.wizard td {
    vertical-align:top;
}
.wizard td ul {
	list-style: none;
	margin: 0px;
}

.wizard td ul li {
    margin-bottom:10px;
}
.wizard td ul li:first-child {
    padding-top: 0;
}
.wizard td ul li:last-child {
	margin-bottom: 0px;
}
.wizard .digestoff {
	margin-bottom: 10px;
}


.wizard td.col1 {
    padding-right:10px;
    font-weight:bold;
    text-align:right;
    font-size: $baseFontSize;
    white-space: nowrap;
    line-height:20px;
    width:2%;
}
.wizard td.col2 {
	vertical-align: top;
	padding-bottom: 15px;
}

/* wizard text style */
.wizard h1.spl-icon-success-md {
	padding-left: 18px;
	padding-bottom: 15px;
	line-height: 14px;
	background: transparent url(/static/img/skins/default/icon-check.png) no-repeat 0 0;
}
.wizard h3 {
    font-weight:normal;
    margin:0px;
    padding:0px;
}
.wizard label {
	line-height: 150%;
}
.wizard p {
    margin:0px;
    padding:0px;
}
.wizard .note {
color: $textGrayDark;
	font-size: $baseFontSizeSmall;
	font-style: italic;
}
.wizard p.note, .wizard li.note {
	padding-left: 0px;
	padding-top: 2px;
}
.wizard p.note strong, .wizard li.note strong {
color: $textGray;
}
.wizard h2.error {
	display: none;
}
.wizard .errors {
    font-size: $baseFontSize;
    font-weight: bold;
    background: #af4444;
    margin: 0px;
	padding: 5px 10px;
	line-height: 130%;
	list-style: none;
	color: $white;
	margin-bottom: 10px;

    border-radius: $baseBorderRadius;
}

.wizard .required {
	color: #AF4444;
}
.wizard em {
    font-style:normal;
}
.wizard .information {
    margin-bottom: 15px;
    font-size: $baseFontSize;
}
.wizard .information a {
	word-break: break-word;
}
.wizard .information .spl-icon-external-link-xsm {
	margin-left: 0px;
}
.wizard .spl-icon-external-link-xsm.option-help-link {
	margin-left: 0px;
}

/* wizard input style */
.wizard input, .wizard textarea, .wizard select {
	margin: 0px;
	padding: 2px 5px;
	box-sizing: border-box;
	width: 98%;
	line-height: 130%;
	font-size: $baseFontSize;
}
.wizard textarea {
	resize: vertical;
}
.wizard input.width_medium, .wizard textarea.width_medium, .wizard select.width_medium {
	width: 175px;
}
.wizard input.width_short, .wizard textarea.width_short, .wizard select.width_short {
	width: 110px;
}
.wizard input[disabled], .wizard textarea[disabled], .wizard select[disabled] {
    background-color:#ededed;
    border-color:#CCC;
    padding-left: 5px;
   color: $textGray;
}
.wizard .disabled, .wizard .indent.disabled {
color: $textGray;
}
.wizard input#vanitytime {
	border: 1px solid #ededed;
}

.wizard textarea {
	display: block;
}
.wizard input[readonly='readonly'] {
	background-color:#ededed;
}
.wizard div.saveSearchSuccess div.information input {
	background-color:#ededed;
    white-space: nowrap;
    word-wrap: normal;
    overflow: hidden;
	text-overflow: ellipsis;
}
.wizard input[type='checkbox'],
.wizard .checkbox
{
	margin-right: 2px;
	padding: 0px;
	width: auto;
	border: none;
}
.wizard input.typeCheckbox {
	margin-right: 2px;
	padding: 0px;
	width: auto;
	border: none;
}
.wizard input[type='radio'],
.wizard .radio
{
	width: auto;
	margin-right: 2px;
	padding: 0px;
	width: auto;
	border: none;
}
.wizard input.typeRadio {
	width: auto;
	margin-right: 2px;
	padding: 0px;
	width: auto;
	border: none;
}

.wizard .placeholder {
    color:#666;
    font-style: italic;
}
input::placeholder,
textarea::placeholder {
	font-style:italic;
	color:#666;
}

/* wizard indent style */
.wizard .indent {
    margin:10px 0px 0px 10px;
}

.wizard .indent ul {
	padding-bottom: 0px;
}

/* wizard buttons style */
.wizard ul.buttons {
    padding:10px;
    margin:0px;
    list-style:none;
    border-top: 1px solid #b7b7b7;
    background-color: $offWhite;;
}
.wizard ul.buttons .left {
    float:left;
}
.wizard ul.buttons .left .splButton-secondary {
	margin-left: 0px;
}
.wizard ul.buttons .right {
    float:right;
}
.wizard ul.buttons li a span {
	display: block;
	text-align: center;
}

/* wizard save search style */
.wizard .saveSearchForm .dispatch_time {
    width:123px;
}
.wizard .saveSearchForm .dispatch_time_to {
    padding: 0px 5px;
}
.wizard .saveSearchForm .managerperms {
    font-size: $baseFontSizeSmall;
   color: $textGray;
}
.wizard .saveSearchForm td.share {
    padding-top:0px;
}
.wizard .saveSearchForm .sharing {
    width:auto;
}
.wizard .shareDashboard {
	padding-top: 10px;
}

/* wizard steps breadcrumb style */
.wizard .steps {
    margin:0px;
    margin-bottom: 15px;
    list-style:none;
    padding: 0px;
    background:url(/static/img/skins/default/step_bg.png) repeat-x center;
}
.wizard .steps li {
    float:left;
    background-color: #fff;
    margin-left: 45px;
    margin-right: 0px;
    padding-left:5px;
    white-space: nowrap;
}
.wizard .steps em {
    background-color:$grayLight;
    width:14px;
    border-radius:10px;
    float:left;
    color:#FFF;
    text-align:center;
    font-weight:bold;
    padding:1px;
}
.wizard .steps h2 {
    display:inline;
    padding-left:2px;
    padding-right:5px;
    line-height:16px;
   color: $textGray;
    white-space: nowrap;
}
.wizard .steps li.active em {
    background-color:#73A550;
    white-space: nowrap;
}
.wizard .steps li.active h2 {
    color:#73A550;
}

/* wizard save search success style */
.wizard .saveSearchSuccess .mgr {
    font-weight:bold;
    font-style:normal;
}
.wizard .saveSearchSuccess .note {
   color: $textGray;
    font-style:normal;
}
.wizard .saveSearchSuccess h3 {
    margin:0px;
    padding:0px;
}
.wizard .saveSearchSuccess .link {
    background: url(/static/img/skins/default/icon_link.png) left no-repeat;
    padding-left:22px;
}

/* Verification wizard */

.verificationWizard ul {
    list-style:none;
    margin: 0px;
}

.verificationWizard ul li {
    margin-bottom:10px;
}
.verificationWizard ul li:first-child {
    padding-top: 0;
    margin-top:10px;
}
.verificationWizard ul li:last-child {
	margin-bottom: 0px;
}

.verificationWizard .note {
   color: #888;
   font-size: $baseFontSizeSmall;
   font-style: normal;
}


.verificationWizard hr {
    color: #888;
    background-color: #888;
    border-color: #FFF;
}

.verificationWizard {
   font-size: $baseFontSize;
}

.checkboxNote {
   margin-left:18px;
}

/* wizard alert steps style */
.wizard .alertStep2 .numericCondition input {
    width:40px;
}

.wizard .alertStep2 .suppression input {
    width:auto;
}
.wizard .alertStep2 .suppression .indent .suppressValue {
    width:32px;
}
.wizard .alertStep2 .alertExpiration input {
    width:32px;
}

.wizard .alertStep3 .sendEmail em span {
    font-weight:bold;
}
.wizard .alertStep3 .rss input {
    width:auto;
}
.wizard .alertStep3 .runScript input {
    width:auto;
}
.wizard .alertStep3 .runScript .indent input {
    width: 115px;
}
.wizard .alertSuccess .rss {
    background: url(/static/img/skins/default/xml.gif) left no-repeat;
    padding-left:16px;
}

/* wizard dashboard steps style */
.wizard #newDashboard ul {
    zoom:1;
}


.wizard td.col2 ul.email {
	padding-bottom:0;
}

/*alert wizard step 2*/
.wizard .ui-suppress-unit {
    width:100px;
}

.wizard .radio,
.wizard .checkbox
{
    border:0;
    width:auto;
}
/*code examples*/
.wizard code,
.wizard pre
{
    border-radius: 3px;
   color: $textColor;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    padding: 0 3px 2px;
}

.wizard code {
    background-color: #F7F7F9;
    border: 1px solid #E1E1E8;
    color: #DD1144;
    padding: 0 4px;
}

.wizard code.cron {
    white-space: nowrap;
}

.wizard .scheduledView .pdf-title {
    margin-bottom: 0.5em;
    max-width: 100%;
    word-wrap: break-word;
    line-height:normal;
}
