/*  Splunk: Component: add panel to dashboard */
/*  ============================ */

.shared-panelcontrols-dialogs-savetodashboard-save {
  .shared-controls-syntheticselectcontrol {
    width: 100%;

    > .dropdown-toggle{
      display: block;

      > .link-label {
        display: inline-block;
        overflow: hidden;
        text-overflow:ellipsis;
        max-width: 88%;
        vertical-align: middle;
      }

    }
  }
}
