.splunk-panels-HDockPanel {
    position: relative;
    white-space: nowrap;
}

.splunk-panels-HDockPanel > * {
    display: block;
    white-space: normal;
    vertical-align: top;
    float: left;
}

.splunk-panels-HDockPanel > table {
    display: table;
}

.splunk-panels-HDockPanel > .placement-right {
    float: right;
}

.splunk-panels-HDockPanel:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
