.splunk-panels-HStackPanel {
    position: relative;
    white-space: nowrap;
}

.splunk-panels-HStackPanel > * {
    display: inline-block;
    white-space: normal;
    vertical-align: top;
}

.splunk-panels-HStackPanel > table {
    display: inline-table;
}
