@namespace svg "http://www.w3.org/2000/svg";

.splunk-editors-ColorScaleMinMidMaxEditor > .splunk-editors-EditorAlert {
    max-width: 313px;
    margin-bottom: 10px;
}

.splunk-editors-ColorScaleMinMidMaxEditor-row:not(:last-of-type) {
    margin-bottom: 10px;
}

.splunk-editors-ColorScaleMinMidMaxEditor-row > .splunk-editors-EnumEditor {
    margin-right: 10px;
}
.splunk-editors-ColorScaleMinMidMaxEditor-row > .splunk-editors-EnumEditor > .control > .dropdown-toggle {
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.splunk-editors-ColorScaleMinMidMaxEditor-row > .splunk-editors-SimpleTypeEditor {
    margin-right: 10px;
}
.splunk-editors-ColorScaleMinMidMaxEditor-row > .splunk-editors-SimpleTypeEditor > .control > input,
.splunk-editors-ColorScaleMinMidMaxEditor-row > .splunk-editors-SimpleTypeEditor > .control > span {
    width: 50px;
}

.presets-button {
    margin-bottom: 10px;

    svg|svg {
        margin: -6px 0px;
    }
}

.presets-popdown.popdown-dialog-body {
    padding: 0px;
    white-space: nowrap;

    .sequential-list, .divergent-list {
        display: inline-block;

        .title {
            text-align: center;
            padding: 10px 0px;
        }

        .item {
            display: block;
            padding: 10px;
            border-top: 1px dotted $borderColor;
            height: 22px;

            svg|svg {
                border: 1px solid #C6C6C6;
            }
        }

        .item:hover {
            background-color: #F3F3F3;
        }
    }

    .sequential-list {
        .title, .item {
            border-right: 1px solid $borderColor;
        }
    }

    .divergent-list {
        margin-left: -3px;
    }
}
