.splunk-editors-ColorScaleThresholdEditor > .splunk-editors-EditorAlert {
    max-width: 313px;
    margin-bottom: 10px;
}

.splunk-editors-ColorScaleThresholdEditor-row {
    margin-left: 30px;
    margin-bottom: 10px;
}

.splunk-editors-ColorScaleThresholdEditor-row > .splunk-editors-EditorLabel {
    text-align: left;
    margin-right: 5px;
}

.splunk-editors-ColorScaleThresholdEditor-row > .fromLabel {
    width: 35px;
}

.splunk-editors-ColorScaleThresholdEditor-row > .fromValue {
    width: 40px;
}

.splunk-editors-ColorScaleThresholdEditor-row > .toLabel {
    width: 20px;
}

.splunk-editors-ColorScaleThresholdEditor-row > .toValue {
    width: 60px;
    margin-right: 10px;
}

.splunk-editors-ColorScaleThresholdEditor-row > .toEditor > .control > span,
.splunk-editors-ColorScaleThresholdEditor-row > .toEditor > .control > input {
    width: 46px;
    margin-right: 10px;
}

.splunk-editors-ColorScaleThresholdEditor-row > .removeButton {
    margin-left: 10px;
}
