.splunk-editors-ColorEditor {
    padding: 3px 0;
}

.splunk-editors-ColorEditor > .control > .color-square {
    margin: 0;
    border-color: #BBB;
}

.splunk-editors-ColorEditor > .disabled-square {
    display: none;
    margin: 0;
    border-color: #EEE;
    background-color: #FFF;
    cursor: not-allowed;
}

.splunk-editors-ColorEditor.disabled > .control {
    display: none;
}
.splunk-editors-ColorEditor.disabled > .disabled-square {
    display: block;
}
