.splunk-editors-ColorScaleEditor > .splunk-editors-EnumEditor {
    margin-bottom: 10px;
}

.splunk-editors-ColorScaleEditor > .splunk-editors-BooleanEditor {
    margin-bottom: 10px;
}

.splunk-editors-ColorScaleEditor > .color-enum-editor .synthetic-select {
    &::after {
        float: right;
        height: 20px;
        margin-right: 20px;
        margin-top: -2px;
        overflow: hidden;
    }

    &[data-item-value='scale']::after {
        content: url('./assets/scale.svg');
    }

    &[data-item-value='ranges']::after {
        content: url('./assets/ranges.svg');
    }

    &[data-item-value='values']::after {
        content: url('./assets/values.svg');
    }
}
