.splunk-editors-ObjectEditor-row {
    margin-bottom: 10px;
}

.splunk-editors-ObjectEditor-row > .splunk-editors-ObjectEditor-key {
    margin-right: 10px;
}

.splunk-editors-ObjectEditor-row > .splunk-editors-EditorRemoveButton {
    margin-left: 10px;
}
