.splunk-editors-SimpleTypeEditor > .control > span,
.splunk-editors-SimpleTypeEditor > .control > input {
    margin: 0px;
    padding: 4px 6px;
    width: 150px;
}

.splunk-editors-SimpleTypeEditor.error > .control > input {
    border-color: red;
}
