/*  Splunk: Component: Job Controls */
/*  ============================= */

/* job controls
    main component for job contrls

    <div class="views-shared-jobcontrols btn-group pull-right" style="display: block;">
        <div class="job-menu btn-combo">
            <a href="#" class="btn btn-small dropdown-toggle">Job</a>
            <div class="dropdown-menu dropdown-menu-selectable">
                <div class="arrow"></div>
                <ul>
                    <li class="send-background">
                        <a href="#" class="disabled" style="color: rgb(204, 204, 204);">Send Job to Background</a>
                    </li>
                    <li class="inspect">
                        <a href="#">Inspect Job</a>
                    </li>
                    <li class="delete">
                        <a href="#">Delete Job</a>
                    </li>
                </ul>
                <ul>
                    <li class="share">
                        <a href="#">Share Job</a>
                    </li>
                    <li class="expire">
                        <a href="#">Expire</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="progress-bar" style="display: block;">
            <div class="progress-animation-wrapper" style="display: none; width: 0%;">
                <img class="progress-animation-image" src="/static/img/splunk/progress-bar-animation.gif">
            </div><span class="progress-label progress-label-complete" style="display: block;">Complete</span> <span class="progress-label progress-label-finalizing" style="display: none;">Finalizing...</span> <span class="progress-label progress-label-paused" style="display: none;">Paused</span> <span class="progress-label progress-label-realtime" style="display: none;">Real-time</span> <span class="progress-label progress-label-percentage" data-original-title="" style="display: none;">0.0%</span>
        </div>
    </div>
*/

.shared-jobcontrols {
    height: 20px;
    position: relative;


    .job-menu {
        white-space: nowrap;
        display: inline-block;

        .icon-info-circle, .icon-warning {
            font-size: 16px;
            line-height: 14px; /*  slightly smaller to prevent breakage */
            color: $yellow;
            display: inline-block;
            vertical-align: -2px; /*  middle */
        }
        .icon-info-circle {
            color: $splunkGreen;
        }
        @if $theme == lite {
           .icon-info-circle {
                color: $yellow;
            }
        }
    }

    .stop, .cancel, .reload, .playpause {
        font-size: 13px;
    }

}

ul.shared-jobcontrols-menu-messages {

    &.hidden {
        display:  none;

        + ul, + ul > li:first-child > a {
            border-top-left-radius: $containerInnerBorderRadius;
            border-top-right-radius: $containerInnerBorderRadius;
            border-top: none;
        }
    }
    > li {
        border-top: 1px dotted  $borderColor;
        padding: 5px 10px ; /*  BS 2.2.x breaks this ... */

        &:first-child {
            border: none;
        }

        &.job_message {
            a {
                display: inline;
                padding: 0px 0px 0px 2px;
                border: 0px;
            }
            a:hover {
                background: none;
                text-decoration: underline;
            }
        }
    }

    + .controls {
       margin-top: 0
    }
}

.shared-jobcontrols-menu {
    .message-indicator {
        padding-top: 5px;
        .alert {
            padding-left: 0;
            display: inline;
            border: none;
        }
    }
}

.shared-jobcontrols-menu-editmodal,
.shared-jobcontrols-menu-sendbackgroundmodal-success {
    .control-label {
        width: 140px;
    }
    .controls {
        margin-left: 160px;
    }
    .icon-bookmark {
        font-size: 16px;
    }
    .bookmark > ir {
        width: 0;
    }

    p {
        margin-bottom: 20px;
    }
}

.shared-jobcontrols-menu-sendbackgroundmodal-success {
    .control-label {
        text-align: left;
    }
    .control-label {
        width: 100px;
    }
    .controls {
        margin-left: 120px;
    }
}



/*  Print */
/*  -------------------------------------------------- */
@media print {
    .shared-jobcontrols,
    .tooltip {
        @mixin print-hide;
    }
}
