.list-picker {
    @mixin display-flex column;
}

.list-picker-small {
    font-size: $baseFontSizeSmall;
}

.list-picker-overlay {
    @mixin display-flex column;

    position: absolute;
    top: 0;
    left: calc(100% + 2px); /*  1px to compensate for margin-left and 1px for the parent's border. */
    bottom: 0;
    width: 100%;
    z-index: calc($zindexDropdown - 1);
    transition: left 0.6s;
    border-left: 1px solid $borderColor;
    margin-left: -1px;

    background-color: $white;

    .pagination:not(:empty) {
        border-top: 1px solid $borderColor;
    }
}

.list-picker-buttons {
    display: block;
    border-bottom: 1px solid #bbb;
    line-height: 30px;

    &.hidden, .hidden {
        display:none;
    }

    a {
        padding: 0 10px;
        text-decoration: none;
    }
}

.list-picker-ok {
    float:right;

    &.disabled {
        color: $textGray;
    }
}

.list-picker-select-message {
    padding-left: 10px;
}

.empty-items-message, .loading-message {
    padding: 10px 0px 10px 0px;
    text-align: center;
}

.list-picker-heading {
    padding: 0px 10px 5px 24px;
    margin: 8px 0px 5px 0px;
    line-height: 20px;
    flex: 0 0 auto;
    position: relative;
    border-bottom: 1px solid $borderColor;

    &.list-picker-heading-multi {
        padding-left: 24px;
    }

    .icon-check, .icon-x {
        position: absolute;
        left: 7px;
        color: $linkColor;
        height: 1em;
        line-height: 1em;
        width: 1em;
        text-align: center;
        top: 2px;
    }

    > .icon-check, > .icon-x {
        border: 1px solid $linkColor;
    }

    .list-picker-search {
        position: absolute;
        right: 10px;
        font-size: 16px;
        padding: 2px 5px;
    }
}


input.list-picker-filter {
    position: absolute;
    border-radius: 10px;
    top: -1px;
    right: 0;
    width: 0 !important;
    max-width: none !important;
    height: 12px;
    opacity: 0;
    margin: 0;

    transition: width 0.7s, right 0.7s, opacity 0.3s;

    &.show {
        right: 4px;
        opacity: 1;
        width: calc(100% - 22px) !important;
        z-index: 3;
    }
}

.list-picker-filter-hide {
    position: absolute;
    top: 2px;
    right: 30px;
    opacity: 0;

    transition: opacity 0.7s;

    &.show {
        opacity: 1;
        z-index: 3;
    }
}

.list-picker-scroll {
    overflow-y: auto;
    overflow-x: hidden;
    flex: 1 1 0px;
}

.list-picker-list {
    margin-bottom: 0;

    a {
        max-width: 100%;
        box-sizing: border-box;
        padding: 4px 10px 4px 24px;
        line-height: 13px;
        position: relative;
        word-wrap: break-word;
    }

    a:not(.selected) .icon-check {
        display: none;
    }

    a:not(.selected) .icon-x {
        display: none;
    }

    a.disabled {
        cursor: not-allowed;
        color: $textDisabledColor;
    }

    a.italicize {
        font-style: italic;
    }

    .icon-check, .icon-x {
        position: absolute;
        left: 10px;
    }

    .icon-x {
        color: $red;
    }

    a:not(.disabled) .icon-check {
        color: $green;
    }
}

.pagination {
    ul {
        @mixin display-flex row;
        width: 100%;

        .previous {
            flex-grow: 1;
        }

        .compact-page-count {
            flex-grow: 1;

            span {
                width: 100%;
            }
        }

        .next {
            flex-grow: 1;

            a {
                float: right;
            }
        }
    }
}

.add-missing-item {
    padding: 8px 10px 4px 24px;

    .enter-field-container {

        .add-item-remove {
            float: right;
            top: 0;
            padding: 6px 10px;
            line-height: 1;

            &
            :hover {
                background-color: $pillBackgroundColorHover;
            }
        }

        .shared-flashmessages {
            padding: 0px;
        }

        .enter-field {
            @mixin display-flex row;

            .add-item-button {
                height: 16px;
                margin-left: 10px;
                margin-top: 4px;
            }
        }
    }
}