.forwarders-main {
  padding: 30px;
  width:800px;
}

.forwarders-title {
  font-weight: 200;
  font-size: 24px;
  font-family: Roboto;
}

.forwarders-form {
  margin-top: 30px;
}

.layoutBodyColumns {
  top: 85px;
}

.first-p {
  margin-top:10px;
}

.has-forwarders,
.no-forwarders {
  display: none;
}

.no-forwarders {
  margin-top: 30px;
}
.no-forwarders .icon-alert {
  color: $red;
  font-size: 200%;
  margin-right: 10px;
  vertical-align: middle;
}

.cloud-actions {
  margin: 15px;
}

.cloud-actions .btn {
  margin-left: 10px;
}

.accumulator > div {
  width: 340px;
}

#group-fwders-placeholder select {
  width: 310px;
  margin-left: 10px;
  user-select: none;
}

.adddata-forwardersselect .faq {
	margin-left: 0;
	margin-right: 0;
}
