#gdi-overview-main-container {
  width: 100%;
}

#top {
  background: white;
  width: 100%;
  padding-bottom: 40px;
}

#bottom {
  background: $bodyBackgroundColor;
  width: 100%;
  padding-top: 40px;
}

.inner-container {
  position: relative;
  width: 900px;
  /*min-width: 900px;*/
  margin: 0 auto;
}

.type-container {
  display: inline-block;
  text-align: center;
  width: 350px;
  margin-left: -55px;
  vertical-align: top;
}

.type-btn {
  display: block;
  margin: 0 auto 10px auto;
  padding: 10px 0 5px 0;
  cursor: pointer;
  width: 220px;
  border-radius: 4px;


	svg {
		fill: none;
	}

	@if $theme == enterprise {
		.stroke {
			stroke: $splunkGreen;
			stroke-width: 2px ;
		}

		.fill {
			fill: $splunkGreen;
		}

		&:hover {
		  background-color: color($splunkGreen l(+50%));
		}
	}


	@if $theme == lite {
		.stroke {
			stroke: $splunkLiteOrange;
			stroke-width: 2px ;
		}

		.fill {
			fill: $splunkLiteOrange;
		}

		&:hover {
		  background-color: color($splunkLiteOrange l(+39%));
		}
	}
}


.type-text1 {
  color: $splunkGreen;
  font-size: 20px;
  line-height: 24px;
}

.type-text2 {
  color: $splunkGreen;
  font-size: 11px;
}

.type-text3 {
  font-size: 11px;
  line-height: 16px;
  color: $textGray;
}


@if $theme == lite {
	.type-text1, .type-text2 {
	  color: $splunkLiteOrange;
	}
}

#examples {
  display: inline-block;
  vertical-align: top;
}

#examples-title {
  font-size: 16px;
  margin-bottom:30px;
}

#sources-title {
  font-size: 16px;
}

.example-icon-styling {
  float: left;
  height:20px;
  width:20px;
}

@for $index from 1 to 9 {
  .example$(index) {
        float: left;
        height: 20px;
        width: 20px;
        background-image: url(./images/gdi-example-$index.svg);
    }
}


.example-row {
  width:550px;
  margin-bottom: 25px;
}
.example-group {
  width:180px;
  display: inline-block;
  vertical-align: top;
  font-size: 11px;
}

.example-group-header {
  margin-left:30px;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.example-group-item {
  margin-bottom:5px;
  margin-left:30px;
}

#sources-and-faq {
  display: inline-block;
  width:290px;
  margin-left: 50px;
  vertical-align: top;
}

.sources-and-faq-description {
  font-size: 12px;
  margin-top: 10px;
}

.sources-and-faq-help {
  margin-top: 5px;
}

.apps-row {
  margin-top: 10px;
}

.app {
  display: inline-block;
  margin-right: 20px;
  width: 67px;
  height: 67px;
  cursor: pointer;
}

#unix-app {
  background: url('images/app_unix.png') no-repeat center;
}

#windows-app {
  background: url('images/app_windows.png') no-repeat center;
}

#dbconnect-app {
  background: url('images/app_dbconnect.png') no-repeat center;
}

#rest-api-app {
  background: url('images//app_rest_api.png') no-repeat center;
  background-size:100%;
}

#jmx-app {
  background: url('images/app_jmx.png') no-repeat center;
}

#cisco-security-app {
  background: url('images/app_cisco_security.png') no-repeat center;
}

#juniper-firewall-app {
  background: url('images/app_juniper_firewall.png') no-repeat center;
  background-size:100%;
}

#faq-title {
  margin-top: 50px;
  font-size:16px;
}
