.shared-appbar {
  display: none;
}

.success-container {
  width:600px;
  margin: 100px auto;
  
  .icon-check {
    float:left;
    width:40px;
    font-size:34px;
    color: $splunkGreen;
    line-height:33px;
    margin-left: -50px;
  }
}

.success-header {
	h3 {
	  font-family: Roboto;
	  font-weight: 200;
	  font-size: 24px;
	  margin-bottom: 8px;
 	}
  
  	p {
  
  	}
}


.success-option {
  display: block;
  margin-top:25px;
}

.success-option p {
  display: inline-block;
}

.btn-success-page {
  width:120px;
  margin-right: 15px;
}

/*  token */
.token-label{
  display: inline;
  margin-right: 5px;
}
#token {
  width: 240px;
  margin-left: 5px;
  margin-bottom: 0;
  cursor: default;
}