.searchprefs {
   /* style taken from admin.css */

   .editFormWrapper {
        padding: 0px;
        position: relative;
        padding-top: 10px;
        min-width: 500px;
        max-width: 940px;
        background: #ffffff;
        border: 1px solid #cccccc;
        margin: 20px auto 20px auto;
        border-radius: 2px; 

        .formWrapper {
            padding-bottom: 5px;
            padding-left: 10px;
            padding-right: 10px;
            min-height: 200px;

            .splBorder.splBorder-nsew.splBackground-primary.btn {
                border-radius: 4px;
            }

            .exampleText {
                margin-top: 5px;
                padding-right: 4px;
            }
        }

        .jmFormActions {
            border-top: 1px solid #cccccc;
            height: 35px;
            padding: 10px 10px 0 10px;
           
           .cancel-button{
                float: left;
            } 

           .save-button {
                float: right;
            }
        }       
    }
}
