.savedsearchesadvancededit {

    $perctWidth: 40%;
    $space: 30px;
    $inputWidth : 382px;
    $verticalPadding: 15px;
    $horizontalPadding: 20px;
    $breadcrumbFontSize: 13px;

    .section-header {
        min-height: 102px;
        padding-bottom: 0px;

        .breadcrumb {
            margin-top: 5px;
            font-size: $breadcrumbFontSize;
        }
    }

    .control-wrapper {
        width: 100%;
        padding-top: $verticalPadding;

        .savedsearchesadvancededit-buttonheader {
            position: absolute;
            right: $horizontalPadding;
        }

        form {
            margin-bottom: 0px;
            display: inline-block;
        }

        .alert {
            margin-bottom: 0px;
        }

        .header-buttons {
            a {
                margin-right: 10px;
            }
        }

        .shared-controls-textcontrol {
            display: inline;
        }
    }

    .control-wrapper.fix-position {
        position: fixed;
        top: 0px;
        bottom: inherit;
        min-height: 41px;
        margin-left: -$horizontalPadding;
        padding: $verticalPadding 0px 0px $horizontalPadding;
        border-bottom: 1px solid $borderColor;
        z-index: 1;
        background-color: $bodyBackgroundColor;

        .savedsearchesadvancededit-buttonheader {
            right: calc(2 * $horizontalPadding);
        }
    }

    .edit-form-wrapper {
        min-height: 393px;
        background-color: $white;
        border-top: 1px solid $borderColor;
        padding-bottom: 50px;

        .alerts {
            padding: 20px;
        }

        .controls-placeholder.form-horizontal  {
            margin-top: 20px;

            .shared-controls-controlgroup {

                .control-label {
                    width : $perctWidth;
                    margin-right: $space;
                }

                .controls {
                    margin-left: $perctWidth;
                    width : calc($inputWidth + $space + 53px);

                    input {
                        width: $inputWidth;
                    }

                    span.input-label {
                        width: $inputWidth;
                    }

                    .shared-controls-textcontrol {

                        .control-clear {
                            right: 25px;
                        }
                    }
                }
            }
        }
    }
}
