# This file provides template inputs for use with DB Connect 1.1.7
# Note: If you are using DB Connect 2.X, 
# please use inputs.conf.template as the data inputs template instead.

# Copy the contents from this file to $SPLUNK_HOME/etc/apps/dbx/local/inputs.conf and edit from there.
# To configure your inputs with DB Connect 1.X:
#  -- change "disabled = 1" to "disabled = 0"
#  -- change "<Oracle>" to the connection name in database.conf
#  -- change "index = main" to your preferred index name 
# Note: if you are using 10g, please search for "10g" in this file, uncomment the
# oracle:osPerf section for 10g, and comment out the 11g/12c stanza.

[script://./bin/jbridge_server.py]
disabled = 1

[batch://$SPLUNK_HOME/var/spool/dbmon/*.dbmonevt]
crcSalt = <SOURCE>
disabled = 1
move_policy = sinkhole
sourcetype = dbmon:spool

[dbmon-dump://<Oracle>/oracle:database]
index = main
interval = 2h
output.format = kv
output.timestamp = 1
query = SELECT * FROM V$DATABASE
sourcetype = oracle:database
table = oracle:database
disabled = 1

[dbmon-dump://<Oracle>/oracle:instance]
index = main
interval = 2h
output.format = kv
output.timestamp = 1
query = SELECT * FROM V$INSTANCE
sourcetype = oracle:instance
table = oracle:instance
disabled = 1

[dbmon-dump://<Oracle>/oracle:session]
index = main
interval = 15m
output.format = kv
output.timestamp = 1
query = SELECT * FROM V$SESSION
sourcetype = oracle:session
table = oracle:session
disabled = 1

[dbmon-dump://<Oracle>/oracle:tablespace]
index = main
interval = 1h
output.format = kv
output.timestamp = 1
query = SELECT * FROM DBA_TABLESPACES
sourcetype = oracle:tablespace
table = oracle:tablespace
disabled = 1

[dbmon-dump://<Oracle>/oracle:tablespaceMetrics]
index = main
interval = 15m
output.format = kv
output.timestamp = 1
query = SELECT TABLESPACE_NAME, TOTAL_BYTES, TOTAL_BLOCKS, FREE_BYTES, USED_BYTES\r\nFROM (\r\nSELECT D.TABLESPACE_NAME, TOTAL_BYTES, TOTAL_BLOCKS,\r\nFREE_BYTES, TOTAL_BYTES - NVL(FREE_BYTES, 0) "USED_BYTES"\r\nFROM (SELECT TABLESPACE_NAME, \r\nSUM (BYTES) TOTAL_BYTES, \r\nSUM (BLOCKS) TOTAL_BLOCKS \r\nFROM DBA_DATA_FILES GROUP BY TABLESPACE_NAME) D, \r\n(SELECT TABLESPACE_NAME, \r\nSUM (BYTES) FREE_BYTES \r\nFROM DBA_FREE_SPACE GROUP BY TABLESPACE_NAME) F \r\nWHERE D.TABLESPACE_NAME = F.TABLESPACE_NAME(+) \r\nUNION ALL \r\n-- Temp table space\r\nSELECT D.TABLESPACE_NAME, TOTAL_BYTES, TOTAL_BLOCKS,\r\nNVL(FREE_BYTES, 0) "FREE_BYTES", USED_BYTES\r\nFROM (SELECT TABLESPACE_NAME, \r\nSUM(BYTES) TOTAL_BYTES, \r\nSUM(BLOCKS) TOTAL_BLOCKS\r\nFROM DBA_TEMP_FILES GROUP BY TABLESPACE_NAME) D, \r\n(SELECT TABLESPACE_NAME, \r\nSUM(BYTES_USED) USED_BYTES, \r\nSUM(BYTES_FREE) FREE_BYTES \r\nFROM V$TEMP_SPACE_HEADER GROUP BY TABLESPACE_NAME) F \r\nWHERE D.TABLESPACE_NAME = F.TABLESPACE_NAME(+)\r\n)
sourcetype = oracle:tablespaceMetrics
table = oracle:tablespaceMetrics
disabled = 1

[dbmon-dump://<Oracle>/oracle:sga]
index = main
interval = 5m
output.format = kv
output.timestamp = 1
query = SELECT NAME, TOTAL, FREE\r\nFROM (\r\nSELECT 'SGA' NAME,\r\n(SELECT SUM(VALUE) FROM V$SGA) TOTAL,\r\n(SELECT SUM(BYTES) FROM V$SGASTAT WHERE NAME = 'free memory') FREE\r\nFROM DUAL\r\n)\r\nUNION\r\nSELECT NAME, TOTAL, TOTAL - USED FREE\r\nFROM (\r\nSELECT 'PGA' NAME,\r\n(SELECT VALUE FROM V$PGASTAT WHERE NAME = 'aggregate PGA target parameter') TOTAL,\r\n(SELECT VALUE FROM V$PGASTAT WHERE NAME = 'total PGA allocated') USED\r\nFROM DUAL\r\n)\r\nUNION\r\nSELECT NAME, TOTAL, FREE\r\nFROM (\r\nSELECT 'Shared pool' NAME,\r\n(SELECT SUM(BYTES) FROM V$SGASTAT WHERE POOL = 'shared pool' GROUP BY POOL) TOTAL,\r\n(SELECT BYTES FROM V$SGASTAT WHERE NAME = 'free memory' and POOL = 'shared pool') FREE\r\nFROM DUAL\r\n)\r\nUNION\r\nSELECT NAME, TOTAL, FREE\r\nFROM (\r\nSELECT 'Large pool' NAME,\r\n(SELECT SUM(BYTES) FROM V$SGASTAT WHERE POOL = 'large pool' GROUP BY POOL) TOTAL,\r\n(SELECT BYTES FROM V$SGASTAT WHERE POOL = 'large pool' AND NAME = 'free memory') FREE\r\nFROM DUAL\r\n)
sourcetype = oracle:sga
disabled = 1

[dbmon-dump://<Oracle>/oracle:libraryCachePerf]
index = main
interval = 1m
output.format = csv
output.timestamp = 0
query = SELECT NAMESPACE, GETS, GETHITS, GETHITRATIO, PINS, PINHITS, PINHITRATIO, RELOADS, INVALIDATIONS, DLM_LOCK_REQUESTS, DLM_PIN_REQUESTS, DLM_PIN_RELEASES, DLM_INVALIDATION_REQUESTS, DLM_INVALIDATIONS FROM V$LIBRARYCACHE
sourcetype = oracle:libraryCachePerf
disabled = 1

[dbmon-dump://<Oracle>/oracle:dbFileIoPerf]
index = main
interval = 2m
output.format = csv
output.timestamp = 0
query = SELECT 'DB_FILE' TYPE, D.NAME FILE_NAME, F.PHYRDS, F.PHYWRTS, F.AVGIOTIM,\r\nF.MINIOTIM, F.MAXIOWTM, F.MAXIORTM\r\nFROM V$FILESTAT F, V$DATAFILE D WHERE F.FILE# = D.FILE#\r\nUNION\r\nSELECT 'TEMP_DB_FILE' TYPE, T.NAME FILE_NAME,\r\nF.PHYRDS, F.PHYWRTS, F.AVGIOTIM, F.MINIOTIM, F.MAXIOWTM, F.MAXIORTM\r\nFROM V$FILESTAT F, V$TEMPFILE T\r\nWHERE F.FILE# = T.FILE#\r\nORDER BY 1
sourcetype = oracle:dbFileIoPerf
disabled = 1

# For 11g/12c, use this stanza
[dbmon-dump://<Oracle>/oracle:osPerf]
index = main
interval = 5m
output.format = csv
output.timestamp = 0
query = SELECT STAT_NAME, VALUE, CUMULATIVE FROM V$OSSTAT
sourcetype = oracle:osPerf
disabled = 1

# For 10g, please uncomment this stanza and comment out the above same stanza
#[dbmon-dump://<Oracle>/oracle:osPerf]
#index = main
#interval = 5m
#output.format = csv
#output.timestamp = 0
#query = SELECT STAT_NAME, VALUE, 'YES' as CUMULATIVE FROM V$OSSTAT
#sourcetype = oracle:osPerf
#disabled = 1

[dbmon-tail://<Oracle>/oracle:sysPerf]
index = main
interval = 1m
output.format = csv
output.timestamp = 0
output.timestamp.column = END_TIME
output.timestamp.format = yyyy.MM.dd HH:mm:ss
query = SELECT BEGIN_TIME, END_TIME, INTSIZE_CSEC,METRIC_NAME, VALUE, METRIC_UNIT FROM V$SYSMETRIC_HISTORY {{WHERE $rising_column$ > ?}}
sourcetype = oracle:sysPerf
tail.rising.column = END_TIME
disabled = 1
