.dashboard-xml-editor-wrapper {
  margin: 0 -20px -15px -20px;
}

.dashboard-rendering .dashboard {
  visibility: hidden;
}

.dashboard-loading {
  position: absolute;
  width: 100%;
}

.ace_marker-layer .splunk_error_marker {
  position: absolute;
  background: $errorBackground;
  z-index: 4; /*z-index of selection marker is 5*/
}

.ace_marker-layer .splunk_warning_marker {
  position: absolute;
  background: $warningBackground;
  z-index: 4; /*z-index of selection marker is 5*/
}

.xml-editor-message {
  margin: 0;
  .dashboard-message {
    border-top: 1px solid $borderColor;
    border-bottom: 1px solid $borderColor;
    padding: 6px 20px 6px 47px;
    .icon {
      font-size: 20px;
      top: 6px;
    }
  }
}

#dashboard-editor {
  .ace_gutter-cell.ace_error {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABGdBTUEAALGPC/xhBQAAAZpJREFUOBGVUz0vQ2EUPuf2cquCCpOPQQwkDYO2f4CBxUjQxsZi6GwUE3/C4iMhsQkRzJIiMYiSiD9gQSJR7T2e0/tRvb138A5vz3m+znvfe0sUvfgpnz19zmXPIOEomRFFPOczC3DNwDqtdZQuNPlhLtVqWokSyCE1CtFr5ftrNHX0UA4GhZ7AbGlb88xq0FqxoNnlGuGbuXRXh2W8sIgpxIcYz8w0L0w/n9/2cObo9v2vo+kEnZaxjok9EO2M7BVXR/aLK0L2rmLK/TVr3RBwnxsfAFZQAhMT+usso90tCq7GIxoD4mRtgonXWKF+X0WkwbrirsbpsPsneMylx5hl2WPw3H1ejVsc9GrVqNbr/QCDeAv37fcQeFORJV4NmA1H60TgbohKixOTRix26UD1XUSO8QpagMzWUaeyq9Wp0YO7K52IyNh2UKA9Ai6wn4RxrocZn+kiMvaDIhGqfJbt3krru3Rz8o2pdpKATJZMvK+NsL8KHtzstPiWKAlTmBkwvPja5JyFPwLRblu7Iq0R1LzgvW5G/4n8AuIHZ4o4A6cIAAAAAElFTkSuQmCC');
    background-size: 13px;
    background-position: 5px 1px;

  }
  .ace_gutter-cell.ace_warning {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABGdBTUEAALGPC/xhBQAAAOZJREFUOBGlU0sKwjAQfala6AX8oG517UoR9EjuFZdeR9y6cWcFPYjgBSxYbXypBCXtiK0DYT6Z92byGRXvsYCHJYCAq4hESLBS8QFXooqCbaHI+wNsSAJDIMlW3zHUD4ygsZOSRAKdYO1PcfInOGqFTWECBdQtSGs0re1quQOFtk0mWcfarhYJCHoTqBIE+oOAR+i6la1ftYar2cGAn2wOBZ+r5+5bXyQgqMLb7/MJqegJYn4iu82VS238uv04xJkUrbwsuQOgcQsxS0EC2Ox96yCvYCZmnjHKRH8PcJg4kiVJ0nF+AiYeNcdJrP7XAAAAAElFTkSuQmCC');
    background-size: 13px;
    background-position: 5px 1px;
  }
  .ace_tooltip {
    background: $grayDark;
    color: $offWhite;
    padding: 8px 10px;
    border: 0;
    border-radius: 5px;
    font-family: $baseFontFamily;
    font-size: $baseFontSize;
    line-height: 140%;
  }
}