.instrumentation-opt-in-modal-body {
    .control,
    .learn-more-link {
        display: inline-block;
        vertical-align: middle;
    }

    .control label.checkbox {
        font-weight: bold;
        padding-left: 28px;
        margin-left: -4px;
        cursor: pointer;

        > .btn {
            left: 4px;
        }
    }

    .learn-more-link {
        margin: 2px 0 0 10px;
    }

    .checkbox-description {
        margin: 2px 0 15px 25px;

        .license-checkbox-wrapper > & {
            margin-bottom: 0;
        }
    }
}