/*  Splunk: Component: Pivot Elements */
/*  ================================= */

/* pivot elements

	markup missing ...

*/
/*  helper for repeated markup */
/*  TODO: does this need to be a mixin? or just a common class */
@define-mixin element-mixin {
	float: left;
	width: 160px;
	margin: 0 5px 5px 0;

	.element-label {
		width: 106px;
		text-align: left;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

	.btn {
		padding-left: 15px;
	}

	.inspect-button {
		padding: 0;
		width: 24px;
		line-height: 24px;
		height: 24px;
		font-size: 14px;
	}
}

/*  main elements wrapper */
.pivot-pivotelementsdisplay {
	position: relative;

	.config-table {
		border-radius: 0;
		table-layout: fixed;
		margin-bottom: 0;

		td, th {
			border-top: none;
			&:first-child {
				padding-left: 20px;
				border-left: 0
			}
		}

		tr:last-child td {
			padding-bottom: 5px;
		}

		tr + tr td h6 { /*  The second row of headers needs no margin */
			margin-top:  0;
		}
	}

	.element-list {
		/*  give this element a min-height so it provides a better target for dragging/dropping */
		min-height: 50px;
		min-width: 200px;

		&.ui-sortable-drop-acceptor {

			.list-header {
				color: $splunkGreen;
			}
		}
	}

	.element {
		@mixin element-mixin;
	}

	.list-header {
		margin: 5px 0;
		font-size: $baseFontSize;
		font-weight: normal;
	}

	.timerange-picker-wrapper {
		display: inline-block;

		a:hover {
			text-decoration: none;
		}
	}

	/*  TODO: this should be a standard style */
	.add-button {
		position: relative;
		font-size: 15px;
		float:left;
		padding: 0;
		width: 24px;
		height: 24px;
		line-height: 24px;
	}

	.table-help-link {
		position: absolute;
		top: 5px;
		right: 20px;
	}

}

/*  draggable elements are appended to the body, styles have to be global */
.draggable-element {
	@mixin element-mixin;

	.element-label {
		cursor: move;
	}

	&.ui-sortable-drop-to-remove > .btn {
		@mixin interactive-error;

		&:hover {
			@mixin interactive-error-hover;
		}
	}
}
