#tabs{
    border-bottom: 0px;
}

#tabs > .dashboard-cell > .dashboard-panel{
    margin-bottom: 0px;
    border-bottom: 0px;
}

#element1 > .html{
    padding-left: 0px; /* This fixes some weirdness where the first tab doesn't look right due to the left part of the tab showing */
    padding-right: 0px;
    padding-top: 0px;
}

#tab_1 > .dashboard-cell > .dashboard-panel{
    border-top: 0px;
}

/**
 * This fixes the issue where the tab focus looks weird.
 */
 .nav-tabs > li > a:focus {
    box-shadow: none !important;
}

.nav-tabs > li:focus-within:after {
    box-shadow: inset -2px 2px 3px rgba(82, 168, 236, .5);
}

.nav-tabs > li:focus-within:before {
    box-shadow: inset 3px 2px 3px rgba(82, 168, 236, .5);
}

.dashboard-panel[class*="dashboardPanel---pages-dark"] ul.nav-tabs {
	background-color: #3c444d;
}

.dashboard-panel[class*="dashboardPanel---pages-dark"] ul.nav-tabs li a {
	color: #c3cbd4;
}

.dashboard-panel[class*="dashboardPanel---pages-dark"] ul.nav-tabs li.active a {
	color: #ffffff;
}

.row-hide {
    display: none;
}