.dashboard-message {
  background: #fff;
  margin: 0;
  border-bottom: 1px solid $borderDarkColor;
  position: relative;
  padding: 10px 20px 10px 47px;
  border-radius: 0;

  .dismiss {
    float: right;
    border: none;
    background: none;
    margin-top: -5px;
  }

  .icon {
    font-size: 200%;
    position: absolute;
    left: 24px;
    top: 10px;
  }
}
