.btn-zoom-out, .btn-reset-selection, .btn-pan-left, .btn-pan-right{
	z-index: 9999;

	border-radius: 1px;
	color: $white;
	background: rgba(0, 0, 0, 0.32);
	
	/*  states */
	&:hover,
	&:active
	{
		border-radius: 1px;
		color: $white;
		background: rgba(0, 0, 0, 0.27);
		text-decoration: none;
	}
	&:focus { 
		@mixin focus-button; 
		color: $focusColor;
	}
}

.btn-pan-left, .btn-pan-right {
	padding: 4px 5px;
	line-height: 10px;
}

.btn-reset-selection {
    margin-top: 5px;
    margin-right: 10px;
}
