{
    "meta": {
        "name": "{{addon_name}}",
        "restRoot": "{{addon_name}}",
        "displayName": "{{addon_display_name}}",
        "version": "{{addon_version}}",
        {%- if supported_themes %}
        "supportedThemes": {{supported_themes}},
        {%- endif %}
        {%- if check_for_update -%}
        "checkForUpdates": {{check_for_update}}
        {%- else %}
        "checkForUpdates": true
        {%- endif %}
    }
}