.managementconsole-accordion {
  .accordion-heading {
    :hover {
      cursor: pointer;
    }

    .accordion-toggle {
      background: none !important;
      border: none;
    }
  }

  .accordion-inner {
    padding: 10px 0 20px;
  }
}