.managementconsole-shared-pendingchangesdialog {
    .changes-info {
        padding-left: 10px;
    }

    .help-text {
        clear: both;
        padding-left: 10px;
    }

    .pending-table-placeholder {
        padding-top: 10px;
        border-top: 1px solid $borderColor;

        .shared-collectioncount {
            padding-left: 10px;
        }

        .table-chrome {
            border-right: 1px solid $borderColor;
            border-left: 1px solid $borderColor;

            td {
                word-wrap: break-word;
            }

            .table-fixed {
                background-color: inherit;

                td {
                    padding-left: 10px;
                    padding-right: 10px;
                }
            }
        }
    }
}