.context-filter {
  margin-top: 15px;
  .nodes {
      .dropdown-menu {
          width: 25em;
      }
  }
}
.inputs-review {
    .list-dotted dt {
        min-width: 160px;
    }

    .list-dotted dd {
        margin-left: 165px;
    }
}
.tabbed-view {
  background-color: $white;
  display: flex;
  flex-flow: row nowrap;
  align-item: stretch;
  min-height: 800px;

  .tabs-view {
    min-width: $sideNavWidth;
    border-right: solid 1px $borderColor;
  }

  .tab-details-view{
    flex-grow: 1;

    .empty {
      text-align: center;
      color: $ textGray;
      font-size: 1rem;
      margin-top: 80px;
      font-weight: 200;

      i {
        margin-right: 10px;
      }
    }

  }
  .tabs {
  .list-group-item {
    position: relative;
    display: block;
    padding: 0.625rem 1.875em 0.625rem 2.5rem;
    border-bottom: dotted 1px $borderColor;
    text-decoration: none;
    font-size: 0.875rem;
    overflow-y: auto;
    background-color: $white;

    &.disabled {
      color: $textGray;
      cursor: default;
      &.active,
      &:focus,
      &:hover {
        text-decoration: none;
        background-color: $white;
        color: $textGray;
        outline: none;
        box-shadow: none;
      }

    }
    &:hover {
      background-color: $tableBackgroundHover;
      transition: background, 0.02s;
    }
    &:focus {
      background-color: $tableBackgroundFocus;
      outline: none;
    }

    &.active {
      background-color: $tableBackgroundFocus;
      color: $linkColorHover;
      cursor: default;
      outline: none;
    }

  }

  .list-group-label {
    color: $grayLight;
    text-overflow: ellipsis;
    max-width: 50px;
    white-space: nowrap;
    overflow: hidden;
    font-size: $baseFontSize;
  }

}
}
.tab-details-view {

  .listing {
    margin-top: 25px;
  }

  .empty {
    text-align: center;
    color: $textGray;
    font-size: 1rem;
    margin-top: 80px;
    font-weight: 200;

    i {
      margin-right: 10px;
    }
  }

  .header {
    padding: 20px 20px 10px;

    h2 {
      margin: 0px;
      font-size: 1.5rem;
      font-weight: 200;
    }
  }

  .loading {
    width: 100%;
    margin: 20px;
    text-align: center;

  }
}
