body {
    background-color: #fff;
}

.tab-content {
    overflow: visible !important;
}

/*Panel footer*/
.panel-footer {
    padding-left: 20px;
}

/*Navigation tab shadow*/
.nav-tabs > li > a:focus {
    box-shadow: none;
}
a:focus {
    box-shadow: none;
}
