/*Horizon line*/
.main-section-body hr {
    margin: 0px;
    border-bottom: none;
    border-top: 1px solid #ccc;
}

/*Input type filter*/
.type-filter {
    float: left;
    margin-top: 10px;
}

.list-dotted dd {
    min-height: 20px;
}

.table-caption-inner > .shared-controls-syntheticselectcontrol {
    float: right;
    margin-top: 10px;
}
