/*  Splunk: Component: Events Viewer */
/*  ================================ */
/*  new events viewer ... */

/*  wrapper for sidebar and content */
.search-results-wrapper {
	clear: both;
	min-height: 400px;
	@mixin clearfix;

}

/*  common */
.event .raw-event, .event .json-event {
	font-family: $monoFontFamily;
	font-size: 12px;
	color:$textColor;
	/*  override BS styles */
	border: none;
	background-color: transparent;
	margin: auto;
	padding: 0;

	em {
		font-style: normal ;
	}

	.a,
	.h,
	.selected-segment,
	.fields .v:hover,
	.fields .tg:hover,
	.time:hover {
		background-color: $yellowLight;
		border-top: 4px solid $yellowLight;
		border-bottom: 4px solid $yellowLight;
		color: $linkColorHover;
	}
	.key-name {
		color: $red;
		font-weight: bold;
	}
	.string {
		color:$teal; /* was 007777; */
	}
	.number {
		color:$purple; /* was AA00AA; */
	}
	.boolean {
		color:$orange; /* was 0000FF; */
	}
	.null {
		color:$orange; /* was 0000FF; */
	}
}

.event .json-event {
	/*  SPL-110054: add style to span to make rendering faster */
	span {
		position: relative;
	}

	.key-name,
	.string,
	.number,
	.boolean,
	.null {
		white-space: pre;
	}

	&.wrap {
		.key-name,
		.string,
		.number,
		.boolean,
		.null {
			white-space: pre-wrap;
		}
	}
}

ul.events-viewer-tooltip {
    margin: 0 0 0 15px;
    text-align: left;
    word-wrap: break-word;
}

/*  main events viewer */
.shared-eventsviewer {

	th.col-0,
	th.line-num,
	th.col-time,
	th.col-warnings {
		width:1px;
	}
	th.col-0:last-child,
	th.col-time:last-child  {
		width:auto;
	}
	th.col-0.merge-right,
	th.line-num.merge-right,
	th.col-time.merge-right  {
		border-right: 0;
	}
	th.col-warnings {
		border-left: 0;
	}
	td._time > span > span {
	   white-space:nowrap;
	}
	td.col-warnings {
		i {
			font-size: 18px;
			color: $orange;
		}
		span {	/*  for 508 */
			position: absolute;
			left: -99999px;
		}
	}
	.shared-eventsviewer-table-body-primaryrow > td.no-wrap {
		white-space: pre;
	}
	td.expands.et_blue    {
		background-color: $blueDark !important;
		border-right:1px solid $blueDark !important;
		&:hover {
			background-color: color($blueDark l(+7%)) !important;
		}
	}
	td.expands.et_green   {
		background-color: $green !important;
		border-right:1px solid $green !important;
		&:hover {
			background-color: color($green l(+7%)) !important;
		}
	}
	td.expands.et_magenta {
		background-color: $pink !important;  /* nothing closer in the viz colors */
		border-right:1px solid $pink !important;
		&:hover {
			background-color: color($pink l(+7%)) !important;
		}
	}
	td.expands.et_orange  {
		background-color: $orange !important;
		border-right:1px solid $orange !important;
		&:hover {
			background-color: color($orange l(+7%)) !important;
		}
	}
	td.expands.et_purple  {
		background-color: $purple !important;
		border-right:1px solid $purple !important;
		&:hover {
			background-color: color($purple l(+7%)) !important;
		}
	}
	td.expands.et_red     {
		background-color: $red !important;
		border-right:1px solid $red !important;
		&:hover {
			background-color: color($red l(+7%)) !important;
		}
	}
	td.expands.et_sky     {
		background-color: $blue !important;
		border-right:1px solid $blue !important;
		&:hover {
			background-color: color($blue l(+30%)) !important;
		}
	}
	td.expands.et_teal    {
		background-color: $teal !important; /* not in the viz colors */
		border-right:1px solid $teal !important;
		&:hover {
			background-color: color($teal l(+7%)) !important;
		}
	}
	td.expands.et_yellow  {
		background-color: $yellow !important;
		border-right:1px solid $yellow !important;
		&:hover {
			background-color: color($yellow l(+7%)) !important;
		}
	}

	.event-fields-loading {
		padding: 20px 0;
		color: $textGray;
	}

	ul.condensed-selected-fields {
		margin:  5px 0 0 0;
		max-width: 100%;

		li {
			color: $textGray;
			margin-right: 10px;
			float: left;
			list-style: none;
			display: inline;
			max-width: 100%;

			> :last-child {
				padding-right: 10px;
				border-right: 1px dashed $borderColor;
			}

			&:last-child {
				margin-right: 0;

				> :last-child {
					padding-right: 0;
					border-right: none;
				}

			}

			.field-value {
				display: inline-block;
			}

            .field-value.a .f-v {
                background-color: $yellowLight;
            }

			.f-v {
				display: inline-block;
				max-width: 500px;
				word-wrap:normal;
				white-space: nowrap;
				overflow: hidden;
				text-overflow:ellipsis;
				vertical-align: top;

			}

			.f-v, .more-fields {
				color: $textColor;
				cursor: pointer;
				&:hover {
					color: $linkColorHover;
				}
			}

			.tags {
				display: inline-block;
				>.tag {
					display: inline-block;
					color: inherit;
					&:hover {
						color: $linkColorHover;
					}
					&.a {
						background-color: $yellowLight;
						margin-right: 2px;
					}
				}
			}
		}
	}

	.formated-time:hover {
		color: $linkColorHover;
		text-decoration: underline;
		cursor: pointer;
	}

	.table-embed {
		margin-top: 10px;
		margin-bottom: 0;
		background-color: transparent;
		width: auto;
		clear: left;
		min-width: 0;

		th:first-child {
			padding-left: 0;
		}

		td > a._time-expand {
			display: inline;
			margin-left: 2px;
		}
		 td > a._time-expand:hover {
			 text-decoration: none;
		 }

		td {
			border-bottom: none ;
			line-height: 20px;
		}


		tbody:first-child tr:first-child td {
			border-top:none ;
		}
		td > a {
			text-decoration: none;
			display: block;
			min-width: 16px;
			padding: 0 3px;
			&:hover{
				background: $tableBackgroundAccentHover;
				color: $linkColorHover !important; /* ghetto */
			}
			&:focus {
				@mixin focus-pill;
			}
		}
		a._time-expand:hover, a.more-fields:hover {
			text-decoration: underline;
			background: none;
		}

		.field-actions {
			font-size: 14px;
			height: 20px;
			overflow: hidden;
			text-align: center;
			padding-right: 0
		}

		.btn-group {
			font-size: inherit; /*  huh? */
		}

		.field-type {
			padding-left: 0;
		}
		.field-key {
			padding: 0 8px 0 0;
		}
		td.field-value {
			word-break: break-all;
			padding-left: 0;
		}
		.field-value{
			a {
				display: inline-block;
			}
			a.tag {
				margin: 0px 1px;
			}
			&.a a.f-v, a.tag.a {
				background-color: $yellowLight;
			}
		}
	}
	tr.row-more-fields + tr > td {
		border-top: none;
		border-bottom: none;
	}
	.col-more-fields  {
		padding-left: 10px;
		vertical-align: middle;
	}

	.col-visibility {
		text-align: left;
		font-size: 20px;
		padding: 0 !important; /*  note: table embed adds padding to first col? */
		width: auto;

		.checkbox {
			margin: 0;
			> a, > a:hover {
				padding: 0;
				color: $textColor !important; /* ghetto */
			}
		}

	}

	th.col-visibility {
		padding-bottom: 4px !important;
	}

	th.col-field-name,
	th.col-field-value {
		padding-left: 4px;
	}


	a:hover .icon-hidden {
		color: inherit;
	}

	.table-expanded a {
		color: $linkColor !important; /* ghetto */
	}

	.table-expanded a:hover {
		color: $linkColorHover !important; /* ghetto */
	}
	.table {
		margin-bottom: 0;
	}

	.hide-line-num th.line-num, .hide-line-num td.line-num {
		display: none;
	}
	.normal.raw-event {
		background-color:inherit;
		border:none;
		white-space: pre;
	}
	.normal.raw-event.wrap {
		white-space: pre-wrap;
		word-break: break-all;
	}

	.event-actions {
		margin-top: 10px;
	}

	.showinline, .hideinline {
	  white-space:nowrap;
	  word-wrap: normal;
	  display: block;
	}
}

.shared-eventsviewer-list-body-row,
.shared-eventsviewer-table-body-primaryrow,
.shared-eventsviewer-table-body-secondaryrow {
	outline: 0;
}

.shared-eventsviewer-list,
.shared-eventsviewer-table,
.shared-eventsviewer-raw {
	background: $white;
}

/*  docking ... */
.events-results-table{
	min-width: 100%;
	width: auto;


    > tbody > tr {
        > td > a,
        > td > span.field-val {
            text-decoration: none;
            display: block;
        }
        > td._time > a {
            display: inline;
        }
        > td.one-value-drilldown:hover,
        > td._time-drilldown:hover,
        > td.multi-value-drilldown > a.field-val:hover {
            background-color: $tableBackgroundHover;
            cursor: pointer;
        }
        > td.one-value-drilldown:hover > a.field-val ,
        > td._time-drilldown:hover > a {
            color: $linkColorHover;
        }
    }

}

.docked-header-table > table {
	border-top: 0;
}


/* reorderable */


.reorderable {
    border-left:1px solid $tableBorderVertical;
}

.reorderable-label {
   position: relative;
   display: block;
   padding: 4px 8px 4px 18px;
}

.sorts .reorderable-label:after {
	font-family: "Splunk Icons";
	content: "\2195 ";
	padding-left: 5px;
	color: $tableSortIconColor;
}
.sorts.asc .reorderable-label:after,
.sorts.Asc .reorderable-label:after
{
	content: "\21A5 ";
	color: $textColor;
}
.sorts.desc .reorderable-label:after,
.sorts.Desc .reorderable-label:after {
	content: "\21A7 ";
	color: $textColor;
}

.reorderable-helper {
	background-color: $red;
	@mixin interactive;
	@mixin interactive-hover;
	border-radius: 0;
	z-index: 10;
	line-height: $baseLineHeight;
}

.reorderable-helper.reorderable-remove {
	@mixin gradient-vertical color($red l(+50%)), color($red l(+40%));
	border-color: color($red l(+20%) s(-40%));
}

th.reorderable {
	cursor:move;
	padding:0;

	&.sorts:after {
		display: none;
	}
}
.on.reorderable-label:before {
    content:"";
    position: absolute;
    display: block;
    height:20px;
    width:7px;
    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAG0lEQVQIW2M0Njb+f/bsWUYYzciABuAyOFUAAKKMEAXhn6ySAAAAAElFTkSuQmCC) repeat;
    top:3px;
    left:3px;
    opacity:0.5;
    margin-bottom: -10px;
}

th.reorderable.moving {
	color: transparent;
	text-shadow: none;
	background: $grayLightMedium;
}

th.reorderable.moving .reorderable-label:before  {
	background:none;
}

th.reorderable.moving .reorderable-label:after  {
	color:transparent;
}


.table-insertion-cursor {
	border-left: 1px dashed $red;
	position: absolute;
	top: 0;
	left:-100px;
	bottom: 0;
	margin-left: -1px;
	display: none;
}



/*  Print */
/*  -------------------------------------------------- */
@media print {
	td.expands,
	td.actions,
	th.col-info {
		@mixin print-hide;
	}
	.reorderable-label {
		padding-left: 8px !important;
		&:before {
			@mixin print-no-background;
		}
	}

	.shared-eventsviewer {
		pre.raw-event {
			@mixin print-wrap-all;
		}

		ul.condensed-selected-fields {
			li {
				.field-value.a .f-v,
				.tags > .tag.a {
					border: 2px solid $borderColor;
				}
			}
		}

		.table-embed {
			.field-value.a .f-v,
			.field-value .tag.a {
				border: 2px solid $borderColor;
			}
		}

		.table-expanded a {
			color: $black !important;
		}
		
		/* SPL-126903: prevent line numbers >10 from displaying vertically */
		.events-results-table td.line-num {
	    	word-break: normal !important;
		}
	}

	.shared-eventsviewer, .events-viewer-wrapper {
		@mixin print-width-100-percent;
	}
}
