/* Also required by js/splunkjs/mvc/simpleform/fieldsetview.js */

.fieldset {
    margin-bottom: 15px;
    &:empty {
        margin-bottom: 0;
    }
    @mixin clearfix;
    .form-submit {
        padding-top: 21px;
    }
    .splunk-radiogroup {
        label {
            margin-left: 0;
        }
    }
    .input, .element, .form-submit {
        display: inline-block;
        vertical-align: top;
        margin-right: 10px;
    }
    .input {
        width: 220px;
        .select2-container-multi .select2-search-choice {
            max-width: 189px;
            min-height: 13px;
        }
    }
    &.hide-label {
        >.input>label {
            display: none;
        }
        .form-submit {
            padding-top: 0px;
        }
    }
}
.view-mode {
    .fieldset:empty {
        display: none;
    }
}
.edit-mode .fieldset.empty:not(.editable) {
    display: none;
}
.edit-mode .fieldset {
    padding-top: 0;
    .input {
        padding-right: 14px;
        padding-top: 10px;
        padding-bottom: 0px;
        border-right: 1px dotted $borderColor;
        min-height: 83px;
        &.ui-sortable-helper {
            padding-left: 14px;
            border-right: 1px solid transparent;
            background: $white;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
            border-radius: 4px;
        }
        &.ui-sortable-placeholder {
            padding: 10px 14px 5px 0px;
            .placeholder-inner {
                border-radius: 4px;
                border: 1px dashed color($borderColor l(-10%));
                height: 60px;
            }
        }
        &:last-child {
            border-right: 1px solid transparent;
        }
        .drag-handle {
            @mixin draggable-handle-background;
            height: 8px;
            margin: 0 0 5px 0;
            z-index: 3;
            width: 186px;
        }
    }
    .edit-dropdown {
        float: right;
        @mixin clearfix;
        margin-top: -4px;
        z-index: 2;
        a {
            display: inline-block;
            font-size: 17px;
            padding-left: 6px;
            color: $splunkGray;
            &:hover {
                color: $linkColorHover;
            }
        }
    }
    .form-submit {
        padding-top: 44px;
    }
    label.global-trp {
        color: $splunkGray;
    }
}
.fieldset {
    min-height: 50px;
    &.hide-label {
        min-height: 27px;
    }
}
.dashboard-panel .fieldset {
    padding: 10px 12px 10px 12px;
    margin-bottom: 0;
    min-height: 20px;
}
