.archives-view {
  .main-section {
    .table-toolbar {

      > * {
        min-height: 28px;
        padding: 0 8px 4px;

        > * {
          display: inline-block;

        }
      }

      .filter-container {
        border-top: 1px solid $grayLightMedium;
        padding-top: 10px;

        .collection-count {
          margin-left: 13px;

          + .text-name-filter {
            margin-left: 10px;
          }

          h3 {
            font-size: $baseFontSize;
            font-weight: normal;
            /* float: left; */
            /* padding-left: 20px; */
            /* line-height: 36px; */
            margin: 0;
            min-width: 140px;
            text-align: left;
          }

          .shared-waitspinner {
            float: left;
            width: 14px;
            height: 14px;
            margin-right: 10px;
          }

          .disabled {
            color: $textDisabledColor;
          }
        }

        .select-page-count {
          float: right;
        }
      }

      .paginator-container {
        min-height: initial;
      }
    }
    .archives-grid {
      clear: both;

      td.index-name, td.home-path, td.frozen-path {
        min-width: 100px;
        max-width: 200px;
        word-break: break-word;
      }
      td.actions, td.index-status {
        white-space: nowrap;
      }
      td.actions {
        a {
          padding-right: 8px;
        }

        .disabled-action {
          color: $textDisabledColor;
          padding-right: 8px;
        }
      }
      tr.list-item {
        td {
          transition: background, 0.2s;
        }
        &:hover td {
          background-color: $tableBackgroundHover;
          transition: background, 0.02s;
        }
        i {
          width: 14px;
          font-size: 1.2em;
          display: inline-block;


          &.enable-icon {
            color: $green;
          }
          &.disable-icon {
            color: $red;
          }
        }
      }
      .message-single {
        margin-left: 10px;
      }
    }
  }

  &.archives-disabled-view {
    position: relative;
    min-height: 500px;
    >.section-header {
      z-index: 10;
      background-color: $bodyBackgroundColor;
    }
    .main-section {
      .table {
        margin-bottom: 0;
      }
      .table-disabled-screen {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: $grayLightMedium;
        opacity: 0.50;
      }
      .archives-grid {
        .section-header {
          text-align: center;
          width: 100%;

          &.disabled-message {
            margin-top: 80px;
          }
          .learn-more-link {
            margin: 5px 0 0;
          }
        }
      }
    }
  }

  .expanded-info {
    padding-top: 1em;
  }

  .col-info {
    width: 1em;
  }

  .col-selected {
    width: 1em;
  }

  .checkbox {
    padding: 0px;
  }

  .bandwidth-header {
    white-space: nowrap;
  }
}
.delete-archive-dialog, .delete-archive-error-dialog {
  .big-warning {
    font-size: 4em;
    color: $warningText;
    padding-right: 20px;
    vertical-align: super;
  }
  .big-error {
    font-size: 4em;
    color: $errorText;
    padding-right: 20px;
    vertical-align: super;
  }
  .delete-text {
    width: 80%;
    display: inline-block;
  }
  .index-name {
    font-style: italic;
    padding-left: 1em;
  }
}

.archives-modal {
  .path-placeholder {
    .controls {
      > div, .shared-controls-textcontrol {
        display: inline-block;

        vertical-align: top;

        &.shared-controls-textcontrol {
          z-index: 1;
        }

      }
      .enable-button {
        width: 141px;
        margin-left: -1px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }

  .create-new-message {
    margin: -5px -20px 20px;
    padding: 0 20px 15px;
    border-bottom: 1px solid $grayLightMedium;
  }

  &.modal-wide {
    .path-placeholder {
      .controls {
        > div {
          &.shared-controls-textcontrol {
            input {
              width: 460px;
              border-top-right-radius: 0;
              border-bottom-right-radius: 0;
            }
          }

        }
        .enable-button {
            width: 121px;
            margin-left: -1px;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
      }
    }
    /*  The modal will show fields for name and paths that are uneditable. */
    /*  This fix makes them the same length as the editable textboxes, otherwise they were a bit shorter in length. */
    span.uneditable-input {
      box-sizing: border-box;
      min-height: 26px;
      width: 460px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    .control {
      textarea {
        min-width: 566px;
      }
    }
    .control-label {
      span.required {
        margin-right: -8px;
      }
    }
    .role-json-placeholder {
      button {
        margin-bottom: 10px;
      }
      textarea {
        min-height: 140px;
      }
      textarea[readonly] {
        background-color: $white;
        cursor: text;
      }
    }

  }
}
