/*  Splunk: Component: data-summary */
/*  =============================== */

/*  search data summary modal */
.search-initialhelp-datasummary {

    .modal-header {
        border-bottom: 0;
    }
    .modal-body {
        padding: 0;
        max-height: 450px;
    }

	.main-tabs {
		margin-bottom: 0;
	}

	.search-query-control {
		margin-top: 20px;
	}

	.search-query {
		width: 240px;
		/*  disable IE input helper */
		&::-ms-clear {
			display: none;
		}
	}

	.pagination {
		margin-right: 20px;
		margin-top: 20px;
	}

	.header-table-static {
		clear: right;
	}

	.scroll-table-wrapper {
		height: auto;
		max-height: 350px;
	}

	.shared-findinput {
		float: left;
		margin: 10px 20px;
	}

    
    .table {
        margin-bottom: 0;
    }

    td.host, td.source, td.sourceType {
        word-break: break-all;
    }
}

.search-initialhelp-datasummary-table {
	clear: both;
}
.quick-reports .popdown {
    min-width: 28px;
}
