/*  Splunk: Component: field picker */
/*  =============================== */


.shared-fieldpicker
{
    margin-left: 0;
    width:auto;
    top: 40px;
    right: 40px;
    bottom: 40px;
    left: 40px;


    .modal-body {
        padding: 0;
        max-height:none;
    }
    .modal-footer {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }
    .modal-body {
        position: absolute;
        top: 47px;
        bottom: 21px;
        left: 0;
        right: 0;
        height: auto;
    }
    
    .scroll-table-wrapper {
        position: absolute;
        top: 47px;
        bottom: 0;
        left: 0;
        right: 0;
        height: auto;
    }
    
    
    .header-table-static {
        position: absolute;
        top: 47px;
        left: 0;
        right: 0;
    }
    
    .select,
    .deselect
    {
        margin-right: 20px;
        cursor: pointer; /*  TODO: why is this not set? */
    }
    .grid {
        margin: 0 -20px;
        clear: both;
        margin-bottom: 10px;
    }
    .coverage,
    .selection-toggle,
    .search
     {
        float: left;
    }
    .extract {
        float: right;
    }
    .coverage {
        margin-left: 10px;
    }
    /*  override btn style */
    .btn-group.open .dropdown-toggle,
    .btn-combo.open .dropdown-toggle
    {
        background-image: none;
        box-shadow: none;
    }
    .search {
        position: relative;
        margin-left: 20px;
        margin-bottom: 0;
        input {
            border-radius: 10px;
            margin-bottom: 0;
            height: 20px;
            line-height: 20px;
            padding: 0 10px;
        }
        .clear {
            position: absolute;
            right: 7px;
            top: 3px;
            font-size: 18px;
            color: $textGray;
        }
    }
    .fields-table-wrapper {
        height: 380px;
        overflow: hidden;
        overflow-y: scroll;
    }
    .table-row-expanding {
        border-top: 1px solid $tableBorder;
        margin-bottom: -1px;
        border-bottom: 1px solid $tableBorder;
    }
    
    table {
        width: 100%;
        
        td.col-fields {
            word-break: break-all;
        }
        td.col-coverage, 
        td.col-select,
        td.col-type,
        {
            border-left: 1px solid $tableBorderVertical;
        }
        
        tr.hide-contents > td {
            color: transparent !important;
            
            > a,
            > label,
            > .heatmap-cell,
            .fields-histogram-column  {
                display: none;
            }
            a, h5 {
                color: transparent !important;
            }
            > .table-embed td {
                border-color: transparent !important;
                color: transparent !important;
                
                .graph-bar {
                    display: none;
                }
            }
        }
        
        &.table-field-moving {
            box-shadow: 0 0 5px rgba(0,0,0,0.4);
            opacity: 0.80;
            
            td.expands {
                width: 36px;
            }
        }
        
        .selected td {
            border-top: none;
        }
        .checkbox {
            padding: 0;
            margin: 0;
        }
        
        label:hover > .icon-hidden, label:hover > .icon-visible {
            color: $linkColorHover;
        }
        /*  cols */
        .col-select {width:22px; padding-top:3px; padding-left:8px;}
        .col-values {width: 100px;}
        .col-coverage {width: 120px;}
        .col-type {width: 120px;}
        .col-report {width: 100px;}
        .col-top {width: 100px;}
        .numeric {text-align:right;}
        .heatmap-cell {
            height: 24px;
            width: 14px;
            float: right;
            background-color: $containerBackgroundColor;
            margin: -4px -8px -4px 5px;
        }
        .heatmap-cell-value {
            height: 24px;
            width: 14px;
            background-color: $splunkGreen;
        }
        /*  TODO: this might be redudent now ... need to remove after review */
        /*  sorting */
        .sorts th:after {
            font-family: "Splunk Icons";
            content: "\2195 ";
            padding-left: 5px;
            color: $textDisabledColor;
        }
        .sorts th.asc:after {
            content: "\21A5 ";
            color: $black;
        }
        .sorts th.desc:after {
            content: "\21A7 ";
            color: $black;
        }
        .sorts th.active {
            @mixin gradient-vertical $interactiveGradientEndColor,$interactiveGradientStartColor;
            box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
        }
        .sorts th.active:hover {
            @mixin interactive-hover;
        }
        .sorts th.col-info:after,
        .sorts th.col-report:after
        {
            content: "";
        }
        /*  gradient borders - FF doesn't like this */
        .Xend-group {
            border-right-color: $tableBorderVertical;
            position: relative; /*  need a wrapper for this to work, can't be on a td */
        }
        .Xend-group:after {
            position: absolute;
            content: "";
            display: block;
            height: 100%;
            width: 1px;
            right: -1px;
            bottom: 0;
            @mixin gradient-vertical $grayLightMedium, $interactiveGradientStartColor;
        }

        /*  embeded tables */
        .table-embed {
            background-color: transparent !important;
            margin-bottom: 10px;
            
            .col-label {}
            .col-value {
                word-break: break-all;
            }
            .col-count {}
            .col-distribution {}
            .col-graph {width:90px;}
            .graph-bar {
                margin: 0;
                height: $baseLineHeight;
                background-color: $grayLight;
                @mixin gradient-vertical $grayLightMedium,$grayLight;
            }
            
            td {
                background-color: transparent !important;
                padding: 2px 8px 2px 0;
            }

        }

        /* report accelerators */
        .report-heading {
            font-size: inherit;
        }

        .report-accelerators {
            float: left;
            padding-right: 40px;
            margin-bottom: 10px;
        }
    }
}


.shared-fieldpicker-controls {
    margin-top: 0;
    padding: 10px 10px 0 10px;
    @mixin clearfix;

    .extract-fields-button {
        margin-right: 15px;
        font-size: 12px;
    }
}

/*  Lite */
@if $theme == lite {
    .shared-fieldpicker table .heatmap-cell-value {
        background-color: $splunkLiteOrange;
    }
}
