.shared-controls-syntheticslidercontrol {

  $sliderColor: $interactiveBorderColor;

  .slider-container {
    color: $sliderColor;
  }

  .slider {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    cursor: default;
  }

  .slider-bar {
    position: absolute;
    left: 0;
    background: $sliderColor;
  }

  .slider-handle {
    position: absolute;
    @mixin interactive;

    &:not(.slider-handle-moving):hover {
      @mixin interactive-hover;
    }
  }

  .slider-handle-tooltip:before {
    content: attr(data-label);
    position: absolute;
    left: 50%;
    bottom: 20px;
    width: 60px;
    margin-left: -34px;
    padding: 4px;
    border-radius: 4px;
    text-align: center;
    background: $gray;
    color: $white;
  }

  .slider-handle-tooltip:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 15px;
    margin-left: -5px;
    border-left: 5px solid transparent;
    border-top: 5px solid $gray;
    border-right: 5px solid transparent;
  }

  .slider-handle-moving {
    background: $grayLightMedium;
  }

  .slider-notch {
    position: absolute;
    width: 1px;
    background: $sliderColor;
  }

  .slider-min-label {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    text-align: right;
    color: $textColor;
  }

  .slider-max-label {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    text-align: left;
    color: $textColor;
  }

}

.text-highlight-disabled {
  cursor: default;
  user-select: none;
}
