.modal-with-static-warning {
    .form-horizontal {
        .control-label {
            width: 100px;
        }
        .controls {
            margin-left: 120px;
        }
    }
    .security-warning {
        padding-left: 15px;
    }
}
.bulk-progress {
    margin-top: 3em;
}