.clustering-config-datarebalance {

    .control-group {
        margin-bottom: 20px;
    }

    .control-label {
        display: inline-block;
        width: 100px;
        margin-right: 10px;
    }

    .controls-block {
        display: inline-block;
        height: 15px;
        width: 150px;
    }
}
