/*  Splunk: Componnent: Data Model Editor: Dialog */
/*  ============================================= */
/*  dialog screens for data model Editor */

/*
	markup missing ...
*/
/*  this container holds a lot of the forms */
.view-add-edit-container {

	/*  TODO: this should be common */
	.divider {
		border-top: 1px solid $borderColor;
	}

	.section-padded .divider {
		margin: 10px -20px 10px -20px;
	}

	form label {
		font-weight: bold;
	}

	.buttons-container {
		margin-bottom: 10px;
	}

	.sample-size-controls {
		margin-left: 20px;
	}

	.steps-wrapper {
		@mixin clearfix;
	}

	/*  TODO: maybe use some vars here */
	.object-wrapper {
		float:left;
		width: 300px;
		margin-right: 60px;
		input {
			width: 100%;
		}
	}

	.constraints-wrapper {
		float:left;
		width: 400px;
	}

	.object-name {
		width: 300px;
	}

	.object-constraints {
		width: 400px;
		height: 40px;
	}

	.buttons-container .btn + .btn {
		margin-left: 10px;
	}

	.add-edit-form {
		@mixin clearfix;
	}

	.eval-expression {
		float:left;
		margin-right: 60px;
		textarea {
			width: 400px;
			height: 80px;
		}
	}
	.rex-form-view {
		textarea {
			width: 300px;
			height: 80px;
			box-sizing:border-box;
		}

		td {
			vertical-align: top;
		}

		.field-name {
			line-height:26px;
		}
	}



  .field-view-form {
	.control-group {
	  float: left;
	  margin-right: 10px;
	  label {
		font-weight: normal;
	  }
	}
  }

	.eval-output-view {
		.control-group {
			float: left;
			margin-right: 10px;
			label {
				font-weight: normal;
			}
		}
	}

	.add-edit-lookup-view {
		@mixin clearfix;

		.col-1 {
			float:left;
			margin-right: 60px;
		}
		.col-2 {
			float: left;
		}
		/*  FIXME: this is lame and too many wrappers ;_; */
		.lookup-controls .control-group,
		.lookup-attribute-controls .control-group,
		.select-field-type,
		.select-field-flags,
		 {
			display: inline-block;
		}
		/*  super ghetto */
		input {
			margin:0;
            width: 187px;
		}
	}

}

.geoip-form-wrapper {
	@mixin clearfix;
	.col-1 {
		float: left;
		margin-right: 60px;
	}
	.col-2 {
		float: left;
	}

	.control-label {
		font-weight: bold;
	}

	.table-output-fields {
		td {
			border: none;
			padding: 0;
			padding-right: 2em;
		}
		.checkbox {
			margin: 0;
			padding: 0;
		}
	}
}

/*  From: (?<from>.) To: (?<to>.) */
.rex-form-view {
	@mixin clearfix;
	.col-1, .col-2, .col-3 {
		float: left;
		margin-right: 60px;
	}
	code {
		border: 0;
		background-color: transparent;
	}
	.output-fields-table td {
		padding: 0 8px 4px;
	}
	.output-fields-table th:first-child,
	.output-fields-table td:first-child {
		padding-left: 0;
	}
}

.preview-table-wrapper {
	clear:both;
}

.page-count-placeholder {
	margin-left: 20px;
}

.results-paginator-placeholder {
	margin-right: 20px;
}

/*  Transaction view */
.view-add-edit-transaction{

	.object-name-placeholder input {
		width: 300px;
	}
	.group-wrapper {
		min-width: 200px;
		margin-right: 30px;
	}
	.durations-wrapper {
		width: 320px;
		margin-right: 30px;
		input {
			width: 3em;
		}
	}
	.simple-time-picker-control .control {
		display: inline-block;
	}
	.simple-time-picker-control {
		display: block;
		margin: 3px 0 16px 0;

		.shared-controls-textcontrol {
		 vertical-align: middle;
		}
	}
	.duration-option{
		margin-right: 20px;
	}
	.custom-item-list {
		.add-button {
		}
		.removable-item {
			margin: 0 5px 5px 0;
		}
	}
}
