/*  Splunk: Data Model Editor View */
/*  ================================ */
/*  rules for the editor interface */


/*  main */
.data-model-editor {

    /*  LAYOUT */
    /*  ---------------- */

    .section-wrapper {
        clear:both;
        position: relative;
        @mixin clearfix;
    }

    .section-header .alert {
        margin: 20px 0 0 0 ;

    }

    /*  sidebar gradient */
    .section-wrapper:before {
        content: "";
        display: block;
        position: absolute;
        left: 290px;
        width: 10px;
        top: 5px;
        bottom: 0;
        @mixin gradient-horizontal color($black a(0)), color($black a(0.15));
        background-color: transparent; /*  override rgba fallback */
    }

    /*  top gradient */
    .divider-gradient {
        clear:both;
        @mixin gradient-vertical color($black a(0)), color($black a(0.05));
        background-color: transparent; /*  override fallback for rgba */
        height: 5px;
        border-bottom: 1px solid $interactiveBorderColor;
        margin-top: -5px;
    }

    /*  SIDEBAR */
    /*  ------------ */

    .sidebar {
        float: left;
        margin-right: 0;
        padding: 0 0 20px 20px;
        width: 280px;
    }


    .title {
        margin: 0;
        padding: 10px 0 0 0;
        color: $textColor;
        font-weight: normal;
        font-size: $baseFontSizeLarge;
        line-height: 1;
    }

    /*  MAIN */
    /*  ----------- */

    .object-editor-wrapper  {
        position: relative;
        clear: none;
        overflow: hidden;
        margin-left: 300px;
        min-height: 420px;
        border-left: 1px solid $interactiveBorderColor;
        background-color: $white;
    }

    .object-editor-placeholder {
        position: absolute;
        left: 300px;
        right: 0;
        bottom: 0;
        top: 6px;
        border-left: 1px solid $interactiveBorderColor;
        background-color: $white;
    }


    .ui-sortable-helper {
        background-color: $grayLight;
        cursor: move;
        @mixin gradient-vertical $grayLighter, $grayLight;
        width: 100%;
    }

    .ui-sortabale-placeholder {
        background-color: $grayLighter;
        border: 1px dashed $borderColor;
        box-sizing: border-box;
    }

    .header-button-holder {
        margin-top: 2em;
    }

    .object-list {
        padding-top: 10px;
        position: relative;
        z-index: 1;
    }

    .object-list-header {
        line-height: 35px;
    }

    .show-attribute-button,
    .hide-attribute-button,
    .require-attribute-button,
    .optional-attribute-button,
    .edit-attribute-button,
    .edit-calculation-button {
        display:inline-block;
        min-width: 30px;
        padding-right: 20px;

        &:focus {
        	@mixin focus-pill;
        }
    }

    .add-button-holder {
        position: absolute;
        right: 15px;
        top: 15px;

    }
    /*  main lists */
    .list-section h3 {
        margin: 0;
    }

    .field-group {
      border-top: 1px dotted $borderColor;
    }

    .field-group-first {
      border-top: 0px
    }

    .list-group {
        clear:both;
        padding: 0 0 0 0;
        position: relative;
        color: $textColor;
        line-height: 25px;
        text-align: left;
		@mixin clearfix;
        min-height: 24px; /*  magic */

      span.field-calculation-type {
        position: absolute;
        left: 70%;
        width: 110px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }

    .list-inner-group {
        position: relative;
        margin-right: 30%;
        padding: 0 10px 0 10px;
        @mixin clearfix;

        span.field-checkbox {
          float:left;
        }

        span.field-prop {
          left: 42px;
        }

        span.field-value {
          position: absolute;
          left: 150px;
        }

        span.field-type {
          position: absolute;
          right: 30%;
          width: 15%;
        }

        span.field-hidden {
          position: absolute;
          right: 15%;
          width: 15%;
        }

        span.field-required {
          position: absolute;
          right: 0;
          width: 15%;
        }
    }

  .field-action {
    position: absolute;
    left: 70%;
    margin-left: 110px;

    &:focus {
    	@mixin focus-pill;
    }
  }

    .list-actions {
      margin: 30px 0px 30px 0px;
    }

    .bulk-edit-button-holder {
      float: left;
    }

    .add-attribute-button-holder {
        float:right;
    }
    .list-body {
        border-bottom: 1px solid $borderColor;
    }
    .list-title {
        float: left;
        width: 20%;
        display: block;

    }
    .list-table {
        width: 60%;
        min-width: 0; /*  need to override default min-width ;_; */
        float: right;
        margin-bottom: 0;
        table-layout: fixed;

        td {
            border-top: none;
            border-bottom: 1px dashed $borderColor;
            padding: 4px;
        }

        td.type {
            width: 80px;

            .type-icon {
                color: $textColor;
                opacity: 0.90;
                font-size: 14px;
            }
        }

        td.hidden, td.required {
            font-size: $baseFontSizeLarge;
            width: 20px;
            color:  $textColor;
            opacity: 0.90;

            > i.icon-hidden, > i.icon-circle {
                color: $textGray;
            }

            > i.icon-hidden, > i.icon-visible {
                font-size: calc($baseFontSizeLarge * 1.2);
            }
        }

        td.action {
            width: 80px;
        }

        tr:last-child td {
            border-bottom: none;
        }

    }

    /*  NOTE: sometimes this table has 2 cols or sometimes 3 */
    .constraint-table td {
        width: 33%;
        word-wrap: break-word;
    }

    .attribute-table td {
        width: 33%;
        word-wrap: break-word;
    }

    .footer {
        line-height: 4em;
        clear:both;
    }

    /*  sidebar tree */
    /*  -------------- */

    /*  nested content */
    .content-group > .content-group {
        padding-left: 20px;
    }

    /*  generated border for nested content? */
    .content-group > .content-group:before {
        border-color: $white;
        top: -4px;
        left: 16px;
    }

    /*  generated content .. vert line */
    /*  .sidebar .content-group > .content-group:after, */
    .sidebar .content-group > .content-group:before
    {
        content: "";
        display: block;
        border-left: 1px solid $interactiveBorderColor;
        top: -4px;
        left: 15px;
        bottom: 16px;
        width: 3px;
        position: absolute;
    }

    /*  group title */
    .object-group-header {
        margin: 20px 0 5px 10px;
        color: $textGray;
        text-transform: uppercase;
        font-weight: normal;
        font-size: 12px;
    }

    /*  default object */
    .object {
        display: block;
        padding-left: 5px;
        border: 1px solid transparent;
        border-right: none;
        line-height: 30px;
        position: relative;
        overflow: hidden;
        text-overflow: ellipsis;

        border-radius: 3px 0 0 3px;

        /*  node hover state */
        &:hover {
            border-color: $interactiveBorderColor;
            background-color: $interactiveBackgroundColorHover;
            text-decoration: none;
        }
        /*  focus non-selected */
        &:focus {
            @mixin focus-pill;
        }
        /*  selected state */
        &.selected {
            border-color: $gray;
            background-color: $white;
            color: $black;
            font-weight: bold;
            margin-right: -1px;
            border: 1px solid $interactiveBorderColor;
            border-right: 1px solid $white;
            color: $textColor;
            font-weight: bold;
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;

            &:before {
                width: 7px;
            }

            &:focus {
                background-color: multiply($pillBackgroundColorFocus, $white); /* removes the transparency */
            }
        }

    }

    /*  drag & drop */
    .calculation {
        cursor: move;
    }

    /*  CONTROLS */
    .shared-controls-syntheticcheckboxcontrol {
      .btn {
        margin-right: 5px;
      }
    }

}

/*  sidebar tree */
/*  ---------- */

/*  TODO: simplify these rules */

/*  position link when in nested group */
.sidebar .content-group > .content-group > a {
    margin-left: 10px;
}

/*  position link */
.sidebar .object {
    line-height: 29px;
    display: block;
    padding-left: 7px;
    margin-left: 2px !important;
    border: 1px solid transparent;
    border-right: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    position: relative;
    overflow: visible;
}

/*  generate horizontal lines */
/*  .sidebar .content-group > .content-group > a::after, */
.sidebar .content-group > .content-group > a::before {
    content: "";
    display: block;
    border: none;
    border-bottom: 1px solid $interactiveBorderColor;
    left: -7px;
    bottom: auto;
    right: auto;
    top: 13px;
    width: 12px;
    position: absolute;
    margin: 0;
    z-index: -1;
}

.sidebar .content-group {
    z-index: 1;
    position: relative;
}

.sidebar .content-group > .content-group {
    z-index: -1;
}


.datamodeleditor-formcomponents-fieldtable {

    margin: 0 -20px;

    .select-all-checkbox .checkbox {
        margin: 0;
        padding: 0;
    }
    .table th {
        box-shadow: none;
    }
    td {
        height: 22px;
    }
    /*  override table default padding */
    th.col-field, th.col-rename, th.col-type {
        border-left: none;
        border-right: none;
    }
    td.expands {
        width: 10px;
        cursor: pointer;
        padding-top: 10px;
        &:hover {
            background-color: $tableBackgroundHover;
        }
    }
    td.col-info {
        padding-top: 6px;
    }

    th.col-checkbox {
        width: 20px;
        border-right: none;
    }

    td.col-checkbox {
        width: 20px;
        padding-top: 8px;
    }

    td.col-description {
        padding-top: 9px;
    }

    .col-rename {
        width: 220px; /*  250? */
    }
    .col-type {
        width: 300px; /*  300? */
        .dropdown {
        }
    }
    .checkbox {
        margin: 0;
        /*  padding: 0; */
    }
    .control.shared-controls-textcontrol > input {
        width: 150px;
        margin: 0;
    }

    .expanded-info {
        margin-right: 1em;
        word-wrap: break-word;
    }
    .dropdown {
        display: inline-block;
        margin-right: 5px;
    }
    .dropdown:last-child {
        margin-right: 0;
    }

    .removeField {
        margin-left: 10px;
    }

    .dropdown-toggle {
        min-width: 110px;
    }

    .link-label {
        display: inline-block;
        max-width: 95px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        vertical-align: bottom;
    }

    .uneditable-property {
        line-height: 27px;
        margin-right: 15px;
    }
}


#modal_addExtractedFields {
    .control-label {
        display: inline;
    }
    .controls {
        display: inline-block;
    }
    .modal-body {
        min-height: 200px;
    }
}

/*  object editor component */
.datamodeleditor-objecteditor {
    .list-header h5 {
        clear: both;
        border-bottom: 1px solid $borderColor;
        padding: 0 0 0 10px;
        position: relative;
        text-transform: uppercase;
        font-size: 12px;
        color: $textGray;
        line-height: 31px;
        font-weight: normal;
    }
}



/*  auto extract dialog */
.datamodeleditor-formviews-addextractedfieldsdialog {
    .select-sample-size-placeholder {
        display: inline-block;
        margin-right: 10px;
    }
    .job-status-placeholder {
        display: inline-block;
        .shared-jobstatus-spinner ,
        .shared-jobstatus-count{
            display: inline-block;
        }
        .shared-jobstatus-spinner {
            margin-right: 1em;
        }
    }
    .add-fields-placeholder {
        display: inline-block;
        padding-top: 4px;
    }
}
