/*  Splunk: Component: Data Model: Object Editor */
/*  ============================================ */


/* object editor

	FIXME: markup missing

*/
.data-model-object-editor {
	background-color: $white;
	padding: 15px 25px 15px 15px;

	.list-header {
		line-height: 25px;

		.btn-group {
			float: right;
			margin-bottom: 10px; /*  TODO: magic number */
		}
	}

	.main-list-row {
		$border: 1px solid $grayLighter;

		border-bottom: $border;
		padding: 1px 0;

		&:first-child {
			border-top: $border;
		}

		.sub-list-row {
			border-bottom: $border;
			padding: 1px 0;

			&:last-child {
				border-bottom: none;
			}
		}
	}

	.anchor-button-group {
		a {
			margin-right: 10px;
		}
	}

	.type-icon {
		color: $textGray;
		width: 16px;
		text-align: center;
		display: inline-block;
	}

    .field-checkbox.uneditable .input-label {
        margin-left: 23px;
    }

	.calculation {
		padding-left: 20px;
		position: relative;
		.list-title:before {
			content: "";
			position: absolute;
			width: 7px;
			background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAG0lEQVQIW2M0Njb+f/bsWUYYzciABuAyOFUAAKKMEAXhn6ySAAAAAElFTkSuQmCC) repeat;
			top: 3px;
			bottom: 3px;
			left: 4px;
			opacity: 0.5;
		}
	}
	.calculation:hover {
		cursor: move;
		@mixin gradient-vertical $interactiveGradientStartColor, $interactiveGradientEndColor;

	}

	.footer {
		text-align: center;
		color: $textGrayDark;
	}
}
