.twitter-typeahead {
	width: 100%;

	.tt-hint {
		background-color: $white;
	}
}

.tt-menu {
	max-height: 200px;
	overflow-y: auto;
	background-color: $white;
	border: 1px solid $borderColor;
	border-radius: 2px;
	color: $blue;
	cursor: pointer;

	.tt-selectable {
		&:hover {
			background-color: $grayLighter;
		}
		padding: 5px;
		border-bottom: 1px dotted $borderColor;
	}
}