{% for alert, params in alerts.items() %}
[{{ alert }}]
    {% for param in params %}
{{ param }}
    {% endfor %}
python.version = python3
{% if supportedPythonVersion %}
python.required = {{supportedPythonVersion}}
{% endif %}
is_custom = 1
payload_format = json
{% endfor %}
