{% for name in command_names -%}
[{{name}}]
filename = {{name}}.py
chunked = true
python.version = {{pythonVersion}}
{% if supportedPythonVersion %}
python.required = {{supportedPythonVersion}}
{% endif %}
{% endfor -%}
