{% for input_name in input_names %}
{{ "[" ~ input_name ~ "]"}}
python.version = python3
{% if disabled and service_name == input_name%}
disabled = true
{% endif %}
{% for item, value in default_values[input_name].items() %}
{{item}} = {{value}}
{% endfor %}
{% endfor %}
