.app-tiles,
.add-on-tiles {
    padding-left: 20px;
}
.section-header {
    border-bottom: 0;
}
.app-actions .btn {
    margin-right: 10px;
}
.enable-wrapper {
    label, input {
        display: inline-block;
        vertical-align: middle;
        margin: 0;
    }
}
.certified-lite {
    position: absolute;
    bottom: 5px;
    right: 20px;
}
.object-ct {
    position:absolute;
    right:10px
}
.empty-ct {
    padding: 5px 10px;
}

.dropdown-menu li > a.total-item {
    border-top-style: solid;
}

.dropdown-menu .arrow + ul, .dropdown-menu .arrow + ul > li:first-child > a.total-item {
    border-top:0 none;
}

.default-app-table {
    margin-left: 20px;
    .default-app-list {
        padding: 0 10px;
        .dropdown-toggle {
            min-width: 213px;
        }
    }
}