.main-section-body {
    position: relative;
}
.error-page-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    padding-top: 85px;
    background-color: $white;
}
.error-header {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 19px;
}
.error-title {
    font-size: 48px;
    margin: 0px;
    font-weight: bold;
}
.error-description {
    font-weight: bold;
    margin-top: 28px;
}
.error-body {
    border-top: 1px solid $borderLightColor;
    padding-top: 30px;
    margin: 0 auto;
    width: 80%;
    h3 {
        margin-bottom: 28px;
    }
}
