.new-item-button {
  min-width: 80px;
}

.main-section {
  background: $bodyBackgroundColor;
  padding-top: 8px;

  .table-toolbar {
    padding: 0px 8px;

    > * {
      min-height: 28px;
      padding: 0 0 4px;

      > * {
        display: inline-block;
      }
    }
    .filter-container {
      border-top: 1px solid $grayLightMedium;
      padding-top: 10px;

      .collection-count {
        margin-left: 13px;
        min-width: 170px;

        .shared-waitspinner {
          float: left;
          width: 14px;
          height: 14px;
          margin: 2px 3px 2px 2px;
        }
      }

      .select-page-count {
        float: right;
      }
    }

    .table-controls {
      .paginator-container {
        min-height: initial;
      }

    }
  }
  .entities-grid {
    clear: both;
    .col-entity-select {
      width: 50px;
    }
    .col-actions {
      white-space: nowrap;
      width: 150px;

      .delete {
        margin-left: 16px;
      }
    }
    th, td {
      > .control > label.checkbox {
        padding: 0px;
        margin: 0px;
      }
    }
    tr.list-item {
      td {
        transition: background, 0.2s;
      }
      &:hover td {
        background-color: $tableBackgroundHover;
        transition: background, 0.02s;
      }
      .cell-name {
        word-break: break-all;
      }
      td[disabled], th[disabled]{
        color: $textDisabledColor;
      }
    }
    td.actions {
      white-space: nowrap;
    }
    td.cell-actions, td.actions {
      a {
        margin-right: 1em;
      }
      .disabled-action {
        color: $textDisabledColor;
        margin-right: 1em;
      }
    }
    .message-single {
      margin-left: 10px;
    }
    .model-description {
      color: #999;
      font-size: .85em;
    }
    i:not(.icon-info):not(.icon-triangle-down-small):not(.icon-triangle-right-small):not(.icon-external) {
      width: 14px;
      color: $green;
      font-size: 1.2em;
      display: inline-block;

      &.disable-icon {
        color: $red;
      }
    }
    .list-dotted dt {
      width: 220px;
    }
  }
}

/*  Space between inline actions */
.entity-action, .model-fields {
  margin-right: 1em;
}
/*  Shift error box */
.shared-flashmessages {
  padding-left: 15px;
}

/*  Warning message */
.red-triangle-warning {
  display: block;
  float: left;
  margin-top: 2px;
  margin-right: 10px;
  color: inherit;
  background-color: inherit;
}
.red-triangle-warning i {
  font-size: 200%;
  padding-right: 5px;
  position: relative;
  top: 3px;
}

.splPipe {
  margin: 0 5px 0 0;
  color: $grayLight;
}

.sharing-info {
  margin-right: 5px;
}

.modal-with-spinner {

  .modal-footer .shared-waitspinner {
    float: right;
    margin: 6px 3px;
  }
}
