/*  Bucket Groups
/*  --------------------------------------------------
/* Required by js/views/clustering/master/IndexesGrid.js
/* Built to cfg/bundles/splunk_monitoring_console/appserver/static/bucket-bar.css */

.bucket-group {
  display: inline-block;
  vertical-align: top;
  line-height: 0;
}

.bucket-group > .bucket {
  width: 30px;
  display: inline-block;
  height: $baseLineHeight;
  position: relative;
}

.bucket-group > .bucket.complete {
  border: 1px solid color($splunkGreen l(-6%));
  @mixin gradient-vertical color($splunkGreen l(+2%)), color($splunkGreen l(-4%));
  box-shadow: inset 0 1px 0 color($white a(20%)), 0 1px 2px color($black a(5%));
}

.bucket-group > .bucket.building {
  border: 1px solid $borderColor;
  box-shadow: inset 0 1px 0 color($white a(20%)), 0 1px 2px color($black a(5%));
  background-color: $grayLighter;
}

.bucket-group > .bucket.building > .bucket-progress-bar {
  width: 100%;
  height: 0%;
  margin: -1px;
  border: 1px solid $borderDarkColor;
  @mixin gradient-vertical color($grayLightMedium l(-7%)), color($grayLightMedium l(-12%));
  box-shadow: inset 0 1px 0 color($white a(20%)), 0 1px 2px color($black a(5%));
  position: absolute;
  bottom: 0px;
  transition: height 0.6s ease;
}

.bucket-group > .bucket.empty {
  border: 1px dashed $borderColor;
  box-shadow: inset 0 1px 0 color($white a(20%)), 0 1px 2px color($black a(5%));
}

.bucket-group > .bucket:first-child {
  margin-left: 0;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
}

.bucket-group > .bucket:last-child {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.bucket-group > .bucket:first-child  > .bucket-progress-bar {
  border-bottom-left-radius: 2px;
}

.bucket-group > .bucket:last-child  > .bucket-progress-bar {
  border-bottom-right-radius: 2px;
}

.bucket-group > .bucket:not(:first-child) {
  border-left: transparent;
}

.bucket-group > .bucket:not(:first-child) > .bucket-progress-bar {
  border-left: transparent;
  margin-left: 0px;
}
