/*  Hightlight Colors */
$greenHighlight: color($green blend($white 50%));
$yellowHighlight: color($yellow blend($white 60%));
$pinkHighlight: color($pink blend($white 50%));
$blueHighlight: color($blue blend($white 68%));
$orangeHighlight: color($orange blend($white 55%));
$salmonHighlight: color($red blend($white 78%));
$purpleHighlight: color($purple blend($white 60%));

@define-mixin highlighted-match-container  {
  .remove-button {
    position: relative;
    margin-left: 3px;
  }
}
