@import './data-enrichment-vars-mixins.pcss';

.required-text {
    background-color: $grayLightMedium;
}

.highlighted-green {
    background-color: $greenHighlight;
}

.highlighted-yellow {
    background-color: $yellowHighlight;
}

.highlighted-pink {
    background-color: $pinkHighlight;
}

.highlighted-blue {
    background-color: $blueHighlight;
}

.highlighted-orange {
    background-color: $orangeHighlight;
}

.highlighted-salmon {
    background-color: $salmonHighlight;
}

.highlighted-purple {
    background-color: $purpleHighlight;
}

.highlighted-match, .highlighted-existing-match, .required-text, .highlighted-match-selected {
  padding: 4px 3px 2px;
  border-radius: 8px;
}

.highlighted-existing-match {
  box-shadow: inset 0 0 0 3px;
}

.highlighted-match-selected {
  box-shadow: 0px 0px 2px 2px color($focusColor a(50%)) inset;
}

.preview-container {
  clear:both;
  background-color: $white;
  min-height: 300px;
  border-top: 1px solid $borderColor;
  .results-control-bar-placeholder {
    padding-left: 20px;
    padding-right: 10px;
  }

  .job-status-placeholder, .job-status-row {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .count-container, .page-count-container, .spinner-container, .search-filter-container {
    display: inline-block;
  }

  .search-filter-container {
    padding-right: 20px;
    .control-group {
      display: inline-block;
      .control-label {
        margin-top: 5px;
      }

      .controls {
        display: inline-block;
      }
    }
  }

  .pagination-container {
    display: inline;
  }

  .controls-row .filter-input-control {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 0;

    .filter-input {
        margin-bottom: 0;
    }
  }

  .shared-flashmessages {
    padding-left: 50px;
    padding-top: 25px;
  }

  .controls-row {
    padding-bottom: 10px;
    clear: both;
  }

  .apply-filter-button {
    margin-right: 40px;
  }
}

.preview-view-stack {
  margin-top: -1px;

  .nav-tabs {
    background-image: none;

    .results-tab-last {
      margin-right: 10px;
    }
  }

  .tab-content {
    overflow: visible;
  }

}

/*  Only apply coloring to tabs when previewing a regular expression extraction (SPL-87790). */
.rex-preview-view-stack {

  .adjustTabColoringMargin{
    .tab-label:before{
      margin-left: 4px;
    }
  }
  .tab-label:before {
    content: '';
    position: absolute;
    left: 0;
    margin-left: -3px;
    margin-right: 4px;
    right: 0;
    top: 1px;
    border-top: 3.5px solid transparent;
  }

  li:nth-child(7n+2) .tab-label:before {
    border-color: $greenHighlight;
  }

  li:nth-child(7n+3) .tab-label:before {
    border-color: $yellowHighlight;
  }

  li:nth-child(7n+4) .tab-label:before {
    border-color: $pinkHighlight;
  }

  li:nth-child(7n+5) .tab-label:before {
    border-color: $blueHighlight;
  }

  li:nth-child(7n+6) .tab-label:before {
    border-color: $orangeHighlight;
  }

  li:nth-child(7n+7) .tab-label:before {
    border-color: $salmonHighlight;
  }

  li:nth-child(7n+8) .tab-label:before {
    border-color: $purpleHighlight;
  }

}

.interactive-extraction-cell {
  @mixin highlighted-match-container;
  white-space: pre-wrap !important;
  font-family: $monoFontFamily;
}

.field-extraction-form {
    padding: 10px;
    &:last-child {
        margin: 0;
    }
    $labelWidth: 75px;
    .control-label {
        width: $labelWidth;
        text-align: left;
        text-align: left;
    }
    .controls {
        margin-left: calc($labelWidth + 10px);
    }
    .buttons-container {
        padding-top: 5px;
        border-top: 1px solid $borderColor;
        text-align: right;
    }
}

.results-table {
  .graph-bar {
    margin: 0 20px 0 0;
    height: $baseLineHeight;
    background-color: $grayLight;
    @mixin gradient-vertical $grayLightMedium, $grayLight;
  /*  SPL-74434 */
    max-width: 100%;
  }
}
