.manager-container {
    padding: 20px;
    background-color: $white;
}

.manager-header {
    padding: 15px 20px;
    clear: both;
    h1 {
        font-size: 24px;
        margin: 0;
        font-weight: normal;
    }
    p {
        margin: 10px 0 0;
    }
}
