/*  Splunk: Component: Select 2 */
/*  =========================== */
/*  styles for select2 form elements */

/*  synthetic select */
/*  --------------------------- */

/*

	markup missing

*/
/*  TODO: clean up these selectors */
.splunk-multidropdown, .splunk-dropdown, .shared-controls-multiinputcontrol {
  .select2-container, .select2-container-multi {
    min-width: 200px;
    margin-bottom: calc($baseLineHeight / 2);

    .select2-choices{
      min-height: 0px;
      border-radius: $inputBorderRadius;
      background-color: $inputBackground;
      border: 1px solid $inputBorder;
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
      transition: border linear .2s, box-shadow linear .2s;


      .select2-search-field{
        height: 24px;
      }

      .select2-search-choice{
        margin: 2px;
        @mixin interactive;
        border-radius: 2px;

        .select2-search-choice-close {
          top: 2px;
        }
        div {
          line-height: 16px;
          margin-top: -2px;
          margin-bottom: -1px;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }

    /*  synthetic select */
    .select2-choice {
      @mixin interactive;
      height: 24px;
      line-height: 24px;
      &:hover {
        @mixin interactive-hover;
      }
      /*  toggle caret */
      div {
        width: auto;
        padding-left: 8px;
        padding-right: 8px;
        background: transparent;
        border-left: none;
        /*  generated font icon */
        &:after {
          display: inline-block;
          font-family: "Splunk Icons";
          content: "\25BE";
          font-size: inherit;
          opacity: 0.80;
        }
        &:hover {
          opacity: 1.0;
        }

      }
      /*  hide old caret */
      div b {
        display: none;
      }
      .select2-search-choice-close {
        background: none;
        background-image: none !important;
        top: 1px;
        &:before {
          display: inline-block;
          font-family: "Splunk Icons";
          content: "\2297";
          font-size: 16px;
          opacity: 0.80;
        }
        &:hover {
          opacity: 1;
        }
      }

    }
    .select2-dropdown-open {
      /*  do up arrow? */
    }
  }
}

/*  dropdown menu */
/*  ------------------------- */

/*

	markup missing

*/
.select2-drop {

	.select2-search {
		/*  style like bs input */
		padding: 0 5px;
		input {
			border-radius: 15px;
			margin-bottom: 5px;
		}
	}
	/*  ul */
	.select2-results {
		/*  style like dropdown */
		border-top: 1px solid $borderColor;
		border-radius: $containerInnerBorderRadius;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		background-color: $white;
		padding: 0;
		margin: 0;
		/*  li */
		.select2-result-selectable {
			background-color: $white;
			border-top: 1px dotted $borderColor;
			color: $linkColor;
			&:hover {
				color: $linkColorHover;
				background: $pillBackgroundColorHover;
			}
			&:first-child {
				border-top: none;
			}
			&:last-child {
				border-bottom-left-radius: $containerInnerBorderRadius;
				border-bottom-right-radius: $containerInnerBorderRadius;
			}
		}
        .select2-result div {
            overflow: hidden;
            text-overflow: ellipsis;
        }
	}
	/*  no result state */
	.select2-no-results {
		text-align: center;
		color: $red;
		padding: 5px 0;
	}
}

.select2-drop-multi.select2-drop-above .select2-results {
    border-top:none;
    border-top-left-radius: $containerInnerBorderRadius;
    border-top-right-radius: $containerInnerBorderRadius;
}




/*  Focus state */

.select2-container-active .select2-choice,
.select2-container-active .select2-choices,
.select2-dropdown-open.select2-drop-above .select2-choice,
.select2-dropdown-open.select2-drop-above .select2-choices,
.select2-drop-active,
.select2-drop.select2-drop-above.select2-drop-active,
.splunk-multidropdown .select2-container-multi .select2-choices {
  border-color: color($focusColor a(80%));
}


.splunk-dropdown .select2-container.select2-container-active,
.splunk-multidropdown .select2-container-multi.select2-container-active .select2-choices {
  outline: 0;
  outline: thin dotted \9; /* IE6-9 */
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
}

.shared-controls-multiinputcontrol .select2-container-multi.select2-dropdown-open .select2-choices,
.splunk-multidropdown .select2-container-multi.select2-dropdown-open .select2-choices
 {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.select2-drop .select2-results .select2-result-selectable.select2-highlighted .select2-result-label{
  color: $linkColorHover;
  background: $pillBackgroundColorHover;
}

/*  custom "no results" behavior that shows an empty drop-down with no messaging or greyed out colors */
/*  used by views/shared/controls/MultiInputControl */
.select2-drop.empty-results-allowed {
    .select2-no-results {
        background-color: $white;
        padding: 3px 7px 4px;
    }
}

/*  make sure the synthetic container will respect the "controls-block" of its parent */
.select2-container {
    width: 100%;
}
