#
# Copyright 2021 Splunk Inc.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
# Source code
/src/
/test/
/demo/

# Tools
/.babelrc*
.eslintrc.*
.eslintignore
/stylelint.config.js
.stylelintignore
/webpack.config.js

# Testing
/coverage_report/
/functional.settings.js
/functional.*.conf.js
/functional-temp
/splunktional.settings.js
/splunktional.*.conf.js
/splunktional-temp
/test-reports/
/karma.conf.js
/jest.config.js
/webpack.test.config.js
/*hooks.js
/test-app

# Misc
/docs.manifest.json
/docs
/docs.gen*
/.npmignore
npm-debug.log
yarn-error.log
/licenses.json
/*.tgz
