$formWidth: 600px;

@mixin application-layout 400px;

.shared-page {
  position: relative;
}

.settings-wrapper {
  height: 100%;
}

/* flash messages section */
.shared-flashmessages {
  padding-left: 20px;
  width: $formWidth;
}

.shared-flashmessages .alert {
  margin: 0;
}

.search-results-wrapper {
  z-index: 99;
  clear: none;
}

/* remove extra bottom border from static header */
.header-table-static .header-table-wrapper {
  border: 0;
}

.pageHeading {
    margin:20px;
}

.pageHeading .title {
    font-weight: bold;
    font-size: 20px;
}

.modularInputView {
  height:100%;
}

.modularInputWrapper {
  height:100%;
}

/* Lite */
.lite {
    .main-section-body {
        top: 40px;
    }
}

.inputform_wrapper p {
  margin-bottom:30px;
}

.fileRemote p {
  margin-bottom:30px;
}

.fileUpload {
    margin-bottom:30px;
  
	h1 {
	  font-size: 24px;
	  font-weight:200;
	}
	
	input {
	  line-height: 1em;
      width: 80px;
	}
	
	.progress {
	  margin:0px 10px;
	  width: 578px;
	}
	
	.max-filesize {
		text-align: center;
		display: block;
		width:600px;
	}
}

.shared-waitspinner {
  margin-left: auto;
  margin-right: auto;
}

.spinner-placeholder {
  left: 0;
  right: 0;
  top: 80px;
  position: absolute;
  text-align: center;
}

.adddata-inputforms-wineventlogslocal .accumulator {
  width: 700px;
}

.adddata-inputforms-wineventlogslocal .net-port .control-label {
  width: 100px;
  margin-top:30%;
}

.adddata-inputforms-wineventlogslocal .net-port .controls {
  margin-left: 110px;
}

/* Data Source */
.inputForm {
  margin:20px;
}

.input-intro {
	width: $formWidth;
}

.inputform_wrapper {
  width: $formWidth;
  margin-bottom: 20px;
}

.form-horizontal .control-label {
  width: 170px;
}

.form-horizontal .controls {
  margin-left: 180px;
}

.form-horizontal .control-group {
  margin-bottom: 20px;
}

.shared-controls-textbrowsecontrol {
  width: 100%;
}

.shared-controls-textbrowsecontrol input {
  width: 77%;
}

.shared-controls-textbrowsecontrol button {
  width: 20%;
}

.inline {
  float: left;
  padding-left: 10px;
}

.form-section-label {
  color: green;
}

.modularInputIframe {
  width:100%;
  height:100%;
}

.modularInputWrapper iframe {
  border: 0;
}

#initial_prompt {
  left: 0;
  right: 0;
  top: 80px;
  position: absolute;
  font-size: 20px;
  font-weight: 200;
  text-align: center;
  color: $grayLight
}

.faq {
	margin-left: -20px;
	margin-right: -20px;
	background-color: $grayLighter;
	clear:both;
  /* overflow: hidden; */
}

/* Header */
.adddatalink {
  color: black;
  text-decoration: none;
}

.addDataHeader {
  padding-top: 0px !important;
}
.addDataTitle {
  float: left;
  height: 30px;
  margin: 20px !important;
}

#wizardAlert {
  font-size: 14px;
  line-height: 70px;
  float: left;
}

.icon-alert {
  color: #D85D3C;
  font-size: 150%;
  margin-right: 10px;
}

#wizard-placeholder {
  float: left;
}
#btnExit {
  white-space: nowrap;
  float: right;
  margin: 30px;
}

.layoutColRight {
    border-left:1px solid  $borderColor;
}

.layoutBodyColumns{
  border-top:1px solid  $borderColor;
}
