/*  Splunk: Page: show HTML */
/*  ======================== */

/*  TODO: use a mixin */
h2,.btn,a {
	-webkit-touch-callout: none;
	user-select: none;
}

.container {
	width: 90%;
	.row {
		clear: both;
		.btn {
			margin-bottom: 5px;
		}
	}
}

.prettyprint {
	code,pre {
		font-size: 14px;
	}
}

textarea {
	width: 100%;
	min-height: 500px;
	box-sizing: border-box;
	font-familiy: $monoFontFamily;
	font-size: 14px;
	border: none;
}
