/**
* $author ecarillo
* $date 5/20/2015
* Shared less file for views/indexes/core/AddEditIndexDialog.js
* Currently used by AddData and Enterprise Index Management
*/
.indexes-modal {
  .size-format-placeholder {
    .controls {
      > div {
        display: inline-block;

        vertical-align: top;

        &.shared-controls-textcontrol {
          z-index: 1;
          width: 75%;
          span,
          input {
            width:100%;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            box-sizing: border-box;
            min-height: 26px;
          }
        }
        &.shared-controls-syntheticselectcontrol {
         width: 25%; 
         .btn {
            width:100%;
            margin-left: -1px;
            box-sizing: border-box;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
          }
          .dropdown-menu li > a > .link-description {
            display: inline;
            vertical-align: top;
            margin-left: 5px;
          }
        }
      }
    }
  }
  .archive-placeholder {
    .shared-controls-syntheticselectcontrol {
      .dropdown-toggle {
        .link-label {
          max-width: 180px;
          overflow: hidden;
          text-overflow: ellipsis;
          display: inline-block;
          vertical-align: middle;
        }
      }
    }
  }
  .shared-waitspinner {
    display: inline-block;

    margin: -10px 5px;
  }
}
