.risky-command-dialog {
    z-index: calc($zindexModal + 1);
    .alert-warning {
        position: relative;
        word-wrap: break-word;
        padding: 0px 0px 0px 27px;
        ul {
            margin-top: 8px;
        }
        > div:first-child {
            padding-bottom: 8px;
        }
        a.learn-more-link {
            padding-left: 5px;
        }
    }
    .icon-alert {
        font-size: 200%;
        position: absolute;
        left: 0px;
        top: 2px;
    }
}