[{"login": "taautotest@splunk.com",
               "email": "taautotest@splunk.com",
               "firstName": "AutoTA",
               "lastName": "Zhang"},
{"login": "taautotest2@splunk.com",
               "email": "taautotest2@splunk.com",
               "firstName": "AutoTA",
               "lastName": "Zhang"}]