name: docs
on:
  push:
    branches:
      - main
jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pages: write
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: 3.7
      - uses: actions/setup-node@v3
        with:
          node-version: "18"
      - name: install deps
        uses: ./github/actions/cached-ui-deps
        with:
          node-version: "18"
      - name: Build Storybook
        run: |
          cd ui
          yarn run build-storybook
          cp -R storybook-static ../docs/storybook
          cd ../
      - run: |
          curl -sSL https://install.python-poetry.org | python3 - --version 1.5.1
          poetry install
      - run: poetry run mkdocs gh-deploy --force
