name: "Storybook Visual"
on:
  workflow_call:

jobs:
  update-screenshots:
    defaults:
      run:
        working-directory: ui
        shell: bash
    runs-on: ubuntu-22.04
    env:
      isPR: ${{ github.event.pull_request.base.ref == 'develop' || github.event.pull_request.base.ref == 'main' }}
    steps:
      - uses: actions/checkout@v5
        with:
          lfs: true
          ref: ${{ github.event.pull_request.head.ref }}
      - name: install deps
        uses: ./.github/actions/cached-ui-deps
      - name: Install Playwright
        run: yarn playwright install
      - name: Build Storybook
        run: yarn build-storybook --quiet
      - name: Serve Storybook and update screenshots
        run: |
          # for LC_ALL see https://github.com/microsoft/playwright/issues/34046
          LC_ALL=en_US npx concurrently --kill-others --success first -n "SB,TEST" \
            "npx http-server storybook-static --port 6006 --silent" \
            "npx wait-on tcp:6006 && yarn test-storybook ${{ env.isPR && '-u' || ''}}"
      - name: Import GPG key
        if: ${{ env.isPR }}
        uses: crazy-max/ghaction-import-gpg@v6
        with:
          git_committer_name: ${{ secrets.SA_GH_USER_NAME }}
          git_committer_email: ${{ secrets.SA_GH_USER_EMAIL }}
          gpg_private_key: ${{ secrets.SA_GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.SA_GPG_PASSPHRASE }}
          git_user_signingkey: true
          git_commit_gpgsign: true
      - name: Push updated screenshots
        if: ${{ env.isPR }}
        run: |
          git add \*.png
          git diff --staged --exit-code || (git commit -S -m "update screenshots" && git push)
      - uses: actions/upload-artifact@v5
        name: "Upload test report"
        if: ${{ failure() }}
        with:
          name: storybook-tests-report
          path: ui/test-reports/
