/*!
 * Debug styles
 * extra mixins and classes for debugging and navigation
 */


.navbar-fixed-top .navbar-inner {
    background: $grayDarker;
    border-bottom: none;
    min-height: 20px;
    box-shadow: none;
}


.navbar .nav > li > a {
    text-shadow:none;
    line-height: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    &:hover {
        color: $white;
    }
}

.navbar .nav > li.active a{
    &, &:hover {
        background: $bodyBackgroundColor;
        box-shadow: none;
        cursor: poiner;
    }
}


.navbar .brand {
    color: $white;
    text-shadow:none;
    font-family: "Splunk Icons";
    -webkit-font-smoothing: antialiased;
    padding-top: 5px;
    padding-bottom: 5px;

    b {
        font-weight: normal;
    }
}

/*
Extract vars:

	@(.*):.*

	.$1{.debug(@$1)}

Dump vars:

	\.(.+)\{.*\}

	<dt>$1</dt>
	<dd class="$1"></dd>
*/

/*  base styles */

@define-mixin debug $var {
	background-color:$var;
	color:$textColor;
	word-break:break-all;
    overflow: hidden;

	> span {
        display: block;
        margin: -5px -5px 0 -5px;
        padding: 3px 5px;
		opacity: 0.8;
        background-color: color($white a(50%));
	}
}


/*  preview vars ... */
.debug {

	/*  Grays */
	/*  ------------------------- */
	.black{@mixin debug $black;}
	.grayDarker{@mixin debug $grayDarker;}
	.grayDark{@mixin debug $grayDark;}
	.gray{@mixin debug $gray;}
	.grayLight{@mixin debug $grayLight;}
	.grayLightMedium{@mixin debug $grayLightMedium;}
	.grayLighter{@mixin debug $grayLighter;}
	.white{@mixin debug $white;}


	/*  Accent colors */
	/*  ------------------------- */
	.blue{@mixin debug $blue;}
	.blueDark{@mixin debug $blueDark;}
	.green{@mixin debug $green;}
	.red{@mixin debug $red;}
	.yellow{@mixin debug $yellow;}
	.yellowLight{@mixin debug $yellowLight;}
	.yellowLighter{@mixin debug $yellowLighter;}
	.orange{@mixin debug $orange;}
	.pink{@mixin debug $pink;}
	.purple{@mixin debug $purple;}
	.teal{@mixin debug $teal;}
	.offWhite{@mixin debug $offWhite;}

	/*  Scaffolding */
	/*  ------------------------- */
	.bodyBackgroundColor{@mixin debug $bodyBackgroundColor;}
	.textColor{@mixin debug $textColor;}
	.containerBackgroundColor{@mixin debug $containerBackgroundColor;}

	/*  Links */
	/*  ------------------------- */
	.linkColor{@mixin debug $linkColor;}
	.linkColorHover{@mixin debug $linkColorHover;}

	/*  Tables */
	/*  ------------------------- */
	.tableBackgroundHover{@mixin debug $tableBackgroundHover;}
	.tableBackgroundAccent{@mixin debug $tableBackgroundAccent;}
	.tableBackgroundAccentHover{@mixin debug $tableBackgroundAccentHover;}
	.tableBorder{@mixin debug $tableBorder;}
	.tableBorderVertical{@mixin debug $tableBorderVertical;}


	/*  Forms */
	/*  ------------------------- */
	.inputBackground{@mixin debug $inputBackground;}
	.inputBorder{@mixin debug $inputBorder;}
	.inputDisabledBackground{@mixin debug $inputDisabledBackground;}


	/*  Dropdowns */
	/*  ------------------------- */
	.dropdownBackground{@mixin debug $white;}
	.dropdownBorder{@mixin debug $borderColor;}



	/*  COMPONENT VARIABLES */
	/*  ================================================== */



	/*  Form states and alerts */
	/*  ------------------------- */
	.warningText{@mixin debug $warningText;}
	.warningBackground{@mixin debug $warningBackground;}
	.warningBorder{@mixin debug $warningBorder;}

	.errorText{@mixin debug $errorText;}
	.errorBackground{@mixin debug $errorBackground;}
	.errorBorder{@mixin debug $errorBorder;}

	.successText{@mixin debug $successText;}
	.successBackground{@mixin debug $successBackground;}
	.successBorder{@mixin debug $successBorder;}

	.infoText{@mixin debug $infoText;}
	.infoBackground{@mixin debug $infoBackground;}
	.infoBorder{@mixin debug $infoBorder;}







	/*  SPLUNK VARS */
	/*  ================================================== */

	/*  Color Palette */
	/*  -------------------------- */

	/*  primary */
	.black{@mixin debug $black;}
	.white{@mixin debug $white;}
	.splunkGray{@mixin debug $splunkGray;}
	/*  secondary */
	.splunkGreen{@mixin debug $splunkGreen;}
	.orange{@mixin debug $orange;}


	/*  BASE INTERACTIVE */
	/*  -------------------------- */

	/*  text */
	.interactiveColor{@mixin debug $interactiveColor;}

	/*  background */
	.interactiveBackgroundColor{@mixin debug $interactiveBackgroundColor;}
	.interactiveGradientStartColor{@mixin debug $interactiveGradientStartColor;}
	.interactiveGradientEndColor{@mixin debug $interactiveGradientEndColor;}
	.interactiveBackgroundColorHover{@mixin debug $interactiveBackgroundColorHover;}
	.interactiveGradientStartColorHover{@mixin debug $interactiveGradientStartColorHover;}
	.interactiveGradientEndColorHover{@mixin debug $interactiveGradientEndColorHover;}
	/*  borders */
	.interactiveBorderColor{@mixin debug $interactiveBorderColor;}
	.interactiveBorderTopColor{@mixin debug $interactiveBorderTopColor;}
	.interactiveBorderBottomColor{@mixin debug $interactiveBorderBottomColor;}
	.interactiveBorderTopColorHover{@mixin debug $interactiveBorderTopColorHover;}
	.interactiveBorderBottomColorHover{@mixin debug $interactiveBorderBottomColorHover;}
	.interactiveBorderColorHover{@mixin debug $interactiveBorderColorHover;}

	/*  PRIMARY BUTTONS */
	/*  -------------------------- */

	/*  text */
	.primaryTextColor{@mixin debug $primaryTextColor;}
	/*  background */
	.primaryBackgroundColor{@mixin debug $primaryBackgroundColor;}
	.primaryGradientStartColor{@mixin debug $primaryGradientStartColor;}
	.primaryGradientEndColor{@mixin debug $primaryGradientEndColor;}
	.primaryBackgroundColorHover{@mixin debug $primaryBackgroundColorHover;}
	.primaryGradientStartColorHover{@mixin debug $primaryGradientStartColorHover;}
	.primaryGradientEndColorHover{@mixin debug $primaryGradientEndColorHover;}
	/*  borders */
	.primaryBorderColor{@mixin debug $primaryBorderColor;}
	.primaryBorderTopColor{@mixin debug $primaryBorderTopColor;}
	.primaryBorderBottomColor{@mixin debug $primaryBorderBottomColor;}
	.primaryBorderColorHover{@mixin debug $primaryBorderColorHover;}
	.primaryBorderTopColorHover{@mixin debug $primaryBorderTopColorHover;}
	.primaryBorderBottomColorHover{@mixin debug $primaryBorderBottomColorHover;}


	/*  PILL BUTTONS */
	/*  -------------------------- */

	/*  text */
	.pillTextColor{@mixin debug $pillTextColor;}
	.pillTextColorHover{@mixin debug $pillTextColorHover;}
	/*  background */
	.pillBackgroundColorHover{@mixin debug $pillBackgroundColorHover;}

}



body {margin-top:50px !important;}
.navbar-fixed-top {
    position: fixed !important;
    z-index: 2000 !important;
}
.content {
    margin: 0 20px 20px  320px;
    border-radius: 4px;
}
.content h1 {
    font-size: 24px;
    font-weight: 200;
    margin: 0;
}
.wrapper .docs-sidebar {width: 270px; margin-left: 20px; }
.wrapper .docs-sidebar .nav > li {line-height: 20px;}
.wrapper .docs-sidebar .nav > li > a:hover {background: #08C; color: #fff;}
.footer {clear:both;text-align:center;}
.clear {clear:both;}
.section {clear:both;margin-bottom:1em;padding-top: 40px;}
body.dark .section {background-color:#000;}
body.light .section {background-color:#fff;}
body.medium .section {background-color:#7D7D7D;}
ul.color-list {
    overflow:hidden;
    padding: 0;
    margin: 0 0 20px 0;
}
ul.color-list li {
    display:block;
    float:left;
    width:120px;
    height:120px;
    margin: 0 20px 20px 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
    padding: 5px;
    border-radius: 4px;
    border: 1px solid rgba(0,0,0,0.2);
}
.the-icons {
    list-style:none;
}
.the-icons li[class^="icon-"]:before,
.the-icons li[class*=" icon-"]:before
{
    text-align: center;
    display: inline-block;
    min-width: 32px;
    padding-right: 5px;
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
}
.the-icons li[class^="icon-"]:hover:before,
.the-icons li[class*=" icon-"]:hover:before {
    font-size: 36px;
}
.the-icons li[class^="icon-"],
.the-icons li[class*=" icon-"] {
    cursor: pointer;
    height: 36px;
    line-height: 24px;
    margin-top: -3px;
}
.the-icons li > h5 {

    margin-top: 20px;
    margin-bottom: 10px;

}
.docs-example:after {
    background-color: whiteSmoke;
    border: 1px solid #CCC;
    border-radius: 2px 0 2px 0;
    color: #9DA0A4;
    content: "Example";
    font-size: 12px;
    font-weight: bold;
    left: -1px;
    padding: 3px 7px;
    position: absolute;
    top: -1px;
}
.docs-example {
    margin: 15px 0;
    padding: 39px 20px 14px;
    position: relative;
    z-index: auto;

    position: relative;
    border: 1px solid #CCC;
    background-color: #FFF;
    border-radius: 2px;

    .nav-tabs  {
        overflow: hidden
    }
}
#navigation .docs-example {
    padding-left: 0;
}
.docs-example  .popdown-dialog {
    z-index: 1;
}
.docs-example + .prettyprint {
    margin-top: -20px;
    padding-top: 15px;
}

/*sidebar*/
.docs-sidenav {
  width: 270px;
  margin: 30px 0 0;
  padding: 0;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 1px 4px rgba(0,0,0,.065);
}
.docs-sidenav > li > a {
  display: block;
  margin: 0 0 -1px;
  padding: 0 19px;
  line-height: 28px;
  border: 1px solid #a9a9a9;
  border-top-color: #B6B6B6;
  border-bottom:  1px dotted #DDD;
  margin-left: 0;
  margin-right: 0;
}

.docs-sidenav > li + li > a {
  border-top:  none;
}
.docs-sidenav > li:last-child > a {
    border-bottom: 1px solid #909090;
}


.docs-sidenav > li:first-child > a {
    border-radius: 6px 6px 0 0;
}
.docs-sidenav > li:last-child > a {
    border-radius: 0 0 6px 6px;
}
.docs-sidenav > .active > a {
  position: relative;
  z-index: 2;
  padding: 9px 15px;
  border: 0;
  text-shadow: 0 1px 0 rgba(0,0,0,.15);
  box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
}
.docs-sidenav.affix {
  top: 27px;
}
.docs-sidenav.affix-bottom {
  position: absolute;
  top: auto;
  bottom: 270px;
}

.wrapper .docs-sidenav > li > a {
    margin: 0;
}
.docs-sidebar .nav-list {
    padding-right: 0;
    padding-left: 0;
}


/* **************** OOCSS GRIDS ***************** */
.line:after{content: ".";display: block;height: 0;clear: both;visibility: hidden;}
.lastUnit:after{content: " . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ";visibility:hidden; clear:both;height:0 !important;display:block;line-height:0;}
.line{*zoom:1;}
.unit{float:left;}
.size1of1{float:none;}
.size1of2{width:50%;}
.size1of3{width:33.33333%;}
.size2of3{width:66.66666%;}
.size1of4{width:25%;}
.size3of4{width:75%;}
.size1of5{width:20%;}
.size2of5{width:40%;}
.size3of5{width:60%;}
.size4of5{width:80%;}
.lastUnit {display: table-cell; *display:block;*zoom:1;float:none;_position:relative; _left:-3px; _margin-right: -3px;width:auto;}
