@import "../../../../bower_components/SplunkWebCore/search_mrsparkle/exposed/pcss/base/bootstrap.pcss";
@import "../../../../bower_components/SplunkWebCore/search_mrsparkle/exposed/js/views/dashboard/DashboardPage.pcss";
/* Add any other necessary core style sheets here. In the previous version,
 the style sheet for select2 was included on the page directly. I do not think
 this will be necessary anymore because that style sheet is included with the
 javscript that depends on it. */

/* Add app specific bootstrap styles here */
